<form [formGroup]="pdpForm" class="tf-form tf-form--group-seperator-dashed">

	<tf-portlet class="main-portlet-form mr-4" id="portlet-ar">
		<div class="tf-portlet-header ">
			<span class="title">
			  <a [routerLink]="['/plan-de-prevention/list']">{{'MENU.SUB_PDP.LIST' | translate}}</a>
			  <span class="divider">></span>
			  <span class="id-item">{{'MENU.SUB_PDP.ADD' | translate}}</span>
			</span>
		</div>
				<ul nz-menu nzMode="horizontal" class="text-center mb-5 mt-3">
					<li class="font-weight-bold textXl " nz-submenu nzTitle="{{'PDP.PIMAN' | translate}}"  >
						<ul>
						  <li nz-menu-group nzTitle="Type">
							<ul>
							  <li nz-menu-item (click)="selectPdp('piman-b')">Bureau</li>
							  <li nz-menu-item nzSelected (click)="selectPdp('piman-t')" >Terrain</li>
							</ul>
						  </li>

						</ul>
					  </li>
					<li class=" font-weight-bold textXl" nz-menu-item (click)="selectPdp('client')" >
						{{'PDP.CLIENT' | translate}}
					</li>




				  </ul>




		<tf-pdp-add-form *ngIf="typePdp == 'piman-t'"  class="pl-4 pr-4" (onLastStep)="isLastStep($event)" [formStatus]="formStatus"
						 [adding]="adding"
						 [pdpForm]="pdpForm" [_pdp]="pdp"></tf-pdp-add-form>


		<div class="container" *ngIf="typePdp=='client'">
			<h2>Pdp Client</h2>
		</div>
		</tf-portlet>


	<!--	|| pdpForm.invalid-->
	<!--	pdpForm.valid &&-->
	<button mat-raised-button *ngIf="enableBtn"
			[ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': formloading}"
			[disabled]="formloading" class="btn float-right btn-save mr-4" (click)="onSubmit()">
		{{'ACTION.SAVE' | translate}}
	</button>

</form>
