@import "../../../../../assets/sass/config";

:host::ng-deep{
	.textXl{
		font-size: 20px!important;
	}
	.mat-form-field-appearance-legacy .mat-form-field-underline{
		background-color: rgb(139, 139, 139)
	}
	.ant-menu-horizontal > .ant-menu-submenu-selected {
		color: $color-default;
		border-bottom: 2px solid $color-default;
	}
	.ant-menu-horizontal > .ant-menu-item-selected{
		color: $color-default;
		border-bottom: 2px solid $color-default;
	}
	.ant-menu-submenu-title:hover{
		color: $color-default;
	}
	.ant-menu-horizontal > .ant-menu-item:hover{
		color: $color-default;
		border-bottom: 2px solid $color-default;
	}


}
.btnCustom{
	border-radius: 10px;
	box-shadow: 20px 23px 54px 0 rgba(0, 0, 0, 0.16);
	background-image: linear-gradient(to left, #61e3b6 111%, #35c1c9 38%, #079dde -40%);
	color: white;
}
.modal-header{
	position: relative!important;
}
.close{
	right: 0.4rem;
	top: 0.2rem;
}
