<tf-portlet >
	<tf-portlet-header [title]="'Chantiers'" [stats]="stats ? getHeaderStats() : ''"></tf-portlet-header>
	<tf-portlet-body [class]="'tf-portlet__body--fit'">
		<div class="row row-no-padding">
			<!-- <div class="col-xl-4" style="padding: 1.5em 1.5em 0 1.5em;">
				<div class="row">
					<div class="col-12">
						<tf-widget-indicator [value]="stats.total_chantiers" [valueClass]="'text-success'" [desc]="'Total Chantiers'" *ngIf="stats; else loading"></tf-widget-indicator>
					</div>
					<div class="col-12">
						<tf-widget-indicator [value]="stats.total_chantiers_in_progress" [valueClass]="'text-warning'" [desc]="'Total Chantiers en cours'"  *ngIf="stats; else loading"></tf-widget-indicator>
					</div>
					<div class="col-12">
						<tf-widget-indicator [value]="stats.total_chantiers_finished" [valueClass]="'text-success'" [desc]="'Total Chantiers terminés'" *ngIf="stats; else loading"></tf-widget-indicator>
					</div>
				</div>
			</div> -->
			<div class="col-12" style="padding:1em">
				<div class="dash-title">Nombre de chantiers par mois</div>
				<div echarts class="demo-chart" #evolChantiers></div>
			</div>
		</div>
	</tf-portlet-body>
</tf-portlet>

<ng-template #loading>
	<span class="tf-widget12__value"></span>
</ng-template>

