<tf-portlet>
	<tf-portlet-header [title]="'Chantiers'"></tf-portlet-header>
	<tf-portlet-body [class]="'tf-portlet__body--fit'">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-xl-2">
				<tf-portlet-body>
					<tf-widget-indicator-list [data]="chantierIndicatorlist"></tf-widget-indicator-list>
				</tf-portlet-body>
			</div>
			<div class="col-xl-10" style="padding: 10px;">
				<div class="dash-title">Nombre de chantiers par mois</div>
				<div echarts class="demo-chart" #evolChantiers></div>
			</div>
		</div>
	</tf-portlet-body>
</tf-portlet>
