<tf-user-filter [(ngModel)]="filter" (change)="getUsers()"></tf-user-filter>
<tf-portlet>
	<tf-portlet-header [title]="'Users list'" [class]="'tf-portlet__head--lg'">
		<ng-container tfPortletTools>
			<button [routerLink]="['../users/add']" mat-raised-button color="primary" matTooltip="Create new User">
				New user
			</button>
		</ng-container>
	</tf-portlet-header>
	<tf-portlet-body>

		<div class="tf-datatable tf-datatable--default tf-datatable--brand tf-datatable--loaded">
			
			<table class="table" style="display: block;" *ngIf="usersResult">
				<thead class="tf-datatable__head">
					<tr class="tf-datatable__row" style="left: 0px;">
						<td data-field="RecordID"
							class="tf-datatable__cell--center tf-datatable__cell tf-datatable__cell--check checkbox"
							style="
							min-width: 32px;
							width: 67px">
							<span style="width: 20px;"><label
									class="tf-checkbox tf-checkbox--single tf-checkbox--all tf-checkbox--solid"><input
										type="checkbox"
										[checked]="selection.selected.length == usersResult.data.length" />&nbsp;<span></span></label></span>
						</td>
						<td data-field="Username" class="tf-datatable__cell tf-datatable__cell--sort" style="width:10%">
							<span class="tf-font-bolder">{{'AUTH.INPUT.USERNAME' | translate}}</span>
						</td>
						<td data-field="Email"
							class="tf-datatable__cell tf-datatable__cell--sort tf-datatable__cell--sort" style="width:10%">
							<span class="tf-font-bolder">{{'AUTH.INPUT.EMAIL' | translate}}</span>
						</td>
						<td data-field="FullName" class="tf-datatable__cell tf-datatable__cell--sort" style="width:10%">
							<span class="tf-font-bolder">{{'AUTH.INPUT.FULLNAME' | translate}}</span>
						</td>
						<td data-field="Code" class="tf-datatable__cell tf-datatable__cell--sort" style="width:10%">
							<span class="tf-font-bolder">{{'AUTH.INPUT.CODE' | translate}}</span>
						</td>
						<td data-field="Actions" data-autohide-disabled="false"
							class="tf-datatable__cell tf-datatable__cell--sort" style="width:10%">
							<span class="tf-font-bolder">{{'AUTH.INPUT.PHONE' | translate}}</span>
						</td>

						<td data-field="Actions" data-autohide-disabled="false"
							class="tf-datatable__cell tf-datatable__cell--sort" style="width:10%">
							<span class="tf-font-bolder">Role</span>
						</td>

						<td data-field="Delivery" data-autohide-disabled="false"
							class="tf-datatable__cell tf-datatable__cell--sort" style="width:10%">
							<span class="tf-font-bolder">Actions</span>
						</td>
					</tr>
				</thead>
				<tbody class="tf-datatable__body">
					<tr *ngFor="let user of usersResult?.data;let i = index"
						class="tf-datatable__row tf-datatable__row--even">
						<td class="tf-datatable__cell--center tf-datatable__cell tf-datatable__cell--check checkbox"
							data-field="Checked" style="width:67px" (click)="$event.stopPropagation()">
							<span class="checkbox-width"><label style="width: 20px;"
									class="tf-checkbox tf-checkbox--single tf-checkbox--solid"><input
										(click)="selection.toggle(costing)" [checked]="selection.isSelected(costing)"
										type="checkbox" value="71" />&nbsp;<span></span></label></span>
						</td>
						<td data-field="Number" class="tf-datatable__cell" style="width:15%">
							<span>{{user.username}}</span>
						</td>
						<td class="tf-datatable__cell--sorted tf-datatable__cell" data-field="Customer" style="width:17%">
							<span>{{user.email}}</span>
						</td>
						<td data-field="Fullname" class="tf-datatable__cell" style="width:15%">
							<span>{{user.fullname}}</span>
						</td>
						<td data-field="Code" class="tf-datatable__cell" style="width:10%">
							<span>{{user.code}}</span>
						</td>
						<td data-field="Phone" class="tf-datatable__cell" style="width:15%">
							<span>{{user.phone}}</span>
						</td>
						<td data-field="Status" class="tf-datatable__cell" style="width:17%">
							<span class="tf-badge tf-badge--dot"
								[ngClass]="{'Administrator':'tf-badge--info','Manager':'tf-badge--success','Guest':'tf-badge--danger'}[user.role.title]"></span>&nbsp;
							<span class="tf-font-bold "
								[ngClass]="{'Administrator':'tf-font-info','Manager':'tf-font-success','Guest':'tf-font-danger'}[user.role.title]">{{user.role.title}}</span>

						</td>
						<td data-field="Actions" class="tf-datatable__cell" style="width:10%">
							<span style="overflow: visible; position: relative; width: 110px;">
								<a title="Edit details" (click)="editUser(user.id)"
									class="btn btn-sm btn-clean btn-icon btn-icon-md">
									<i class="la la-edit"></i>
								</a>
								<!-- <a title="Delete" nz-popconfirm
									nzPopconfirmTitle="Do you really want to delete this user ?" nzOkText="Ok"
									nzCancelText="Cancel" (nzOnConfirm)="deleteUser(user)"
									class="btn btn-sm btn-clean btn-icon btn-icon-md">
									<i class="la la-trash"></i>
								</a> -->
							</span>
						</td>

					</tr>
				</tbody>
				<!-- <nz-empty nzNotFoundContent="No matching result" *ngIf="usersResult?.data?.length == 0"></nz-empty> -->
			</table>
		</div>
		<!-- <tf-pagination (change)="changePagination()" [(ngModel)]="pagination" ngDefaultControl></tf-pagination> -->
	</tf-portlet-body>
</tf-portlet>