@import "~assets/sass/config";

:host {
  tr {
    td {
      .checkbox {
        width: 32px;
        max-width: 32px;
        span {
          width: 20px;
        }
      }
      span {
        // font-size: 13px !important;
        color: #595d6e;
        font-size: 11px !important;
      }
    }
    .checkbox {
      width: 32px;
      max-width: 32px;
      span {
        width: 20px;
      }
    }
  }
  thead {
    td {
      span {
        color: #595d6e;
      }
    }
  }
}

.tf-datatable__row--even:hover {
  cursor: pointer;
}

.tf-datatable__row > .tf-datatable__cell .tf-checkbox.tf-checkbox--solid > span,
.tf-datatable
  > .tf-datatable__table
  > .tf-datatable__body
  .tf-datatable__row
  > .tf-datatable__cell
  .tf-checkbox.tf-checkbox--solid
  > span,
.tf-datatable
  > .tf-datatable__table
  > .tf-datatable__foot
  .tf-datatable__row
  > .tf-datatable__cell
  .tf-checkbox.tf-checkbox--solid
  > span {
  background: #f0f3ff;
}

.tf-datatable
  > .tf-datatable__table
  > .tf-datatable__body
  .tf-datatable__row
  > .tf-datatable__cell{
      vertical-align:middle;
  }