<div class="row row-filters" style="height: 69px;">
  
</div>
<form [formGroup]="chantierForm" class="tf-form tf-form--group-seperator-dashed ">
	<tf-chantier-form *ngIf="loaded" [chantierForm]="chantierForm" [edit]="true"></tf-chantier-form>
  <button mat-raised-button color="success" class="float-right ml-4" (click)="onSubmit(false)">
		{{'ACTION.SAVE' | translate}}
	</button>
  <button mat-raised-button color="accent" class="float-right ml-4" type="button" (click)="cancel()">
		{{'ACTION.CANCEL' | translate}}
	</button>
</form>