<!-- <div class="row row-filters" style="height: 69px;">
  
</div> -->
<!-- <tf-comming-soon></tf-comming-soon> -->
<form [formGroup]="visiteForm" class="tf-form tf-form--group-seperator-dashed">
	<tf-portlet class="main-portlet-form" id="portlet-vs">
		<div class="tf-portlet-header">
			<span class="title">
				<a [routerLink]="['/visites-securite/list']">{{'MENU.HOME' | translate}}</a>
				<span class="divider">></span>
			  <span class="id-item">{{'MENU.SUB_VISITESECURITE.ADD' | translate}}</span>
			</span>
		</div>
		<tf-search-chantier-form [form]="visiteForm" origin="add" ></tf-search-chantier-form>
		<div class="tf-divider">
			<span></span>
		</div>
		<tf-vs-form-head [visiteForm]="visiteForm" [edit]="false"></tf-vs-form-head>
		<!-- (chantierSelected)="onChantierSelected($event)"  -->
	</tf-portlet>
	
	<tf-vs-form-body (onLastStep)="isLastStep($event)" [visiteForm]="visiteForm" origin="add" [edit]="true" *ngIf="visiteForm.get('chantier_id').value && visiteForm.get('type_id').value"></tf-vs-form-body>
	
	<button mat-raised-button color="success" class="float-right" (click)="onSubmit(false)">
		{{'ACTION.SAVE' | translate}}
	</button>
</form>