
<div class="tf-aside-user-block" *ngIf="user">
	<span class="tf-badge tf-badge--lg tf-badge--outline tf-badge--light tf-badge--bold tf-font-success" *ngIf="!user.photo_profil; else photoProfil">
		{{user?.prenom|firstLetter}}
	</span>
	<ng-template #photoProfil>
		<img src="{{user.photo_profil?.src}}" alt="{{user | fullName}}" class="tf-badge tf-badge--lg tf-badge--outline tf-badge--light tf-badge--bold tf-font-success">
	</ng-template>
	<div ngbDropdown placement="bottom-left" class="tf-aside__userside-formal">
		<div ngbDropdownToggle class="tf-aside__userside-wrapper dropdown-toggle">
			<div class="tf-aside__userside-user">
				<span class="tf-aside__userside-welcome" style="font-size: 1.4rem">
					{{user?.prenom+' '+user?.nom}}
					<mat-icon>keyboard_arrow_down</mat-icon>
				</span>				
			</div>
		</div>
		<div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
			<!--begin: Navigation -->
			<div class="tf-notification" style="padding: 0 12px;">
				<a ngbDropdownItem (click)="goToParams()" *ngIf="hasPermission(['ROOT','ADMIN'])" href="javascript:;" class="mb-2">
					<div class="tf-notification__item-details">
						<div class="tf-notification__item-title tf-font-bold">
							{{'MENU.ROOT' | translate}}
						</div>
					</div>
				</a>
				<a ngbDropdownItem (click)="goToHseProfileDetail()" href="javascript:;" class="mb-2">
					<div class="tf-notification__item-details">
						<div class="tf-notification__item-title tf-font-bold">
							{{'MENU.MY_HSE_PROFILE' | translate}}
						</div>
					</div>
				</a>
				<a ngbDropdownItem (click)="goToUserProfileDetail()" href="javascript:;" class="mb-2">
					<div class="tf-notification__item-details">
						<div class="tf-notification__item-title tf-font-bold">
							{{'MENU.MY_USER_PROFILE' | translate}}
						</div>
					</div>
				</a>
				<a ngbDropdownItem (click)="logout()" href="javascript:;" class="mb-2">
					<div class="tf-notification__item-details">
						<div class="tf-notification__item-title tf-font-bold">
							{{'AUTH.LOGOUT' | translate}}
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="tf-aside__userside-job">
		{{user?.fonction?.libelle}}
	</div>
</div>
