:host::ng-deep {
    #portlet-action{
        color: black;
        font-size:1em;
        font-weight: bolder;
        .tf-portlet{
            background-color: #f7f9fc;
            .tf-portlet-header{
                padding: 25px 0 0 20px;
                .title{
                    a{
                        color: #525252;
                    }
                    .divider{
                        font-weight: bolder;
                        color:#e49819;
                        margin-left: 0.5em;
                        margin-right: 0.5em;
                    }
                    .id-item{
                        color: #171717;
                        font-weight: bolder;
                        text-transform: uppercase;
                        padding-bottom: 0.2em;
                        border-bottom: 2px solid #55cec7 ;
                    }
                }
                .status-box{
                    .status-icon{
                        width:20px;
                        height:20px; 
                        line-height: 0;
                    }
                }
            }
            
            .tf-portlet__body{
                padding: 20px;
                font-weight: bold;
                .card{
                    padding: 2em 2em 0;    
                    height: 100%;
                    // justify-content: space-between;
                    p{
                        text-align: right;
                    }
                    .label{
                        color: #c9c9c9;
                        text-align: left;
                    }
                    .action-label{
                        font-weight: 500;
                    }
                    .no-data-label{
                        font-weight: 100;
                        font-style: italic;
                    }
                    .vs-line{
                        display: flex;
                        background-color: #f7f8fa;
                        align-items: center;
                    }
                    .blue{
                        color: #33b5ae;
                        mat-icon{
                            align-items: center;
                            display: flex;
                        }
                    }
                    .tf-divider.h-5 span{
                        height: 1em;
                    }
                    .box{
                        padding-top: 1.5em;
                        padding-bottom: 1.5em;
                        h6{
                            padding-bottom: 0.8em;
                            border-bottom: 1px solid #EBECF1;
                            color: #c9c9c9;
                        }
                        h5{
                            padding-bottom: 0.8em;
                            border-bottom: 1px solid #EBECF1;
                        }
                        &.box-status{
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                            .mat-icon{
                                margin-top: 30px;
                                margin-bottom: 30px;
                                svg{
                                    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.16);
                                    border-radius: 50%;
                                }
                            }
                        }
                        &.box-info{
                            .row{
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                            p{
                                text-align: left;
                                margin-bottom: 2px;
                            }
                        }
                    }
                }

            }
        }
    }
}

.badge-pill {
    padding-right: 0.7em;
    padding-left: 0.7em;
    border-radius: 10rem;
}