:host::ng-deep {
    #portlet-flashinfo{
        color: black;
        font-size:1em;
        font-weight: bolder;
        .tf-portlet{
            background-color: #f7f9fc;
            .tf-portlet-header{
                padding: 25px 0 0 20px;
                .title{
                    a{
                        color: #525252;
                    }
                    .divider{
                        font-weight: bolder;
                        color:#e49819;
                        margin-left: 0.5em;
                        margin-right: 0.5em;
                    }
                    .id-item{
                        color: #171717;
                        font-weight: bolder;
                        text-transform: uppercase;
                        padding-bottom: 0.2em;
                        border-bottom: 2px solid #55cec7 ;
                    }
                }
                .form-control[readonly] {
                    background-color: #f7f9fc;
                }
                .status-box{
                    .status-icon{
                        width:20px;
                        height:20px; 
                        line-height: 0;
                    }
                }
            }
            
            .tf-portlet__body{                
                padding: 20px;
                font-weight: bold;
                .card{
                    padding: 2em 2em 0;    
                    height: 100%;
                
                    img{
                        max-width: 100%;
                    }
                }
 
            }
        }
    }
}
