<div class="tf-portlet">
	<div class="tf-portlet__head tf-portlet__head__custom">
		<div class="tf-portlet__head-label">
			<h3 class="tf-portlet__head-title">Fetch selected elements</h3>
			<span class="tf-portlet__head-icon tf-hide">
				<i class="la la-gear"></i>
			</span>
		</div>
	</div>
	<div class="tf-form tf-form--label-align-right tf-form--group-seperator-dashed">
		<div class="tf-portlet__body tf-padding-0">
			<div class="tf-list-timeline tf-list-timeline--skin-light tf-padding-30">
				<div class="tf-list-timeline__items">
					<div class="tf-list-timeline__item" *ngFor="let message of data">
						<span class="tf-list-timeline__badge tf-list-timeline__badge--{{getItemCssClassByStatus(message.status)}}"></span>
						<span class="tf-list-timeline__text">{{message.text}}
							<span class="tf-badge tf-badge--{{getItemCssClassByStatus(message.status)}} tf-badge--wide">ID: {{message.id}}</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="tf-portlet__foot tf-portlet__no-border tf-portlet__foot--fit text-right">
			<div class="tf-form__actions tf-form__actions--solid">
				<button mat-button mat-raised-button (click)="onNoClick()">Cancel</button>&nbsp;
				<button mat-button mat-raised-button color="primary" [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>&nbsp;
			</div>
		</div>
	</div>
</div>
