<tf-portlet-body>
    <div class="row">
        <div class="col-md-12" *ngIf="origin=='detail'">
            <div class="tf-heading tf-heading--sm">
                <span>{{'ARS.HEAD.DETAIL.LABEL' | translate}}</span>
            </div>
        </div>
        <div class="col-12">
            <form [formGroup]="form" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate
                fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <div class="tf-wizard-v4__content" data-tfwizard-type="step-content" data-tfwizard-state="current">
                    <div class="tf-form__section tf-form__section--first">
                        <div class="tf-wizard-v4__form">
                            <div class="row form-row justify-content-md-center">
                                <!-- SALARIE -->
                                <mat-form-field class="col-xl-3"
                                    matTooltip="Vous ne pouvez pas sélectionner un salarié si une entreprise est déjà sélectionnée">
                                    <mat-label>{{'VISITES.VISITED.LABEL' | translate}}</mat-label>
                                    <mat-select class="form-control" placeholder="" formControlName="salarie_id" [required]="isFieldRequired('salarie_id')">
                                        <mat-option *ngFor="let user of salaries" [value]="user.id">
                                            {{ user | fullName }}
                                        </mat-option>
                                    </mat-select>
                                    <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                        (click)="clearValue('salarie_id'); $event.stopPropagation()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <mat-error *ngIf="isControlHasError('salarie_id','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>
                                <!-- TYPE -->
                                <mat-form-field class="col-xl-3">
                                    <mat-label>{{'VISITES.TYPE.LABEL' | translate}}</mat-label>
                                    <mat-select class="form-control" placeholder="" formControlName="type_id"
                                        [required]="isFieldRequired('type_id')">
                                        <mat-option *ngFor="let type of types" [value]="type.id">
                                            {{ type.libelle }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isControlHasError('type_id','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>
                                <!-- OUTIL -->
                                <mat-form-field class="col-xl-3" matTooltip="Ce champ est requis">
                                    <mat-label>{{'FILTER.SEARCH_OUTILLAGE' | translate}}</mat-label>
                                    <mat-select class="form-control" placeholder="" formControlName="materiel_id"
                                        [required]="isFieldRequired('materiel_id')">
                                        <mat-option *ngFor="let epi of epis" [value]="epi.id">
                                            {{ epi.libelle+' - '+epi.categorie.parent?.libelle }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isControlHasError('materiel_id','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>
                                                                    
                                <mat-form-field class="col-xl-3 text-center" floatLabel="always" appearance="none">
                                    <mat-slide-toggle formControlName="is_externe" [checked]="isExterne()" (change)="toggleExterne($event.checked)">
                                        <span class="slider-label">{{'VISITES.EXTERNAL_VISIT.TITLE' | translate}}</span>
                                    </mat-slide-toggle>
                                    <textarea matInput hidden></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-brand btn-sm btn-search mr-4 float-right" [disabled]="cantDisplayQuestions()" (click)="onSubmit()">
                {{'VISITES.ACTION.START_VISIT.TITLE' | translate}}
            </button>
        </div>
    </div>
</tf-portlet-body>