<tf-portlet [ngClass]="'tf-portlet--ngviewer'" *ngIf="viewItem">
	<tf-portlet-header [title]="viewItem.beforeCodeTitle">
		<ng-container tfPortletTools>
			<!-- <ul class="tf-portlet__nav">
				<li class="tf-portlet__nav-item">
					<a href="javascript:;" *ngIf="hasExampleSource()" (click)="changeCodeVisibility()" class="tf-portlet__nav-link tf-portlet__nav-link--icon"
						title="View Source">
						<i class="la la-code"></i>
					</a>
				</li>
			</ul> -->
			<div class="tf-portlet__head-group">
				<button type="button"
					*ngIf="hasExampleSource()"
					(click)="changeCodeVisibility()"
					title="View Source"
					class="btn btn-clean btn-sm btn-icon btn-icon-md">
					<i class="la la-code"></i>
				</button>
			</div>
		</ng-container>
	</tf-portlet-header>

	<tf-portlet-body>
		<div class="tf-portlet__preview" *ngIf="viewItem.beforeCodeDescription">
			<div class="tf-alert tf-alert--icon tf-alert--air tf-alert--square alert alert-dismissible tf-margin-bottom-30"
				[ngClass]="classes" role="alert">
				<div class="tf-alert__text" [innerHTML]="viewItem.beforeCodeDescription | safe: 'html'"></div>
			</div>
		</div>
		<div *ngIf="hasExampleSource()" class="tf-portlet__preview tf-portlet__code" [ngClass]="{'tf-portlet__code--show' : viewItem.isCodeVisible}">
			<mat-tab-group *ngIf="viewItem.isCodeVisible">
				<mat-tab label="HTML" *ngIf="viewItem.htmlCode">
					<a href="javascript:;"
						class="tf-portlet__code-copy"
						title="Copy example source"
						ngxClipboard
						[cbContent]="viewItem.htmlCode">
						<i class="la la-copy"></i>
					</a>
					<pre><code [highlight]="viewItem.htmlCode"></code></pre>
				</mat-tab>
				<mat-tab label="TS" *ngIf="viewItem.tsCode">
					<a href="javascript:;"
						class="tf-portlet__code-copy"
						title="Copy example source"
						ngxClipboard
						[cbContent]="viewItem.tsCode">
						<i class="la la-copy"></i>
					</a>
					<pre><code [highlight]="viewItem.tsCode"></code></pre>
				</mat-tab>
				<mat-tab label="CSS" *ngIf="viewItem.cssCode">
					<a href="javascript:;"
						class="tf-portlet__code-copy"
						title="Copy example source"
						ngxClipboard
						[cbContent]="viewItem.cssCode">
						<i class="la la-copy"></i>
					</a>
					<pre><code [highlight]="viewItem.cssCode"></code></pre>
				</mat-tab>
				<mat-tab label="SCSS" *ngIf="viewItem.scssCode">
					<a href="javascript:;"
						class="tf-portlet__code-copy"
						title="Copy example source"
						ngxClipboard
						[cbContent]="viewItem.scssCode">
						<i class="la la-copy"></i>
					</a>
					<pre><code [highlight]="viewItem.scssCode"></code></pre>
				</mat-tab>
			</mat-tab-group>
		</div>

		<!-- view -->
		<div class="tf-portlet__preview">
			<ng-content></ng-content>
		</div>
		<!-- / view -->

		<!-- after Code Title -->
		<div *ngIf="viewItem.afterCodeTitle" class="tf-portlet__preview" [innerHTML]="viewItem.afterCodeTitle | safe: 'html'">
		</div>
		<!-- / after Code Title -->

		<!-- after Code Description -->
		<div *ngIf="viewItem.afterCodeDescription" class="tf-portlet__preview" [innerHTML]="viewItem.afterCodeDescription | safe: 'html'">
		</div>
		<!-- / after Code Description -->
	</tf-portlet-body>

	<tf-portlet-footer></tf-portlet-footer>
</tf-portlet>
