<tf-search-list-bar [(ngModel)]="filter" (change)="getSalaries()" [hasAdvancedSearch]="true" [showFilters]="showFilters" (advancedSearchChange)="advancedSearchChanged($event)" class="row row-filters"></tf-search-list-bar>
<tf-salarie-filters [hidden]="!showFilters" (change)="udpateFilters($event)" class="row"></tf-salarie-filters>

<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
	<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;" *ngIf="salariesList">
		<div class="row px-2">
			<div class="col">
				<p>{{pagination.total}} résultats trouvés</p>
			</div>
			<div class="col">
				<!-- <button class="pull-right btn-small mb-4" mat-raised-button color="info" (click)="exportList()">Exporter la liste</button> -->
			</div>
		</div>
		<div class="table-responsive">
			<table mat-table [dataSource]="salariesList.data">

				<!-- nom Column -->
				<ng-container matColumnDef="nom">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('nom')">
						{{'COMMON.NAME.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('nom') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('nom') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="text-center pointer"> {{salarie.nom}} </td>
				</ng-container>
	
				<!-- prenom Column -->
				<ng-container matColumnDef="prenom">
					<th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('prenom')">
						{{'COMMON.FIRSTNAME.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('prenom') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('prenom') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="pointer"> {{salarie.prenom}} </td>
				</ng-container>
	
				<!-- fonction Column -->
				<ng-container matColumnDef="fonction">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('fonctions.libelle')">
						{{'COMMON.FONCTION.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('fonctions.libelle') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('fonctions.libelle') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="text-center pointer"> {{salarie.fonction?.libelle}} </td>
				</ng-container>

				<!-- tel Column -->
				<ng-container matColumnDef="tel">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('telephone')">
						{{'COMMON.PHONE.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('telephone') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('telephone') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="text-center pointer"> {{salarie.telephone}} </td>
                </ng-container>
                
                <!-- score outillage Column -->
				<ng-container matColumnDef="outillage">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('score_outillage')">
						{{'SALARIES.OUTILLAGE.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('score_outillage') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('score_outillage') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="text-center pointer">
						 <tf-salarie-score [score]="salarie.score"></tf-salarie-score>
					</td>
				</ng-container>

                <!-- score accidentologie Column -->
				<ng-container matColumnDef="accidentologie">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('score_accidentologie')">
						{{'SALARIES.ACCIDENTOLOGIE.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('score_accidentologie') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('score_accidentologie') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="text-center pointer"> 
						<tf-salarie-score [score]="salarie.score"></tf-salarie-score>
					</td>
				</ng-container>

                <!-- score animation HSE Column -->
				<ng-container matColumnDef="animation_hse">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('score_animation_hse')">
						{{'SALARIES.ANIMATIONHSE.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('score_animation_hse') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('score_animation_hse') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="text-center pointer"> 
						<tf-salarie-score [score]="salarie.score"></tf-salarie-score>
					 </td>
				</ng-container>

                <!-- score formation Column -->
				<ng-container matColumnDef="formation">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('score_formation')">
						{{'SALARIES.FORMATION.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('score_formation') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('score_formation') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="text-center pointer"> 
						<tf-salarie-score [score]="salarie.score"></tf-salarie-score>
					 </td>
				</ng-container>

                <!-- score epi Column -->
				<ng-container matColumnDef="epi">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('score_epi')">
						{{'SALARIES.EPI.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('score_epi') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('score_epi') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="text-center pointer"> 
						<tf-salarie-score [score]="salarie.score"></tf-salarie-score>
					 </td>
				</ng-container>

                <!-- score véhicule Column -->
				<ng-container matColumnDef="vehicule">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('score_vehicule')">
						{{'SALARIES.VEHICULE.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('score_vehicule') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('score_vehicule') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let salarie" (click)="viewSalarie(salarie.id)" class="text-center pointer"> 
						<tf-salarie-score [score]="salarie.score"></tf-salarie-score>
					</td>
				</ng-container>

				<ng-container matColumnDef="action" stickyEnd >
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let salarie" class="text-right">
						<button mat-icon-button color="primary" matTooltip="Salaries" [matMenuTriggerFor]="salarieMenu" [matMenuTriggerData]="salarie" (click)="selectedSalarie = salarie">
							<mat-icon>more_vert</mat-icon>
						</button>
					</td>
				</ng-container>	

				<tr mat-header-row *matHeaderRowDef="displayedSalarieColumns"></tr>
				<tr mat-row class="highlight-row" *matRowDef="let row; columns: displayedSalarieColumns;"></tr>
			</table>

		</div>

		<tf-pagination (change)="changePagination()" [(ngModel)]="pagination" ngDefaultControl></tf-pagination>

	</tf-portlet-body>
</tf-portlet>

<mat-menu #salarieMenu="matMenu" class="action-menu">
	<!-- *ngxPermissionsOnly="['ADMIN']" -->
	<button mat-icon-button color="primary" matTooltip="{{'ACTION.READ' | translate}}" (click)="viewSalarie(selectedSalarie.id)">
		<mat-icon>visibility</mat-icon>
	</button>
	<button mat-icon-button color="warn" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteSalarie(selectedSalarie.id)">
		<mat-icon>delete</mat-icon>
	</button>
</mat-menu>
