<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-materiel" *ngIf="habilitation">
	<div class="tf-portlet-header">
		<span class="title">
			<a [routerLink]="['/habilitations/list']">{{'MENU.SUB_HABILITATION.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{habilitation.libelle}}</span>
		</span>
		<div ngbDropdown placement="bottom-right" class="d-inline-block pull-right">
			<button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions" style="line-height: 0;height: 0;">
				<mat-icon>more_vert</mat-icon>
			</button>
			<div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
				<ng-container *ngxPermissionsOnly="['materiel_canUpdate']">
					<button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editHabilitation(habilitation.id)">
						<mat-icon>edit</mat-icon>
					</button>
				</ng-container>
				<button mat-icon-button color="warn" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteHabilitation(habilitation.id)">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<tf-portlet-body class="tf-portlet__body--fit" *ngIf="habilitation">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<h3>{{'HABILITATIONS.CARD.GENERAL_INFOS.TITLE' | translate}}</h3>
					<div class="box" style="flex:1">
						<p><span class="label pull-left mr-2">{{'HABILITATIONS.LABEL.TITLE' | translate}}</span><span *ngIf="habilitation.libelle; else noData">{{habilitation.libelle}}</span></p>
						<p><span class="label pull-left mr-2">{{'HABILITATIONS.PERIOD_VALIDITY.TITLE' | translate}}</span><span *ngIf="habilitation.duree_validite; else noData">
							{{(habilitation.duree_validite == 1) ? habilitation.duree_validite + ' an' : habilitation.duree_validite + ' ans'}}
						</span></p>
						<p><span class="label pull-left mr-2">{{'HABILITATIONS.CATEGORY.TITLE' | translate}}</span><span *ngIf="habilitation.categorie; else noData">{{habilitation.categorie.libelle}}</span></p>
						<p><span class="label pull-left mr-2">{{'HABILITATIONS.ACTIVE.TITLE' | translate}}</span><span>{{habilitation.active? 'Oui': 'Non'}}</span></p>
						<ng-template #noData>
							<span>-</span>
						</ng-template>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box text-center">
						<small>{{'COMMON.CREATED_AT.TITLE' | translate}} : {{habilitation.created_at | date:'dd/MM/yyyy'}}</small><br>
						<small>{{'COMMON.UPDATED_AT.TITLE' | translate}} : {{habilitation.updated_at | date:'dd/MM/yyyy'}}</small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<h3>{{'HABILITATIONS.CARD.FORMATIONS.TITLE' | translate}}</h3>
					<div class="table-container">
						<table class="table table-formations" *ngIf="habilitation.formations.length; else noFormations">
							<thead>
								<tr>
									<th>{{'FORMATIONS.LABEL.TITLE' | translate}}</th>
									<th class="text-center">{{'FORMATIONS.TRAINING_ORGANIZATION.TITLE' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let formation of habilitation.formations">
									<td>{{formation.libelle}}</td>
									<td class="text-center">{{formation.organisme_formation ? formation.organisme_formation : '-'}}</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</tf-portlet-body>
</tf-portlet>

<ng-template #noFormations>
	<div class="h-100 text-center">Pas de formations</div>
</ng-template>
