//
// Heading
//



.tf-heading {
	font-size: 1.3rem;
	font-weight: bold;
	padding: 0;
	margin: 1.75rem 0;
	color: tf-base-color(label, 4);

	&.tf-heading--center {
		text-align: center;
	}

	&.tf-heading--right {
		text-align: right;
	}

	&.tf-heading--space-sm {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	&.tf-heading--space-md {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	&.tf-heading--space-lg {
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}

	&.tf-heading--space-xl {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	&.tf-heading--xs {
		font-size: 1rem;
	}

	&.tf-heading--sm {
		font-size: 1.2rem;
	}

	&.tf-heading--md {
		font-size: 1.4rem;
	}

	&.tf-heading--lg {
		font-size: 1.6rem;
	}

	&.tf-heading--xl {
		font-size: 2rem;
	}

	&.tf-heading--xxl {
		font-size: 3rem;
	}

	&.tf-heading--medium {
		font-weight: 600;
	}

	&.tf-heading--bold {
		font-weight: 700;
	}

	&.tf-heading--bolder {
		font-weight: 900;
	}

	&.tf-heading--thin {
		font-weight: 300;
	}

	&.tf-heading--no-top-margin {
		margin-top: 0;
	}

	&.tf-heading--no-bottok-margin {
		margin-bottom: 0;
	}
}
