//
// Link
//




.tf-link {
    text-decoration: none;
  	position: relative;
  	display: inline-block;

    &:after {
    	display: block;
    	content: '';
		position: absolute;
		bottom: 0;
        top: 1rem;  
		left: 0;
		width: 0%;
		transition: width 0.3s ease;
    }

    &:hover {
    	text-decoration: none !important;

    	&:after {				
    		width: 100%;
    	}
    }

    @include tf-link-color(tf-get($tf-font-color, link, default), tf-get($tf-font-color, link, hover));

    @each $name, $color in $tf-state-colors {
        &.tf-link--#{$name} {
            @include tf-link-color(tf-get($color, base), darken(tf-get($color, base), 10%));
        }
    }
}