//
// Separator
//




.tf-separator {
    height: 0;
    margin: 20px 0;
    border-bottom: 1px solid tf-base-color(grey, 2);

    // Dashed style
    &.tf-separator--border-dashed,
    &.tf-separator--dashed {
        border-bottom: 1px dashed tf-base-color(grey, 2);
    }

    &.tf-separator--border-2x {
        border-bottom-width: 2px;
    }

    // No border
    &.tf-separator--space {
        border-bottom: 0;
    }

    // Sizing
    &.tf-separator--space-sm,
    &.tf-separator--sm {
        margin: 0.5rem 0;
    }

    &.tf-separator--space-md,
    &.tf-separator--md {
        margin: 2rem 0;
    }

    &.tf-separator--space-lg,
    &.tf-separator--lg {
        margin: 2.5rem 0;
    }

    &.tf-separator--space-xl,
    &.tf-separator--xl {
        margin: 3rem 0;
    }

    &.tf-separator--fit {
        margin-left: -(tf-get($tf-portlet, space, desktop));
        margin-right: -(tf-get($tf-portlet, space, desktop));
    }

    // States
    @each $name, $color in $tf-state-colors {
        &.tf-separator--#{$name} {
            border-bottom: 1px solid tf-get($color, base);

            &.tf-separator--dashed {
                border-bottom: 1px dashed tf-get($color, base);
            }
        }
    }
}
