
<form class="col-md-12 tf-form">
	<!--begin::Form-->
	<div class="row form-group">
		<div class="col-md-12 ">
			<div class="card card-filters px-5 py-3">
				<form novalidate [formGroup]="filterForm">
					<div class="row">
						<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
							<h6>&nbsp;</h6>
							<mat-form-field class="col-xl-12" style="padding:0">
								<mat-label>{{'CHANTIERS.CLIENT.TITLE' | translate}}</mat-label>
								<mat-select class="form-control"  formControlName="client" name="client">
									<mat-option>Tous</mat-option>
									<mat-option *ngFor="let client of clients" [value]="client">
										{{client}}
									</mat-option>
								</mat-select>
								<button mat-button *ngIf="formHasValue('client')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('client'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
							<h6>&nbsp;</h6>
							<mat-form-field class="col-xl-12" style="padding:0">
								<mat-label>{{'CHANTIERS.NAME.TITLE' | translate}}
								</mat-label>
								<mat-select class="form-control" formControlName="chantier_id" name="chantier_id">
									<mat-option *ngFor="let chantier of chantiers" [value]="chantier.id">
										{{chantier.nom}}
									</mat-option>
								</mat-select>
								<button mat-button *ngIf="formHasValue('chantier_id')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('chantier_id'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
							<h6>&nbsp;</h6>
							<mat-form-field class="col-xl-12" style="padding:0">
								<mat-label>{{'CHANTIERS.CHIEF.TITLE' | translate}}
								</mat-label>
								<mat-select class="form-control" formControlName="charge_affaire_id" name="charge_affaire_id">
									<mat-option *ngFor="let user of users" [value]="user.id">
										{{user.fullname}}
									</mat-option>
								</mat-select>
								<button mat-button *ngIf="formHasValue('charge_affaire_id')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('charge_affaire_id'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
							<h6>&nbsp;</h6>
							<mat-form-field class="col-xl-12" style="padding:0">
								<mat-label>{{'ARS.STATUS' | translate}}</mat-label>
								<mat-select class="form-control" formControlName="status_id" name="status_id">
									<mat-option>Tous</mat-option>
									<mat-option *ngFor="let statu of status" [value]="statu.id" >
										{{statu.libelle}}
									</mat-option>
								</mat-select>
								<button mat-button *ngIf="formHasValue('status_id')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('status_id'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
							<h6>&nbsp;</h6>
							<mat-form-field class="col-xl-12" style="padding:0">
								<mat-label>{{'ARS.SIGNATAIRES.TITLE' | translate}}
								</mat-label>
								<mat-select class="form-control" formControlName="signatories_id" name="signatories_id">
									<mat-option *ngFor="let user of users" [value]="user.id">
										{{user.fullname}}
									</mat-option>
								</mat-select>
								<button mat-button *ngIf="formHasValue('signatories_id')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('signatories_id'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
							<h6>&nbsp;</h6>
							<mat-form-field class="col-xl-12" style="padding:0">
								<mat-label>{{'ARS.NUMBER' | translate}}</mat-label>
								<input matInput class="form-control" type="string" formControlName="numero" name="numero">
								<button mat-button *ngIf="formHasValue('numero')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('numero'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
							<h6>&nbsp;</h6>
							<mat-form-field class="col-xl-12" style="padding:0">
								<mat-label>{{'ARS.OBSERVATION' | translate}}</mat-label>
								<mat-select class="form-control" formControlName="observation" name="observation">
									<mat-option *ngFor="let observationOption of observationsOptions" [value]="observationOption">
										{{observationOption}}
									</mat-option>
								</mat-select>
								<button mat-button *ngIf="formHasValue('observation')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('observation'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
						</div>
						<div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
							<h6>{{'COMMON.CREATED_AT.TITLE' | translate}}</h6>
							<mat-form-field class="col-md-6 col-xl-6">
								<mat-label>Entre le :</mat-label>
								<input matInput class="form-control" [matDatepicker]="date_creation_start_picker" formControlName="date_creation_start" placeholder="DD/MM/YYYY">
								<mat-datepicker-toggle matSuffix [for]="date_creation_start_picker"></mat-datepicker-toggle>
								<mat-datepicker #date_creation_start_picker></mat-datepicker>
								<button mat-button *ngIf="formHasValue('date_creation_start')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('date_creation_start'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
							<mat-form-field class="col-md-6 col-xl-6">
								<mat-label>Et le :</mat-label>
								<input matInput class="form-control" [matDatepicker]="date_creation_end_picker" formControlName="date_creation_end" placeholder="DD/MM/YYYY">
								<mat-datepicker-toggle matSuffix [for]="date_creation_end_picker"></mat-datepicker-toggle>
								<mat-datepicker #date_creation_end_picker></mat-datepicker>
								<button mat-button *ngIf="formHasValue('date_creation_end')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('date_creation_end'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
						</div>
                        <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
							<h6>{{'CHANTIERS.DATE_DEMARRAGE.TITLE' | translate}}</h6>
							<mat-form-field class="col-md-6 col-xl-6">
								<mat-label>Entre le :</mat-label>
								<input matInput class="form-control" [matDatepicker]="date_demarrage_start_picker" formControlName="date_demarrage_start" placeholder="DD/MM/YYYY">
								<mat-datepicker-toggle matSuffix [for]="date_demarrage_start_picker"></mat-datepicker-toggle>
								<mat-datepicker #date_demarrage_start_picker></mat-datepicker>
								<button mat-button *ngIf="formHasValue('date_demarrage_start')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('date_demarrage_start'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
							<mat-form-field class="col-md-6 col-xl-6">
								<mat-label>Et le :</mat-label>
								<input matInput class="form-control" [matDatepicker]="date_demarrage_end_picker" formControlName="date_demarrage_end" placeholder="DD/MM/YYYY">
								<mat-datepicker-toggle matSuffix [for]="date_demarrage_end_picker"></mat-datepicker-toggle>
								<mat-datepicker #date_demarrage_end_picker></mat-datepicker>
								<button mat-button *ngIf="formHasValue('date_demarrage_end')" matSuffix mat-icon-button 
									aria-label="Clear" (click)="clearValue('date_demarrage_end'); $event.stopPropagation()">
									<mat-icon>clear</mat-icon>
								</button>
							</mat-form-field>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</form>