:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
		.dash-title{
			font-size: 1.2rem;
			color: #74788d;
			padding-bottom: 1rem;
			font-weight: 500;
			text-align: center;
		}
		.demo-chart {
			height: 350px;
			canvas{
				background-color: #fff;
				padding: 10px!important;
			}
		}
		.dash-portlet-indicator{
			background-color: #fff!important;
    		box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.05) !important
		}
		.tf-portlet{
			background-color: #f7f9fc;
		}
	}
}
