<!-- CHANTIERS -->
<tf-chantier-dash *ifAllModules="['CHANTIER']"></tf-chantier-dash>

<!-- AR -->
<tf-analyse-risque-dash *ifAllModules="['ANALYSE']"></tf-analyse-risque-dash>

<!-- ACTIONS -->
<tf-action-dash *ifAllModules="['PLANACTION']"></tf-action-dash>

<!-- VSS -->
<ng-container *ifInModules="['CHANTIER', 'MATERIEL']" >
    <tf-visite-dash *ifAllModules="['VISITE']"></tf-visite-dash>
</ng-container>

<!-- ENTREPRISES -->
<tf-entreprise-dash *ifAllModules="['ENTREPRISE']"></tf-entreprise-dash>

