<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-remonte" *ngIf="id">
	<div class="tf-portlet-header">
		<span class="title">
			<a [routerLink]="['/remontees/list']">{{'MENU.SUB_REMONTEES.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{'MENU.SUB_REMONTEES.DETAIL' | translate}}</span>
		</span>
		<div ngbDropdown placement="bottom-right" class="d-inline-block pull-right">
			<button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions" style="line-height: 0;height: 0;">
				<mat-icon>more_vert</mat-icon>
			</button>
			<div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
				<button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editRemonte(id)" *ngxPermissionsOnly="['remontee_canUpdate']">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteRemonte(id)" *ngxPermissionsOnly="['remontee_canArchieve']">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<tf-remontee-detail-base *ngIf="id" [id]="id" ></tf-remontee-detail-base>
</tf-portlet>