<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-remonte" *ngIf="remontee">
	<div class="tf-portlet-header ">
		<span class="title">
			<a [routerLink]="['/remontees/list']">{{'MENU.SUB_REMONTEES.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{'MENU.SUB_REMONTEES.DETAIL' | translate}}</span>
		</span>
		<div ngbDropdown placement="bottom-right" class="d-inline-block pull-right">
			<button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions" style="line-height: 0;height: 0;">
				<mat-icon>more_vert</mat-icon>
			</button>
			<div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
				<button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editRemonte(remontee.id)" *ngxPermissionsOnly="['remontee_canUpdate']">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteRemonte(remontee.id)" *ngxPermissionsOnly="['remontee_canArchieve']">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<tf-portlet-body class="tf-portlet__body--fit">
		<div class="row">
			<div  [ngClass]="isActiveModule(['REMONTEE_COMMENTS']) ? 'col-md-4':'col-md-12'">
				<div class="card">
					<h4>{{'REMONTEES.CARD.GENERAL_INFOS.TITLE' | translate}}</h4>
					<div class="box">
						<p><span class="label pull-left mr-2">{{'REMONTEES.CREATOR.TITLE' | translate}}</span><span class="">{{remontee.creator | fullName}}</span></p>
						<p><span class="label pull-left mr-2">{{'COMMON.CREATED_AT.TITLE' | translate}}</span><span class="">{{remontee.created_at | date:'dd/MM/yyyy'}}</span></p>
						<p><span class="label pull-left mr-2">{{'REMONTEES.TYPE.TITLE' | translate}}</span><span class="">{{remontee.type?.libelle}}</span></p>
						<p><span class="label pull-left mr-2">{{'REMONTEES.DESCRIPTION.TITLE' | translate}}</span><span class="">{{remontee.description}}</span></p>
					</div>
					<div class="tf-divider mb-3">
						<span></span>
					</div>
					<h4>{{'REMONTEES.CARD.EVENT.TITLE' | translate}}</h4>
					<div class="box">
						<p><span class="label pull-left mr-2">{{'REMONTEES.IS_VICTIMS.TITLE' | translate}}</span><span class="">{{remontee.is_victims == 1 ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate)}}</span></p>
						<p><span class="label pull-left mr-2">{{'REMONTEES.EVENT_DATE.TITLE' | translate}}</span><span class="">{{remontee.event_date | date:'dd/MM/yyyy'}}</span></p>
						<p><span class="label pull-left mr-2">{{'REMONTEES.EVENT_PLACE.TITLE' | translate}}</span><span class="">{{remontee.event_place}}</span></p>
						<p><span class="label pull-left mr-2">{{'REMONTEES.EVENT_TYPE.TITLE' | translate}}</span><span class="">{{remontee.event_type?.libelle}}</span></p>
					</div>
					<div class="tf-divider mb-3">
						<span></span>
					</div>
					<h4>
						{{'REMONTEES.ACTION.TITLE' | translate}}
						<button mat-icon-button (click)="goToAction()" class="pull-right" title="{{'REMONTEES.SEE_ACTION.TITLE' | translate}}"><mat-icon color="primary">visibility</mat-icon></button>
					</h4>
					<div class="box" style="flex:1">
						<p><span class="label pull-left mr-2">{{'REMONTEES.FACTS.TITLE' | translate}}</span><span class="">{{remontee.facts}}</span></p>
						<p><span class="label pull-left mr-2">{{'PLANACTIONS.NAME.TITLE' | translate}}</span><span class="">{{remontee.actions}}</span></p>
						<p><span class="label pull-left mr-2">{{'PLANACTIONS.STATUS.TITLE' | translate}}</span><span class="">{{remontee.action_status}}</span></p>
						<p><span class="label pull-left mr-2">{{'PLANACTIONS.PILOTE.TITLE' | translate}}</span><span class="">{{remontee.action?.pilote ? (remontee.action.pilote | fullName) : '-'}}</span></p>
					</div>
					<div class="tf-divider mb-3">
						<span></span>
					</div>
					<h4>{{'REMONTEES.CARD.DOC.TITLE' | translate}}</h4>
					<div class="box" style="flex:1">
						<!-- <ul>
							<li class="mb-3 pointer" *ngFor="let document of remontee.documents" (click)="showDocument(document)">
								{{document.libelle}}
								<mat-icon color="info" class="pull-right pointer" (click)="$event.stopPropagation(); downloadDoc(document)" matTooltip="{{'REMONTEES.CARD.DOC.ACTION.DOWNLOAD_DOCS' | translate}}">cloud_download</mat-icon>
							</li>
						</ul> -->
						<ngb-carousel style="width:60%;margin:auto" (click)="$event.stopPropagation()" *ngIf="remontee.photos.length > 0; else noDocument">
							<ng-template ngbSlide *ngFor="let photo of remontee.photos; let i = index">
									<div class="picsum-img-wrapper pointer" style="background:rgba(0,0,0,0.8); text-align:center" (click)="openModal(remontee.photos, i); $event.stopPropagation()">
											<img [src]="photo.src | safe:'resourceUrl'" [title]="photo.libelle" style="max-width: 100%; max-height: 175px; margin: auto;">
										</div>
							</ng-template>
					</ngb-carousel>
					<ng-template #noDocument>
						<div class="text-center mt-4 font-italic">
								{{'REMONTEES.NOTIF.NO_DOCUMENT' | translate}}
						</div>
					</ng-template>
					</div>
				</div>
			</div>
			<div class="col-md-8" *ifAllModules="['REMONTEE_COMMENTS']">
				<tf-comments-list *ngIf="remontee" [comments]="remontee.comments" (onAddComment)="onAddComment($event)"></tf-comments-list>
			</div>			
		</div>
	</tf-portlet-body>
</tf-portlet>
