<div class="modal-header">
	<h4 class="modal-title">{{ title | translate }}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
    
    <form #addItemForm="ngForm">

        <div class="form-group">

          <label>{{ 'COMMON.NAME.LABEL' | translate }}</label>
    
          <div class="d-flex">
            <input  
              class="form-control text-center" 
              [(ngModel)]="label" 
              name="value"
              aria-describedby="basic-addon2"
              placeholder="..."
              required >
            <button type="button" class="btn btn-secondary btn-lang" (click)="translate()">
              <span class="material-icons">translate</span>
            </button>
          </div>     
            
          <div class="mt-2 d-flex" *ngIf="toTranslate">
            <input  
              class="form-control text-center" 
              [(ngModel)]="labelEn" 
              name="valueEn"
              placeholder="..."
              required >
            <button type="button" class="btn btn-secondary btn-lang">
              <img class="h-100" src="./assets/media/flags/260-united-kingdom.svg" alt=""/>
            </button>
          </div>
            
          <br>

          <div *ngIf="withImage">
              <nz-upload 
                  nzType="drag" 
                  [nzBeforeUpload]="beforeUpload" 
                  [nzLimit]="1" 
                  nzAccept="image/*" 
                  [nzFileType]="'image/png'"  
                  [nzShowUploadList]="false" 
                  [hidden]="disableUpload"
              >
                <p class="ant-upload-drag-icon" *ngIf="!disableUpload">
                  <i nz-icon nzType="upload" nzTheme="outline"></i>
                </p>
                <p class="ant-upload-text" *ngIf="!disableUpload">{{'COMMON.CLICK_OR_DRAG_TO_UPLOAD.LABEL' | translate}}</p>
              </nz-upload>
              <p class="mt-2" *ngIf="!disableUpload"><span style="color: red">*</span> Format: png - 546 x 546 pixels</p>
              <div *ngIf="disableUpload">
                <div class="upload-content">
                  <div class="image-container" >
                    <img style="width: 100%;" [src]="image" alt="">
                  </div>
                  <div class="upload-actions">
                      <mat-icon class="material-icons" (click)="deleteFile()">delete</mat-icon>
                  </div>
                </div>
              </div>
          </div>

        </div>
        
    </form>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="activeModal.close()">{{ 'ACTION.CANCEL' | translate }}</button>
	<button type="button" class="btn btn-primary" [disabled]="!addItemForm?.form.valid" (click)="submit()">{{ 'ACTION.SAVE' | translate }}</button>
</div>