<!--begin::Portlet-->
<div class="tf-portlet tf-portlet--bordered item" data-ktportlet="true" id="kt_portlet_tools_3">

    <div class="tf-portlet__head">
        <div class="tf-portlet__head-label">

            <ng-container *ngIf="!item.edit; else editTitle">
                <h3 class="tf-portlet__head-title">
                    {{ item?.libelle }}
                </h3>
                <div class="ml-1">
                    <i nz-icon nzType="edit" (click)="startEdit(item)" nzTheme="outline" class="pointer"></i>
                </div>
            </ng-container>

            <ng-template #editTitle>
                <input type="text" nz-input [(ngModel)]="item.libelle" name="title" />
                <div class="ml-1 d-inline-flex">
                    <i nz-icon nzType="check" (click)="saveItem(item)" nzTheme="outline" class="pointer text-success"></i>
                    <nz-divider nzType="vertical"></nz-divider>
                    <i nz-icon nzType="close" (click)="cancelEdit(item)" nzTheme="outline" class="pointer"></i>
                </div>
            </ng-template>
        </div>

        <div class="tf-portlet__head-toolbar">

            <div class="tf-portlet__head-group">
                <a data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-angle-down"></i></a>
                <a (click)="refreshItem(item)" class="btn btn-sm btn-icon btn-clean btn-icon-md">
                    <i class="la la-refresh"></i>
                </a>
                <a (click)="addChild()" data-ktportlet-tool="add" class="btn btn-sm btn-icon btn-clean btn-icon-md">
                <i class="la la-plus"></i>
                </a>
                <a (nzOnConfirm)="deleteItem(item)" nz-popconfirm nzPopconfirmTitle="Are you sure delete this item ?" class="btn btn-sm btn-icon btn-clean btn-icon-md">
                    <i class="la la-trash"></i>
                </a>
            </div>

        </div>
    </div>

    <!--begin::Form-->
    <form class="tf-form tf-form--label-right">
        <div class="tf-portlet__body">

        <nz-table   #virtualTable
                    nzSize="small" 
                    [nzData]="item?.children" 
                    [nzFrontPagination]="false" 
                    [nzShowPagination]="false"
                    [nzScroll]="{ y: '178px' }" >
            <thead>
            <tr>
                <th nzWidth="70%">Libellé</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of item?.children">
                <ng-container *ngIf="!data.edit; else editTemplate">
                    <td>{{ data?.libelle }}</td>
                    <td>
                        <a (click)="startEdit(data)" class="text-primary">Modifier</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm nzTitle="Sure to delete?" class="text-danger" (nzOnConfirm)="deleteChild(data)">Supprimer</a>
                    </td>
                </ng-container>
                <ng-template #editTemplate>
                    <td>
                        <input type="text" nz-input [(ngModel)]="data.libelle" name="name" />
                    </td>
                    <td>
                        <a (click)="saveChild(data)" class="save" class="text-primary">Enregistrer</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="cancelEdit(data)">Annuler</a>
                    </td>
                </ng-template>
            </tr>
            </tbody>
        </nz-table>


        </div>
    </form>
    <!--end::Form-->
</div>
<!--end::Portlet-->