:host {
	::ng-deep {
		.tf-loading-bar {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;

			.progress-bar {
				background-color: #2f8274;
			}
		}

		.tf-header__topbar-item {
			height: 100%;
		}

		@media (min-width: 1025px) {
			.tf-header__topbar, .tf-header__topbar-item-wrapper {
				height: 100%;
			}
		}
	}
}

