<!-- begin: Header -->
<!-- <div style="width: 100%; background: yellow; color: black; text-transform: uppercase; font-weight: bolder; font-size:1.5em; text-align: center;">
	environnement demo GYMA
</div> -->
<div tfHeader #tfHeader class="tf-header tf-header--fixed" [ngClass]="htmlClassService.getClasses('header', true)" id="tf_header">
	<ngb-progressbar class="tf-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async" height="3px"></ngb-progressbar>
	
	<div class="tf-container" [ngClass]="{'tf-container--fluid': fluid}" >
		<!-- begin:: Brand -->
		<tf-brand></tf-brand>
		<!-- end:: Brand -->
		
		<!-- begin: Header Menu -->
		<tf-menu-horizontal></tf-menu-horizontal>
		<!-- end: Header Menu -->

		<!-- begin:: Header Topbar -->
		<!-- empty div to fix topbar to stay on the right when menu-horizontal is hidden -->
		<div *ngIf="!menuHeaderDisplay"></div>
		<tf-topbar></tf-topbar>
		<!-- end:: Header Topbar -->
	</div>
</div>
<!-- end: Header -->
