<div class="col-md-12 tf-form">
	<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
		<tf-portlet-body class="tf-portlet__body--fit card-filters px-5 pt-4 pb-3" >
			<form novalidate [formGroup]="filterForm">
				<div class="row">
					<mat-form-field class="col-xl-3 col-md-3 col-sm-6 col-xs-12 mat-filter-no-head">
						<mat-label>{{'CAUSERIES.ORGANISATEUR' | translate}}</mat-label>
						<mat-select class="form-control" formControlName="organisateur_id" name="organisateur_id">
							<mat-option>{{'FILTER.SEARCH_ALL' | translate}}</mat-option>
							<mat-option *ngFor="let organisateur of users" [value]="organisateur.id">
								{{organisateur | fullName}}
							</mat-option>
						</mat-select>
						<button mat-button *ngIf="formHasValue('organisateur_id')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('organisateur_id'); $event.stopPropagation()">
							<mat-icon>clear</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</form>
		</tf-portlet-body>
	</tf-portlet>
</div>
