//
// Page - FAQ v1
// Pages SASS files are compiled into separate css files
//



// Global config
@import "../../config";

// Layout config
@import "../../global/layout/config.scss";

.tf-faq-v1 {
    .tf-nav {
        .tf-nav__item {
            padding: 0.5rem 0;

            .tf-nav__link {
                background-color: transparent !important;

                > .tf-nav__link-text {
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: tf-base-color(label, 2);
                    transition: color 0.3s ease;
                }
            }

            &:hover,
            &.tf-nav__item--active {
                > .tf-nav__link {

                    > .tf-nav__link-text {
                        color: tf-brand-color();
                        transition: color 0.3s ease;
                    }
                }
            }

            .tf-nav__sub {
                .tf-nav__item {
                    padding: 0.25rem 0;
                }
            }
        }
    }
}
