<div class="col-md-12 tf-form">
	<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
		<tf-portlet-body class="tf-portlet__body--fit card-filters px-5 pt-4 pb-3" >
			<form novalidate [formGroup]="filterForm" *ngIf="filterForm">
				<div class="row">
					<tf-tree-select [itemsList]="categories" class="col-12" [required]="false" [withAll]="true" [translateTitle]="'MATERIELS.CATEGORIE'" (onChangedItem)="categorieChanged($event)" *ngIf="categories"></tf-tree-select>
					
					<mat-form-field class="col-xl-3 col-md-3 col-sm-6 col-xs-12">
						<mat-label>{{'MATERIELS.ACTUAL_USER.TITLE' | translate}}
						</mat-label>
						<mat-select class="form-control" formControlName="actual_user_id" name="actual_user_id">
							<mat-option *ngFor="let user of users" [value]="user.id">
								{{user.trigramme}} - {{user.fullname}}
							</mat-option>
						</mat-select>
						<button mat-button *ngIf="formHasValue('actual_user_id')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('actual_user_id'); $event.stopPropagation()">
							<mat-icon>clear</mat-icon>
						</button>
					</mat-form-field>
					 <mat-form-field class="col-3 st-group" floatLabel="always" appearance="none" >
						<span class="st-label pointer" (click)="toggleCheck('late_check')">{{'MATERIELS.LATE_CHECK.SHORTITLE' | translate}}</span>
						<mat-slide-toggle id="show_inactives" [checked]="filterForm.get('late_check').value == 1" (change)="onCheckChange($event, 'late_check')"></mat-slide-toggle>
						<textarea matInput hidden></textarea>
					</mat-form-field>
					<!--<mat-form-field class="col-3 st-group" floatLabel="always" appearance="none" >
						<span class="st-label pointer" (click)="toggleCheck('show_inactives')">{{'MATERIELS.SHOW_INACTIVES.SHORTITLE' | translate}}</span>
						<mat-slide-toggle id="show_inactives" [checked]="filterForm.get('show_inactives').value == 1" (change)="onCheckChange($event, 'show_inactives')"></mat-slide-toggle>
						<textarea matInput hidden></textarea>
					</mat-form-field>
						<mat-form-field class="col-3 st-group" floatLabel="always" appearance="none" >
						<span class="st-label pointer" (click)="toggleCheck('only_common_stock')">{{'MATERIELS.ONLY_COMMON_STOCK.TITLE' | translate}}</span>
						<mat-slide-toggle id="only_common_stock" [checked]="filterForm.get('only_common_stock').value == 1" (change)="onCheckChange($event, 'only_common_stock')"></mat-slide-toggle>
						<textarea matInput hidden></textarea>
					</mat-form-field> -->
				</div>
				<div class="row">
					<div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
						<h6>{{'MATERIELS.DATE_ENTREE.TITLE' | translate}}</h6>
						<mat-form-field class="col-md-6 col-xl-6">
							<mat-label>{{'COMMON.DATE_RANGE.BETWEEN.TITLE' | translate}} :</mat-label>
							<input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false"  formControlName="date_entree_start" placeholder="DD/MM/YYYY">
						</mat-form-field>
						<mat-form-field class="col-md-6 col-xl-6">
							<mat-label>{{'COMMON.DATE_RANGE.AND.TITLE' | translate}} :</mat-label>
							<input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false"  formControlName="date_entree_end" placeholder="DD/MM/YYYY">
						</mat-form-field>
					</div>
					<!-- <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
						<h6>{{'MATERIELS.DATE_SORTIE.TITLE' | translate}}</h6>
						<mat-form-field class="col-md-6 col-xl-6">
							<mat-label>{{'COMMON.DATE_RANGE.BETWEEN.TITLE' | translate}} :</mat-label>
							<input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false"  formControlName="date_sortie_start" placeholder="DD/MM/YYYY">
						</mat-form-field>
						<mat-form-field class="col-md-6 col-xl-6">
							<mat-label>{{'COMMON.DATE_RANGE.AND.TITLE' | translate}} :</mat-label>
							<input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false"  formControlName="date_sortie_end" placeholder="DD/MM/YYYY">
						</mat-form-field>
					</div> -->
				</div>
			</form>
		</tf-portlet-body>
	</tf-portlet>
</div>
