<tf-search-list-bar [(ngModel)]="filter" (change)="getVisitesDash()" [hasAdvancedSearch]="true" [showFilters]="showFilters" (advancedSearchChange)="advancedSearchChanged($event)" class="row row-filters"></tf-search-list-bar>
<!-- <tf-visites-chantier-filters [hidden]="!showFilters" (change)="udpateFilters($event)" class="row"></tf-visites-chantier-filters> -->
<div class="row px-2">
	<div class="col-3">
		<tf-widget-indicator [value]="stats.total_vss" desc="{{'VISITES.DASH.VISITS_IN_PROGRESS' | translate}}"  *ngIf="stats; else loading"></tf-widget-indicator>
	</div>
	<div class="col-3">
		<tf-widget-indicator [value]="stats.total_ko_solved" desc="{{'VISITES.DASH.NC_RESOLVED' | translate}}"  *ngIf="stats; else loading"></tf-widget-indicator>
	</div>
	<div class="col-3">
		<tf-widget-indicator [value]="stats.total_ko_unsolved" desc="{{'VISITES.DASH.NC_ACTIONS' | translate}}"  *ngIf="stats; else loading"></tf-widget-indicator>
	</div>
	<div class="col-3">
		<tf-widget-indicator [value]="stats.total_avertissements" desc="{{'VISITES.DASH.WARN_NO' | translate}}"  *ngIf="stats; else loading"></tf-widget-indicator>
	</div>
	

	<div class="col-6">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #pieVsCat></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
	<div class="col-6">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #pieNcCat></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
	<div class="col-xl-6" style="padding:1em">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #evolGrp></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
	<div class="col-xl-6" style="padding:1em">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #evolAll></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
</div>

<ng-template #loading>
	<tf-widget-indicator [value]="null" [desc]="null"></tf-widget-indicator>
</ng-template>
