<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-user" *ngIf="user">
	<div class="tf-portlet-header ">
		<span class="title">
			<a (click)="goBack()">{{'MENU.SUB_USERS.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{user | fullName}}</span>
		</span>
		<span class="pull-right">
			<button mat-icon-button color="info" matTooltip="{{'USERS.ACTION.UPDATE_USER' | translate}}" (click)="editUser()" *ngxPermissionsOnly="['flashinfo_canUpdate']">
				<mat-icon>edit</mat-icon>
			</button>
		</span>
	</div>
	<tf-portlet-body class="tf-portlet__body--fit">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="box">
						<ngx-avatar class="user-avatar" [round]="false" [size]="200" cornerRadius="4" name="{{user | fullName}}"></ngx-avatar>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box box-coords">
						<h5><b>{{'USERS.CARD.ABOUT_USER.TITLE' | translate}}</b></h5>
						<p><span class="label pull-left mr-2">{{'COMMON.LASTNAME.LABEL' | translate}}</span><span class="" *ngIf="user.nom; else noDataFound">{{user.nom}}</span></p>
						<p><span class="label pull-left mr-2">{{'COMMON.FIRSTNAME.LABEL' | translate}}</span><span class="" *ngIf="user.prenom; else noDataFound">{{user.prenom}}</span></p>
						<p *ngIf="user.is_virtual == 0"><span class="label pull-left mr-2">{{'COMMON.BIRTHDAY.LABEL' | translate}}</span><span class="" *ngIf="user.date_naissance; else noDataFound">{{user.date_naissance | date:'dd/MM/yyyy'}}</span></p>
						<p *ngIf="user.is_virtual == 0"><span class="label pull-left mr-2">{{'COMMON.FONCTION.LABEL' | translate}}</span><span class="" *ngIf="user.fonction; else noDataFound">{{user.fonction?.libelle}}</span></p>
						<p *ngIf="user.is_virtual == 0 && user.manager"><span class="label pull-left mr-2">{{'COMMON.MANAGER.LABEL' | translate}}</span><span class="" >{{user.manager.nom}}</span></p>
						
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box box-coords">
						<p *ngIf="user.is_blocked == 0; else noAccount"><span class="label pull-left mr-2">{{'COMMON.PROFIL.TITLE' | translate}}</span><span class="" *ngIf="user.role; else noDataFound">{{user.role.libelle}}</span></p>

						<ng-template #noAccount>
                            <p class="text-center">
                                <button mat-raised-button color="info" class="btn-small" (click)="giveAccess()"> {{'USERS.GRANT_ACCESS.LABEL' | translate}}</button>
                            </p>
						</ng-template>

					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box text-center">
						<small>{{'SALARIES.ENTRY_AT.LABEL' | translate}} : {{user.date_entree | date:'dd/MM/yyyy'}}</small><br>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<mat-tab-group mat-align-tabs="start" animationDuration="1000ms">
					<mat-tab label="{{'ACTION.DETAIL' | translate}}">
						<div class="col-md-12">
							<div class="col-md-12">
								<div class="card" *ngIf="user.is_virtual == 0; else virtualUser">
									<h5><b>{{'USERS.CARD.USER_INFOS.TITLE' | translate}}</b></h5>
									<div class="row d-flex">
										<div class="box col-md-6">
											<h6><b>{{'USERS.CARD.USER_INFOS.EMERGENCY_CASE' | translate}}</b></h6>
											<div class="tf-divider"><span></span></div>
											<div class="box box-coords" style="flex:1">
												<p><span class="label pull-left mr-2">{{'COMMON.LASTNAME.LABEL' | translate}}</span><span class="blue" *ngIf="user.nom_urgence; else noDataFound">{{user.nom_urgence}}</span></p>
												<p><span class="label pull-left mr-2">{{'SUIVI_HSE.MOBILE.TITLE' | translate}}</span><span class="blue" *ngIf="user.telephone_urgence; else noDataFound">{{user.telephone_urgence}}</span></p>
												<p><span class="label pull-left mr-2">{{'SUIVI_HSE.RELATIONSHIP.TITLE' | translate}}</span><span class="blue" *ngIf="user.lien_parente_urgence; else noDataFound">{{user.lien_parente_urgence}}</span></p>
											</div>
										</div>
										<div class="box col-md-6">
											<h6><b>{{'USERS.CARD.USER_INFOS.MEDICAL_VISIT' | translate}}</b></h6>
											<div class="tf-divider"><span></span></div>
											<div class="box box-coords" style="flex:1">
												<p><span class="label pull-left mr-2">{{'SUIVI_HSE.RQTH.TITLE' | translate}}</span><span class="blue">{{user.rqth ? 'Oui' : 'Non'}}</span></p>
												<p><span class="label pull-left mr-2">{{'SUIVI_HSE.REALIZED.TITLE' | translate}}</span><span class="blue" *ngIf="user.date_visite_medicale_passed; else noDataFound">{{user.date_visite_medicale_passed | date:'dd/MM/yyyy'}}</span></p>
												<p><span class="label pull-left mr-2">{{'SUIVI_HSE.TO_RENEW.TITLE' | translate}}</span><span class="blue" *ngIf="user.date_visite_medicale_next; else noDataFound">{{user.date_visite_medicale_next | date:'dd/MM/yyyy'}}</span></p>
											</div>
										</div>
										<!-- <div class="box box-ar-vs col-md-3">
                                        <h6><b>Ouvrage concerné</b></h6>
                                        <div class="tf-divider"><span></span></div>
                                        <div class="box box-coords" style="flex:1">
                                            <p><span class="label pull-left mr-2">Type</span><span class="blue" *ngIf="user.ouvrage; else noDataFound">{{user.ouvrage}}</span></p>
                                        </div>
                                    </div>
                                    <div class="box box-ar-vs col-md-3">
                                        <h6><b>Indications complémentaires</b></h6>
                                        <div class="tf-divider"><span></span></div>
                                        <div class="box box-coords" style="flex:1">
                                            <p><span class="label pull-left mr-2">Indication</span><span class="blue" *ngIf="user.indication; else noDataFound">{{user.indication}}</span></p>
                                        </div>
                                    </div> -->
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
				</mat-tab-group>
			</div>

		</div>
	</tf-portlet-body>
</tf-portlet>


<ng-template #noDataFound>
	<span class="no-data-label">
		{{'COMMON.NO_DATA_FOUND.TITLE' | translate}}
	</span>
</ng-template>
<ng-template #virtualUser>
	{{'USERS.VIRTUEL.SHORTTITLE' | translate}}
</ng-template>
