<div class="tf-portlet">
	<div class="tf-portlet__head tf-portlet__head__custom">
		<div class="tf-portlet__head-progress">
			<!-- here can place a progress bar-->
			<mat-progress-bar mode="indeterminate" *ngIf="viewLoading"></mat-progress-bar>
		</div>
		<div class="tf-portlet__head-label">
			<h3 class="tf-portlet__head-title">{{data.title}}</h3>
			<span class="tf-portlet__head-icon tf-hide">
				<i class="la la-gear"></i>
			</span>
		</div>
	</div>
	<div class="tf-form">
		<div class="tf-portlet__body">
			<div class="form-group tf-form__group row">
				<div class="col-lg-12">
					{{viewLoading ? data.waitDesciption : data.description}}
				</div>
			</div>
		</div>
		<div class="tf-portlet__foot tf-portlet__no-border tf-portlet__foot--fit text-right">
			<div class="tf-form__actions tf-form__actions--sm">
				<button mat-button (click)="onNoClick()">Cancel</button>&nbsp;
				<button mat-button (click)="onYesClick()" color="primary" cdkFocusInitial [disabled]="viewLoading">Delete</button>
			</div>
		</div>
	</div>
</div>
