<tf-portlet>
	<div class="tf-portlet__head">
		<div class="tf-portlet__head-label">
			<h3 class="tf-portlet__head-title">
				{{'MENU.FLASHINFOS' | translate}}
			</h3>
		</div>
		<div class="tf-portlet__head-toolbar">
			<button class="pull-right btn btn-sm btn-primary" *ngxPermissionsOnly="['ROOT', 'ADMIN']"
					routerLink="/admin/flash-infos/add">{{'FLASHINFOS.NEW.SHORTBUTTON' | translate}}</button>
		</div>
	</div>
	<tf-portlet-body [class]="'tf-portlet__body--fit'" style="padding: 2em; background:#f7f7ff">
		<div class="row" *ngIf="flashinfosLoaded; else loading">
			<div class="col-12 pointer" *ngIf="flashOnTop; else noFlashInfo" (click)="openFlashInfoModal(flashOnTop.id)">
				<div class="flash-content">
					<h4>{{'FLASHINFOS.ONTOP.TITLE' | translate}}</h4>
					<tf-flashinfo-reader [data]="flashOnTop.content"></tf-flashinfo-reader>
				</div>
			</div>
			<div class="col-12 mt-4">
				<div class="flash-content" *ngIf="oldFlashList?.length > 0; else noFlashInfo">
					<h4>{{'FLASHINFOS.RECENTLY.TITLE' | translate}}</h4>
					<div *ngFor="let flash of oldFlashList" class="pointer" (click)="openFlashInfoModal(flash.id)">
						<p>{{flash.title}}</p>
					</div>
				</div>
			</div>
		</div>
	</tf-portlet-body>
</tf-portlet>

<ng-template #noFlashInfo>
	<div class="text-center mt-4 font-italic">
		{{'FLASHINFOS.NOTIF.NO_FLASH' | translate}}
	</div>
</ng-template>

<ng-template #loading>
	<div class="loading-card">
		<mat-spinner color="accent" diameter="30"></mat-spinner>
	</div>
</ng-template>
