<!-- Modal-header -->
<div class="modal-header">
    <h4 class="modal-title">
        {{'PLANACTIONS.CARD.CLOSURE_ACTION.TITLE' | translate}}
    </h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<!-- Modal-body -->
<div class="modal-body">
    <ng-container [formGroup]="form" *ngIf="form">
        <div class="row">
            <div class="col-12">
                <!-- DATE REALISATION -->
				<mat-form-field class="col-12">
					<mat-label>{{'PLANACTIONS.REALISATION.LABEL' | translate}}</mat-label>
					<input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false" formControlName="date_realisation" [required]="isFieldRequired('date_realisation')" placeholder="DD/MM/YYYY">
					<mat-error *ngIf="isControlHasError('date_realisation','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
				</mat-form-field>
                
                <!-- COMMENTAIRE -->
				<mat-form-field class="col-12">
					<mat-label>{{'PLANACTIONS.COMMENT.LABEL' | translate}}</mat-label>
					<textarea class="form-control" matInput name="commentaires" [formControl]="form.get('commentaires')" [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2"  [cdkAutosizeMaxRows]="20" placeholder="{{'ACTION.ENTER_HERE' | translate}}" rows="2"></textarea>
                    <mat-error *ngIf="isControlHasError('commentaires','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
				</mat-form-field>

                <!-- EFFICACITE -->
                <mat-form-field class="col-12">
					<mat-label>{{'PLANACTIONS.EFFICACITE.LABEL' | translate}}</mat-label>
                    <input matInput class="form-control" [formControl]="form.get('efficacite')" type="string" name="efficacite" placeholder="{{'ACTION.ENTER_HERE' | translate}}" />
					<mat-error *ngIf="isControlHasError('efficacite','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
				</mat-form-field>
            </div>
        </div>
        <!-- Modal-footer -->
        <div class="row mt-4">
            <div class="col-12 col-actions">
                <button mat-raised-button type="button" (click)="activeModal.dismiss()" class="btn-small" color="warn">{{'ACTION.CANCEL' | translate}}</button>
                <button mat-raised-button type="button" (click)="save()" class="btn-small" color="success" [disabled]="!formHasValue('date_realisation')">{{'ACTION.SAVE' | translate}}</button>
            </div>
        </div>
    </ng-container>
</div>