//
// Page - User Login 1
// Pages SASS files are compiled into separate css files
//



// Global config
@import "../../config";

// Layout config
@import "../../global/layout/config.scss";

// Login Base
.tf-login.tf-login--v1 {
    background: white;
    .tf-grid__item.tf-grid__item--fluid{
        background-repeat: no-repeat;
        background-size: contain;
    }
    // Aside
    .tf-login__aside {
        width: 605px;
        padding: 3rem 3.5rem;

        .tf-login__logo {
            display: flex;
        }

        .tf-login__title {
            color: #ffffff;
            font-size: 2rem;
            font-weight: 500;
        }

        .tf-login__subtitle {
            font-size: 1.2rem;
            font-weight: 200;
            margin: 2.5rem 0 3.5rem 0;
            color: rgba(#fff, 0.7);
        }

        .tf-login__info {
            display: flex;
            justify-content: space-between;

            .tf-login__menu {
                > a {
                    text-decoration: none;
                    color: #fff;
                    margin-right: 2rem;
                    display: inline-block;

                    @include tf-link-color(rgba(#fff, 0.7), #fff);

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .tf-login__copyright {
                color: rgba(#fff, 0.4);
            }
        }
    }

    // Wrapper
    .tf-login__wrapper {
        padding: 3rem 3rem;
        // background: #fff;
        background: transparent;

        // Head
        .tf-login__head {
            font-size: 1rem;
            font-weight: 500;
            text-align: right;

            .tf-login__signup-label {
                color: tf-base-color(label, 2);
            }

            .tf-login__signup-link {
                color: tf-brand-color();
            }
        }

        // Body
        .tf-login__body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            // Form Wrapper
            .tf-login__form {
                width: 100%;
                max-width: 450px;
                padding: 20px;
                background: white;

                .tf-login__title {
                    display: block;
                    text-align: center;
                    margin-bottom: 5rem;
                    text-decoration: none;

                    > h3 {
                        font-size: 2rem;
                        color: #67666e;
                    }
                }

                // Form
                .tf-form {
                    .tf-form-block{
                        border-radius: 8px;
                        border: solid 1px #eaecf0;
                        p{
                            margin: 2.5rem 2.5rem 1rem;
                        }
                        .mat-form-field-appearance-legacy {
                            .mat-form-field-underline{
                                opacity: 0;
                            }
                            .mat-form-field-wrapper{
                                padding-bottom: 0;
                            }
                            .mat-form-field-subscript-wrapper{
                                top: calc(100% - 0.4em);
                                *>div{
                                    display: flex;
                                    flex-flow: row wrap;
                                    justify-content: flex-start;
                                }
                            }
                            .mat-form-field-suffix{
                                font-size: 1.5em;
                            }
                        }
                        .form-group {
                            margin: 1rem 2.5rem 1.5rem;
                            padding: 0;
                            .form-control {
                                border: none;
                                height: 30px;
                                font-weight: bolder;
                                margin-top: 1.25rem;
                                // background-color: rgba(#f7f7f9, 0.7);
                                background-color: transparent;
                                transition: background-color 0.3s ease;
                                
                                &::placeholder{
                                    font-weight: lighter;
                                }
                                // &:focus {
                                //     transition: background-color 0.3s ease;
                                //     background-color: #f7f7f9;
                                // }
                            }
                        }
                    }
                    .mat-form-field-label-wrapper{
                        top: -1.3em;
                    }
                    .mat-form-field-appearance-legacy{
                        
                        &.mat-form-field-can-float{
                            .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper .mat-form-field-label, 
                            .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label{
                                transform: none;
                            }
                        }
                        &.mat-form-field-can-float.mat-form-field-should-float{
                            .mat-form-field-label{
                                transform: none;
                            }
                        }
                    }
                }

                // Action
                .tf-login__actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 3rem 0;

                    .tf-login__link-forgot {
                        font-weight: 400;
                        @include tf-link-color(tf-base-color(label, 2), tf-brand-color());
                    }

                    .tf-login__btn-secondary,
                    .tf-login__btn-primary {
                        font-weight: 500;
                        font-size: 1rem;
                        height: 50px;
                        padding-left: 2.75rem;
                        padding-right: 2.75rem;
                    }

                    .btn-register {
                        width: 100%;
                        background-color: transparent;
                        border-color: #308677;
                        color: #308677;

                        &:hover {
                            background-color: #308677;
                            color: #fff;
                        }
                    }
                }

                // Divider
                .tf-login__divider {
                    margin: 1rem 0;

                    &:not(:first-child):not(:last-child) {
                        font-weight: 400;
                        color: #b5b2c3;
                        font-size: 1rem;
                    }
                }

                // Options
                .tf-login__options {
                    display: flex;
                    justify-content: center;
                    justify-content: space-between;
                    max-width: 100%;

                    > a {
                        text-decoration: none;
                        flex: 1;
                        justify-content: center;
                        align-items: center;
                        display: flex;

                        &:not(:last-child) {
                            margin: 0 1.5rem 0 0;
                        }
                    }
                }
            }
        }
    }

    @include tf-desktop {
        // Aside
        .tf-login__aside {
            flex: 1;
        }
    }

    @include tf-tablet-and-mobile() {
        // Aside
        .tf-login__aside {
            width: 100%;
            height: auto;
            padding: 2rem 1.5rem;

            .tf-login__logo {
                margin-bottom: 2.5rem;
            }

            .tf-login__info {
                margin-top: 2rem;
            }

            .tf-login__subtitle {
                margin: 2rem 0;
            }
        }

        // Wrapper
        .tf-login__wrapper {
            padding: 3rem 1.5rem;

            .tf-login__head {
                padding-left: 2rem;
                right: 2rem;
            }

            .tf-login__body {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5rem;

                .tf-login__form {
                    .tf-login__options {
                        > a {
                            &:not(:first-child):not(:last-child) {
                                margin: 0 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
