//
// Page
//




// Page body
body {
	background-color: $tf-page-body-bg-color;
	background-position: auto top;
	background-repeat: no-repeat;
	background-image: url('../media/cta-hse/bkg-header.png');
	background-position: center top;
	background-size: 100% 375px;

	// Container
	.tf-container {
		.tf-container {
			width: 100%;
		}
	}
}

// body.tf-header--minimize{
	// background-position: center -110px;
// }

// Subheader
.tf-subheader {
	padding: tf-get($tf-page-padding, desktop) 0 !important;
	height: 120px;

	.tf-aside--enabled & {
		margin-left: tf-get($tf-page-padding, desktop);
	}

	// Title
	.tf-subheader__title {
		// Mobile Toggler
		.tf-subheader__mobile-toggle {
			display: none;
		}
	}

	// Main
	.tf-subheader__main {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		// Light style
		.tf-subheader--transparent & {
			// Title
			.tf-subheader__title {
				font-size: 1.8rem;
				margin-bottom: 0.5rem;
				color: #fff;
			}

			// Desc
			.tf-subheader__desc {
				font-size: 1.2rem;
				color: rgba(#fff, 0.5);
			}

			// Breadcrumbs
			.tf-subheader__breadcrumbs {
				.tf-subheader__breadcrumbs-home {
					> i {
						color: rgba(#fff, 0.6);
					}

					&:hover {
						> i {
							color: #fff;
						}
					}

					&.tf-subheader__breadcrumbs-home--active {
						> i {
							color: #fff;
						}
					}
				}

				.tf-subheader__breadcrumbs-link {
					color: rgba(#fff, 0.7);

					&:hover {
						color: #fff;
					}

					&.tf-subheader__breadcrumbs-link--active {
						color: #fff;
					}
				}

				.tf-subheader__breadcrumbs-separator {
					&:after {
						background: rgba(#fff, 0.6);
					}
				}
			}
		}
	}

	// Toolbar
	.tf-subheader__toolbar {
		// Primary button
		.btn.tf-subheader__btn-secondary {
			height: auto;
			padding: 1.5rem 2rem;
			border: 0;
			background-color: rgba(#fff, 0.1);
			color: rgba(#fff, 0.8);

			@include tf-rounded {
				border-radius: $tf-border-radius;
			}

			&:hover,
			&:active,
			&.active,
			.show &,
			&:focus {
				border: 0;
				background-color: rgba(#fff, 0.3);
				color: #fff;
			}
		}

		// Options button
		.btn.tf-subheader__btn-options {
			height: auto;
			padding: 1.5rem 2rem;

			@include tf-rounded {
				border-radius: $tf-border-radius;
			}
		}
	}
}

// Desktop(1024px and above)
@include tf-desktop() {
	// Container
	.tf-container {
		padding: 0 tf-get($tf-page-padding, desktop);
	}

	// Body
	.tf-body {
		// fixed & minimized header
		.tf-header--fixed.tf-header--minimize & {
			padding-top: tf-get($tf-header-config, base, desktop, default, height);
		}

		> .tf-container {
			padding-right: 0 !important;
		}
	}

	// Support Center/FAQ 3
	.tf-sc-faq-3 {
		.tf-sc__title {
			color:#fff;
			margin-bottom: 0.5rem;
		}

		.tf-sc__subtitle {
			color: rgba(#fff, 0.7);
		}

		.tf-sc__bg {
			margin-top: 4rem;
		}
	}
}

// Page fluid mode(below $tf-page-container-width)
@media (min-width: #{$tf-page-container-width + (2 * $tf-page-fluid-container-padding) - 1px}) {
	// Page container
	.tf-container.tf-container--fluid {
		padding: 0 $tf-page-fluid-container-padding;
	}
}

// Fixed container width change to fluid
@include tf-media-range( lg, $tf-page-container-width + (2 * tf-get($tf-page-padding, desktop)) ) {
	.tf-container:not(.tf-container--fluid) {
		width: 100%;
	}
}

// Tablet & mobile mode(1024px and below)
@include tf-tablet-and-mobile() {
	// Page container
	.tf-container {
		padding: 0 tf-get($tf-page-padding, mobile);
	}

	// Page wrapper
	.tf-wrapper {
		// Fixed Header
		.tf-header-mobile--fixed & {
			padding-top: tf-get($tf-header-config, base, mobile, self, default, height);
		}
	}

	// Subheader
	.tf-subheader {
		padding: tf-get($tf-page-padding, mobile) 0 !important;
		height: auto;

		// Main
		.tf-subheader__main {
			// Title
			.tf-subheader__title {
				display: flex;
				align-items: center;

				// Mobile Toggler
				@include tf-burger-icon-build(tf-subheader__mobile-toggle, tf-get($tf-subheader, toggle));
				@include tf-burger-icon-skin(tf-subheader__mobile-toggle, tf-get($tf-subheader, toggle, color));

				.tf-subheader__mobile-toggle {
					margin-right: 1rem;
				}
			}
		}
	}
}
