<div class="py-2 px-4">
	<!--  class="modal-title" -->
	<h4 mat-dialog-title>
		<span *ngIf="data.origin == 'add';">{{'MATERIELS.ACTION.ASSIGN_MATERIEL' | translate}}</span>
		<span *ngIf="data.origin == 'return';">{{'MATERIELS.ACTION.RETURN-MATERIEL' | translate}}</span>
		<span *ngIf="data.origin == 'update';">{{'MATERIELS.ACTION.MODIFY_LOAN' | translate}}</span>
	</h4>
	<!-- class="modal-body"  -->
	<mat-dialog-content >
		<form [formGroup]="form" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate >
			<div class="row">
				<!-- SALARIE -->
				<tf-select-autocomplete
					class="w-100"
					[class]="'col-12'"
					[options]="salariesOptions"
					label="{{'MATERIELS.ASSIGN_USER.LABEL' | translate}}"
					[control]="form.controls['salarie_id']" >
				</tf-select-autocomplete>			
				<!-- DATE PRET -->
				<mat-form-field class="col-12">
					<mat-label>{{'MATERIELS.DATE_PRET.LABEL' | translate}}</mat-label>
					<input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false" formControlName="date_pret" [required]="isFieldRequired('date_pret')" placeholder="DD/MM/YYYY">
					<mat-error *ngIf="isControlHasError('date_pret','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
				</mat-form-field>
				<!-- DON DE MATERIEL -->

				<mat-form-field class="col-12" *ngIf="data.origin == 'add'">
					<mat-label>{{'MATERIELS.QTE_PRET.LABEL' | translate}}</mat-label>
					<input matInput class="form-control" type="number" min="1" formControlName="qte_pret" [required]="isFieldRequired('qte_pret')" >
					<mat-error *ngIf="isControlHasError('qte_pret','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
				</mat-form-field>
				<!-- DON DE MATERIEL -->
				
				<div class="col-12">
					<div>
						<mat-label>{{'MATERIELS.LOAN_TYPE.LABEL' | translate}}</mat-label>
					</div>
					<div class="mt-4" >
						<mat-radio-group formControlName="is_given">
							<mat-radio-button class="metric-radio" [value]="0">{{'MATERIELS.LOAN_TYPE.LOAN' | translate}}</mat-radio-button>
							<mat-radio-button class="metric-radio" [value]="1">{{'MATERIELS.LOAN_TYPE.IS_GIVEN' | translate}}</mat-radio-button>
						</mat-radio-group>
					</div>
					<div>
						<mat-error *ngIf="isControlHasError('is_given','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
					</div>
				</div>

				<!-- DATE RETOUR -->
				<mat-form-field class="col-12">
					<mat-label>{{'MATERIELS.DATE_RETOUR.LABEL' | translate}}</mat-label>
					<input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false" formControlName="date_retour" [required]="isFieldRequired('date_retour')" placeholder="DD/MM/YYYY">
					<mat-error *ngIf="isControlHasError('date_retour','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
				</mat-form-field>
			</div>
		</form>
	</mat-dialog-content>
	<!-- class="modal-footer" -->
	<mat-dialog-actions class="justify-content-between">
		<button mat-raised-button (click)="cancel()" type="button" color="warn" class="btn-small mr-2">
			{{ 'ACTION.CANCEL' | translate }}
		</button>
		<button mat-raised-button type="button" color="info" class="btn-small" (click)="submitForm()" [ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': formloading}" [disabled]="formloading || !form?.valid">
			{{'ACTION.SAVE' | translate}}
		</button>
	</mat-dialog-actions>
</div>