<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-user" *ngIf="user">
	<div class="tf-portlet-header ">
		<span class="title">
			{{'MENU.MY_PROFILE' | translate}}
		</span>
		<span class="pull-right">
			<button mat-icon-button color="info" matTooltip="Modifier l'utilisateur" (click)="editUser()" *ngxPermissionsOnly="['salarie_canUpdate']">
				<mat-icon>edit</mat-icon>
			</button>
		</span>
	</div>
	<tf-portlet-body class="tf-portlet__body--fit">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="box">
						<!-- TODO photo -->
						<ngx-avatar class="user-avatar" [round]="false" [size]="200" cornerRadius="4" name="{{user | fullName}}"></ngx-avatar>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box box-coords">
						<h5><b>À propos de l'utilisateur</b></h5>
						<p><span class="label pull-left mr-2">{{'COMMON.LASTNAME.LABEL' | translate}}</span><span class="" *ngIf="user.nom; else noDataFound">{{user.nom}}</span></p>
						<p><span class="label pull-left mr-2">{{'COMMON.FIRSTNAME.LABEL' | translate}}</span><span class="" *ngIf="user.prenom; else noDataFound">{{user.prenom}}</span></p>
						<p *ngIf="user.is_virtuel == 0"><span class="label pull-left mr-2">{{'COMMON.BIRTHDAY.LABEL' | translate}}</span><span class="" *ngIf="user.date_naissance; else noDataFound">{{user.date_naissance | date:'dd/MM/yyyy'}}</span></p>
						<p *ngIf="user.is_virtuel == 0"><span class="label pull-left mr-2">{{'COMMON.FONCTION.LABEL' | translate}}</span><span class="" *ngIf="user.fonction; else noDataFound">{{user.fonction?.libelle}}</span></p>

					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box box-coords">
						<p *ngIf="user.is_blocked == 0; else noAccount"><span class="label pull-left mr-2">{{'COMMON.PROFIL.TITLE' | translate}}</span><span class="" *ngIf="user.role; else noDataFound">{{user.role.libelle}}</span></p>

						<ng-template #noAccount>
							<p class="text-center">
								<button mat-raised-button color="info" class="btn-small" (click)="giveAccess()"> {{'USERS.GRANT_ACCESS.LABEL' | translate}}</button>
							</p>
						</ng-template>

					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box text-center">
						<small>{{'SALARIES.ENTRY_AT.LABEL' | translate}} : {{user.date_entree | date:'dd/MM/yyyy'}}</small><br>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<mat-tab-group mat-align-tabs="start" animationDuration="1000ms">
					<mat-tab label="Détails">
						<div class="col-md-12">
							<div class="col-md-12">
								<div class="card" *ngIf="user.is_virtuel == 0; else virtualUser">
									<h5><b>Information employeur</b></h5>
									<div class="row d-flex">
										<div class="box col-md-6">
											<h6><b>En cas d'urgence</b></h6>
											<div class="tf-divider"><span></span></div>
											<div class="box box-coords" style="flex:1">
												<p><span class="label pull-left mr-2">{{'COMMON.LASTNAME.LABEL' | translate}}</span><span class="blue" *ngIf="user.nom_urgence; else noDataFound">{{user.nom_urgence}}</span></p>
												<p><span class="label pull-left mr-2">Téléphone</span><span class="blue" *ngIf="user.telephone_urgence; else noDataFound">{{user.telephone_urgence}}</span></p>
												<p><span class="label pull-left mr-2">Lien de parenté</span><span class="blue" *ngIf="user.lien_parente_urgence; else noDataFound">{{user.lien_parente_urgence}}</span></p>
											</div>
										</div>
										<div class="box col-md-6">
											<h6><b>Visite médicale</b></h6>
											<div class="tf-divider"><span></span></div>
											<div class="box box-coords" style="flex:1">
												<p><span class="label pull-left mr-2">RQTH</span><span class="blue">{{user.rqth ? 'Oui' : 'Non'}}</span></p>
												<p><span class="label pull-left mr-2">Réalisée</span><span class="blue" *ngIf="user.date_visite_medicale_passed; else noDataFound">{{user.date_visite_medicale_passed | date:'dd/MM/yyyy'}}</span></p>
												<p><span class="label pull-left mr-2">À renouveler</span><span class="blue" *ngIf="user.date_visite_medicale_next; else noDataFound">{{user.date_visite_medicale_next | date:'dd/MM/yyyy'}}</span></p>
											</div>
										</div>
										<!-- <div class="box box-ar-vs col-md-3">
                                            <h6><b>Ouvrage concerné</b></h6>
                                            <div class="tf-divider"><span></span></div>
                                            <div class="box box-coords" style="flex:1">
                                                <p><span class="label pull-left mr-2">Type</span><span class="blue" *ngIf="user.ouvrage; else noDataFound">{{user.ouvrage}}</span></p>
                                            </div>
                                        </div>
                                        <div class="box box-ar-vs col-md-3">
                                            <h6><b>Indications complémentaires</b></h6>
                                            <div class="tf-divider"><span></span></div>
                                            <div class="box box-coords" style="flex:1">
                                                <p><span class="label pull-left mr-2">Indication</span><span class="blue" *ngIf="user.indication; else noDataFound">{{user.indication}}</span></p>
                                            </div>
                                        </div> -->
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
				</mat-tab-group>
			</div>

		</div>
	</tf-portlet-body>
</tf-portlet>


<ng-template #noDataFound>
	<span class="no-data-label">
		Non renseigné
	</span>
</ng-template>
<ng-template #virtualUser>
	Utilisateur virtuel
</ng-template>
