<form [formGroup]="demandeEpisForm" *ngIf="loaded; else loading" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate (ngSubmit)="demandeEpisForm.valid && onSubmit()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
	<tf-portlet class="main-portlet-form" id="portlet-demande">
		<div class="tf-portlet-header ">
			<span class="title">
				<a [routerLink]="['/materiels/demande-epis/list']">{{'MENU.SUB_DEMANDES_EPI.LIST' | translate}}</a>
				<span class="divider">></span>
				<span class="id-item">{{'MENU.SUB_DEMANDES_EPI.EDIT' | translate}}</span>
			</span>
		</div>
		<tf-demande-epis-form [demandeEpisForm]="demandeEpisForm" [formStatus]="formStatus" [edit]="true" (onSubmit)="onSubmit()" (onCancel)="cancel()"></tf-demande-epis-form>
	</tf-portlet>
	<div>
		<button mat-raised-button type="submit" [ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': formloading}" [disabled]="formloading || demandeEpisForm.invalid" color="success" class="pull-right">
			{{'ACTION.SAVE' | translate}}
		</button>
		<button type="button" mat-raised-button color="info" (click)="cancel()">
			{{'ACTION.CANCEL' | translate}}
		</button>
	</div>
</form>
<ng-template #loading>
	{{'DEMANDES_EPI.NOTIF.LOADING.TITLE' | translate}}
</ng-template>
