:host {

    &>.tf-portlet{

        background-color: #f7f9fc;

        .tf-portlet.item {
            min-height : 330px;
        }

    }

    .anticon {
        vertical-align: 0;
    }

    .ant-table-tbody > tr > td {
        font-weight: 500;
        font-size: 13px;
    }

    /deep/ nz-divider {
        .ant-divider-inner-text {
            font-size: 1.5rem;
        }
    }

}