<div class="modal-header">
	<h4 class="modal-title">S'inscrire à une formation</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
    <ng-container [formGroup]="form">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="col-12">
                    <mat-label>Formations</mat-label>
                    <mat-select class="form-control" formControlName="formation_id" name="formation_id">
                        <mat-option *ngFor="let formation of formations" [value]="formation.id">
                            {{formation.libelle}} 
                        </mat-option>
                    </mat-select>
                    <button mat-button *ngIf="formHasValue('formation_id')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('formation_id'); $event.stopPropagation()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-actions">
                <button mat-raised-button type="button" (click)="activeModal.dismiss()" class="btn-small" color="warn">{{'ACTION.CANCEL' | translate}}</button>
                <button mat-raised-button type="button" (click)="save()" class="btn-small" color="success">{{'ACTION.SAVE' | translate}}</button>
            </div>
        </div>
    </ng-container>
</div>