<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-user" *ngIf="user">
	<div class="tf-portlet-header ">
		<span class="title" *ngIf="source == 'admin'">
			<a (click)="goBack()">{{'MENU.SUB_USERS.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{user | fullName}}</span>
		</span>
		<span class="title" *ngIf="source == 'my-profile'">
			{{'MENU.MY_USER_PROFILE' | translate}}
		</span>
	</div>
	<tf-portlet-body class="tf-portlet__body--fit">
		<div class="row">
			<div class="col-3">
				<div class="card">
					<div class="box box-avatar" (click)="updatePhotoProfil()">
						<i class="fa fa-edit edit-avatar" ></i>
						<!-- user.photo_profil ? null :  -->
						<!--  -->
						<ngx-avatar class="user-avatar" [round]="false" [size]="200" cornerRadius="4" src="{{user.photo_profil ? user.photo_profil.src : null}}"  name="{{(user | fullName)}}"></ngx-avatar>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box box-coords">
						<p><span class="label pull-left mr-2">{{'COMMON.LASTNAME.LABEL' | translate}}</span><span class="" *ngIf="user.nom; else noDataFound">{{user.nom}}</span></p>
						<p><span class="label pull-left mr-2">{{'COMMON.FIRSTNAME.LABEL' | translate}}</span><span class="" *ngIf="user.prenom; else noDataFound">{{user.prenom}}</span></p>
						<p *ngIf="user.is_virtual == 0"><span class="label pull-left mr-2">{{'COMMON.EMAIL.LABEL' | translate}}</span><span class="" *ngIf="user.email; else noDataFound">{{user.email}}</span></p>
						<p *ngIf="user.is_virtual == 0"><span class="label pull-left mr-2">{{'COMMON.BIRTHDAY.LABEL' | translate}}</span><span class="" *ngIf="user.date_naissance; else noDataFound">{{user.date_naissance | date:'dd/MM/yyyy'}}</span></p>
						<p *ngIf="user.is_virtual == 0"><span class="label pull-left mr-2">{{'AUTH.INPUT.ENTITY' | translate}}</span><span class="" *ngIf="user.entreprise_autre; else noDataFound">{{user.entreprise_autre}}</span></p>
						<p *ngIf="user.is_virtual == 0"><span class="label pull-left mr-2">{{'COMMON.FONCTION.LABEL' | translate}}</span><span class="" *ngIf="user.fonction_autre; else noDataFound">{{user.fonction_autre}}</span></p>
						<p *ngIf="user.is_virtual == 0"><span class="label pull-left mr-2">{{'COMMON.PHONE.LABEL' | translate}}</span><span class="" *ngIf="user.telephone; else noDataFound">{{user.telephone}}</span></p>
						<p *ngIf="user.is_virtual == 0 && user.manager"><span class="label pull-left mr-2">{{'COMMON.MANAGER.LABEL' | translate}}</span><span class="" >{{user.manager | fullName}}</span></p>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box box-coords">
						<p *ngIf="user.is_blocked == 0; else noAccount"><span class="label pull-left mr-2">{{'COMMON.PROFIL.TITLE' | translate}}</span><span class="" *ngIf="user.role; else noDataFound">{{user.role.libelle}}</span></p>
						<ng-template #noAccount>
							<p class="text-center" *ngIf="source == 'admin'">
								<button mat-raised-button color="info" class="btn-small" (click)="giveAccess()"> {{'USERS.GRANT_ACCESS.LABEL' | translate}}</button>
							</p>
						</ng-template>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box text-center">
						<small>{{'SALARIES.ENTRY_AT.LABEL' | translate}} : {{user.date_entree? (user.date_entree | date:'dd/MM/yyyy') : '-'}}</small><br>
					</div>
				</div>
			</div>
			<div class="col-9" *ngIf="user.is_virtual == 0; else virtualUser">
						<div class="row h-100">
							<div class="col-md-12 h-100">
								<div class="card h-100" *ngIf="user.is_virtual == 0; else virtualUser">

									<div class="card-title">
										<h5><b>Information employeur</b></h5>
										<span>
											<button mat-icon-button color="info" matTooltip="{{'USERS.ACTION.UPDATE_USER' | translate}}" (click)="editUser()">
												<mat-icon>edit</mat-icon>
											</button>
										</span>
									</div>
									<div class="row d-flex">
										<div class="box col-md-6">
											<h6><b>{{'USERS.CARD.USER_INFOS.EMPLOYEE_INFOS' | translate}}</b></h6>
											<div class="tf-divider"><span></span></div>
											<div class="box box-coords" style="flex:1">
												<p>
													<span class="label pull-left mr-2">{{'COMMON.ENTITY.LABEL' | translate}}</span>
													<span class="blue" *ngIf="user.entity; else noDataFound">{{user.entity.libelle}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">{{'COMMON.BU.LABEL' | translate}}</span>
													<span class="blue" *ngIf="user.bu; else noDataFound">{{user.bu.libelle}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">{{'COMMON.PROFIT_CENTER.LABEL' | translate}}</span>
													<span class="blue" *ngIf="user.profit_center; else noDataFound">{{user.profit_center.fullname}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">{{'COMMON.CLIENT.LABEL' | translate}}</span>
													<span class="blue" *ngIf="user.client; else noDataFound">{{user.client.raison_sociale}}</span>
												</p>
											</div>
										</div>
										<div class="box col-md-6">
											<h6><b>Visite médicale</b></h6>
											<div class="tf-divider"><span></span></div>
											<div class="box box-coords" style="flex:1">
												<p>
													<span class="label pull-left mr-2">RQTH</span>
													<span class="blue">{{user.rqth ? 'Oui' : 'Non'}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">Réalisée</span>
													<span class="blue" *ngIf="user.date_visite_medicale_passed; else noDataFound">{{user.date_visite_medicale_passed | date:'dd/MM/yyyy'}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">À renouveler</span>
													<span class="blue" *ngIf="user.date_visite_medicale_next; else noDataFound">{{user.date_visite_medicale_next | date:'dd/MM/yyyy'}}</span>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>					
			</div>
		</div>
	</tf-portlet-body>
</tf-portlet>


<ng-template #noDataFound>
	<span class="no-data-label">
		{{'COMMON.NO_DATA_FOUND.TITLE' | translate}}
	</span>
</ng-template>

<ng-template #virtualUser>
	<div class="col-9">
		<div class="card">{{'USERS.VIRTUEL.SHORTTITLE' | translate}}</div>
	</div>
</ng-template>

<ng-template #invalid>
	<span class="no-data-label invalid">
		{{'COMMON.INVALID.LABEL' | translate}}
	</span>
</ng-template>