<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-user" *ngIf="user">
	<div class="tf-portlet-header ">
		<span class="title" *ngIf="source == 'admin'">
			<a (click)="goBack()">{{'MENU.SUB_USERS.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{user | fullName}}</span>
		</span>
		<span class="title" *ngIf="source == 'my-profile'">
			{{'MENU.MY_PROFILE' | translate}}
		</span>
		<span class="pull-right">
			<button mat-icon-button color="info" matTooltip="{{'USERS.ACTION.UPDATE_USER' | translate}}" (click)="editUser()" *ngxPermissionsOnly="['salarie_canUpdate']">
				<mat-icon>edit</mat-icon>
			</button>
		</span>
	</div>
	<tf-portlet-body class="tf-portlet__body--fit">
		<div class="row">
			<div class="col-3">
				<div class="card">
					<div class="box box-avatar" (click)="updatePhotoProfil()">
						<i class="fa fa-edit edit-avatar" ></i>
						<!-- user.photo_profil ? null :  -->
						<!--  -->
						<ngx-avatar class="user-avatar" [round]="false" [size]="200" cornerRadius="4" src="{{user.photo_profil ? user.photo_profil.src : null}}"  name="{{(user | fullName)}}"></ngx-avatar>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box box-coords">
						<p><span class="label pull-left mr-2">{{'COMMON.LASTNAME.LABEL' | translate}}</span><span class="" *ngIf="user.nom; else noDataFound">{{user.nom}}</span></p>
						<p><span class="label pull-left mr-2">{{'COMMON.FIRSTNAME.LABEL' | translate}}</span><span class="" *ngIf="user.prenom; else noDataFound">{{user.prenom}}</span></p>
						<p *ngIf="user.is_virtual == 0"><span class="label pull-left mr-2">{{'COMMON.BIRTHDAY.LABEL' | translate}}</span><span class="" *ngIf="user.date_naissance; else noDataFound">{{user.date_naissance | date:'dd/MM/yyyy'}}</span></p>
						<p *ngIf="user.is_virtual == 0"><span class="label pull-left mr-2">{{'COMMON.FONCTION.LABEL' | translate}}</span><span class="" *ngIf="user.fonction; else noDataFound">{{user.fonction?.libelle}}</span></p>
						<p *ngIf="user.is_virtual == 0 && user.manager"><span class="label pull-left mr-2">{{'COMMON.MANAGER.LABEL' | translate}}</span><span class="" >{{user.manager | fullName}}</span></p>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box box-coords">
						<p *ngIf="user.is_blocked == 0; else noAccount"><span class="label pull-left mr-2">{{'COMMON.PROFIL.TITLE' | translate}}</span><span class="" *ngIf="user.role; else noDataFound">{{user.role.libelle}}</span></p>
						<ng-template #noAccount>
							<p class="text-center" *ngIf="source == 'admin'">
									<button mat-raised-button color="info" class="btn-small" (click)="giveAccess()"> {{'USERS.GRANT_ACCESS.LABEL' | translate}}</button>
							</p>
						</ng-template>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box text-center">
						<small>{{'SALARIES.ENTRY_AT.LABEL' | translate}} : {{user.date_entree | date:'dd/MM/yyyy'}}</small><br>
					</div>
				</div>
			</div>
			<div class="col-9" *ngIf="user.is_virtual == 0; else virtualUser">
				<mat-tab-group mat-align-tabs="start" animationDuration="1000ms" class="profil-mat-tab-group">
					<mat-tab label="Détails">
						<div class="row h-100">
							<div class="col-md-12 h-100">
								<div class="card h-100" *ngIf="user.is_virtual == 0; else virtualUser">
									<h5><b>Information employeur</b></h5>
									<div class="row d-flex">
										<div class="box col-md-6">
											<h6><b>{{'USERS.CARD.USER_INFOS.EMPLOYEE_INFOS' | translate}}</b></h6>
											<div class="tf-divider"><span></span></div>
											<div class="box box-coords" style="flex:1">
												<p>
													<span class="label pull-left mr-2">{{'COMMON.PIMAN_ENTITY.LABEL' | translate}}</span>
													<span class="blue" *ngIf="user.entity; else noDataFound">{{user.entity.libelle}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">{{'COMMON.BU.LABEL' | translate}}</span>
													<span class="blue" *ngIf="user.bu; else noDataFound">{{user.bu.libelle}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">{{'COMMON.PROFIT_CENTER.LABEL' | translate}}</span>
													<span class="blue" *ngIf="user.profit_center; else noDataFound">{{user.profit_center.fullname}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">{{'COMMON.CLIENT.LABEL' | translate}}</span>
													<span class="blue" *ngIf="user.client; else noDataFound">{{user.client.raison_sociale}}</span>
												</p>
											</div>
										</div>
										<div class="box col-md-6">
											<h6><b>Visite médicale</b></h6>
											<div class="tf-divider"><span></span></div>
											<div class="box box-coords" style="flex:1">
												<p>
													<span class="label pull-left mr-2">RQTH</span>
													<span class="blue">{{user.rqth ? 'Oui' : 'Non'}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">Réalisée</span>
													<span class="blue" *ngIf="user.date_visite_medicale_passed; else noDataFound">{{user.date_visite_medicale_passed | date:'dd/MM/yyyy'}}</span>
												</p>
												<p>
													<span class="label pull-left mr-2">À renouveler</span>
													<span class="blue" *ngIf="user.date_visite_medicale_next; else noDataFound">{{user.date_visite_medicale_next | date:'dd/MM/yyyy'}}</span>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
					<mat-tab label="Hse">
						<div class="row h-100">
							<!-- ACCUEIL SECU -->
							<div class="col-4 h-100">
								<div class="card h-100 pt-2">
									<div class="box box-secu">
										<h5><b>Mon accueil Sécurité Piman</b></h5>
										<div class="row mt-3">
											<div class="col-3">
												<img src="./assets/media/hse-svg/secu_undone.svg" alt="undone" class="shdw-5">
											</div>
											<div class="col-9 d-flex flex-column justify-content-center">
												<span>Accueil sécurité</span>
												<span class="font-weight-normal">---</span>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-3">
												<img src="./assets/media/hse-svg/secu_done.svg" alt="undone" class="shdw-5">
											</div>
											<div class="col-9 d-flex flex-column justify-content-center">
												<span>Livret d'accueil</span>
												<span class="font-weight-normal">---</span>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-3">
												<img src="./assets/media/hse-svg/secu_done.svg" alt="done" class="shdw-5">
											</div>
											<div class="col-9 d-flex flex-column justify-content-center">
												<span>Quiz Sécurité</span>
												<span class="font-weight-normal">14/20</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- REMONTEES SECU -->
							<div class="col-4 h-100">
								<div class="card h-100 pt-2">
									<div class="box">
										<h5><b>Remontées sécurité</b></h5>
										<div class="row mt-3" *ngFor="let remontee of remontees">
											<div class="col-3">
												<img src="{{remontee.type.icon}}" alt="{{remontee.type.libelle}}" width="60px">
											</div>
											<div class="col-9 d-flex flex-column justify-content-center">
												<span>{{remontee.type.libelle}}</span>
												<span class="font-weight-normal">{{remontee.description}}</span>
												<small>{{remontee.created_at | date:'dd/MM/yyyy'}}</small>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- REMONTEES SECU -->
							<div class="col-4 h-100">
								<div class="card h-100 pt-2">
									<div class="box">
										<h5><b>Causeries</b></h5>
										<div class="row mt-3" *ngFor="let causerie of causeries">
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
					<mat-tab label="Epis">
						<!-- PRET EPI -->
						<div class="row h-100">
							<div class="col-12 h-100">
								<div class="card h-100 pt-2">
									<div class="box">
										<h5><b>Prêt EPI</b></h5>
										<div class="row">
											<div class="col-12">
												<span class="d-block my-3">Casque de chantier</span>
												<table class="table table-sm table-epi">
													<thead>
														<tr>
															<th>Réf.</th>
															<th>Type</th>
															<th>Date de prêt</th>
															<th>Date de remise</th>
															<th>Vérification</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>34569</td>
															<td>Achat</td>
															<td>12/04/2022</td>
															<td>12/06/2022</td>
															<td>Valable</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="tf-divider">
											<span></span>
										</div>
										<div class="row">
											<div class="col-12">
												<span class="d-block my-3">Casque de chantier</span>
												<table class="table table-sm table-epi">
													<thead>
														<tr>
															<th>Réf.</th>
															<th>Type</th>
															<th>Date de prêt</th>
															<th>Date de remise</th>
															<th>Vérification</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>34569</td>
															<td>Achat</td>
															<td>12/04/2022</td>
															<td>12/06/2022</td>
															<td>Valable</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
					<mat-tab label="Formations">
						<!-- Formations -->
						<div class="row h-100">
							<div class="col-12 h-100">
								<div class="card h-100 pt-2">
									<div class="box">
										<table class="table table-sm table-formations">
											<thead>
												<tr>
													<th>Label</th>
													<th>Date de formation</th>
													<th>Date de renouvellement</th>
													<th>Vérification</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Incendie</td>
													<td>12/04/2022</td>
													<td>12/04/2024</td>
													<td>Valable</td>
												</tr>
												<tr>
													<td>Risque Chimique Niveau 1</td>
													<td>03/07/2020</td>
													<td>03/07/2024</td>
													<td>Valable</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
				</mat-tab-group>
			</div>
		</div>
	</tf-portlet-body>
</tf-portlet>


<ng-template #noDataFound>
	<span class="no-data-label">
		{{'COMMON.NO_DATA_FOUND.TITLE' | translate}}
	</span>
</ng-template>
<ng-template #virtualUser>
	{{'USERS.VIRTUEL.SHORTTITLE' | translate}}
</ng-template>
