.mat-row:hover {
	background-color: transparent !important;
}

::ng-deep mat-form-field {
	&.pdp-custom-select {
		.mat-form-field-wrapper {
			padding-bottom: 22px !important;
		}
	}
}

.travaux-checkbox-container {
	::ng-deep mat-checkbox {
		label {
			white-space: pre-wrap !important;
		}
	}
}


.custom-margin-3{
	margin-left: 3%;
}
