<ng-container [formGroup]="pdpForm">
	<div class="row" [hidden]="origin == 'add' && partHided(1)">
		<div class="col-12">
			<div class="tf-heading tf-heading--md">|
				1 {{'PDP.EMERGENCY_CONTACTS_AND_NUMBERS_IN_THE_EVENT_OF_AN_ACCIDENT' | translate}}</div>
			<div class="row">
				<div class="col-md-12">
					<div class="tf-card-form">
						<div class="tf-heading tf-heading--sm">
							1.1 {{'Entreprise Utilisatrice' | translate}}
						</div>
						<div class="row form-row">
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Raison Sociale et contact' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="raison_sociale_eu"
									   formControlName="raison_sociale_eu"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('raison_sociale_eu')"/>
								<mat-error *ngIf="isControlHasError('raison_sociale_eu','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Raison Sociale et contact tel' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="raison_sociale_tel_eu"
									   formControlName="raison_sociale_tel_eu"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('raison_sociale_tel_eu')"/>
								<mat-error *ngIf="isControlHasError('raison_sociale_tel_eu','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Sauveteurs Secouriste au travail' | translate}}</mat-label>
								<textarea class="form-control no_border" name="sauveteurs_secouriste_travail"
										  matInput
										  cdkTextareaAutosize
										  #autosize="cdkTextareaAutosize"
										  cdkAutosizeMinRows="2"
										  cdkAutosizeMaxRows="5"
										  formControlName="sauveteurs_secouriste_travail"
										  placeholder="{{'ACTION.ENTER_HERE' | translate}}"
										  [required]="isFieldRequired('sauveteurs_secouriste_travail')"></textarea>
								<mat-error *ngIf="isControlHasError('sauveteurs_secouriste_travail','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="row form-row">
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Pôle QHSE' | translate}}</mat-label>
								<textarea class="form-control no_border" name="pole_qhse"
										  matInput
										  cdkTextareaAutosize
										  #autosize="cdkTextareaAutosize"
										  cdkAutosizeMinRows="2"
										  cdkAutosizeMaxRows="5"
										  formControlName="pole_qhse"
										  placeholder="{{'ACTION.ENTER_HERE' | translate}}"
										  [required]="isFieldRequired('pole_qhse')"></textarea>
								<mat-error *ngIf="isControlHasError('pole_qhse','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Médecin du travail' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="medecin_travail_eu_name"
									   formControlName="medecin_travail_eu_name"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('medecin_travail_eu_name')"/>
								<mat-error *ngIf="isControlHasError('medecin_travail_eu_name','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Médecin du travail tel' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="medecin_travail_eu_tel"
									   formControlName="medecin_travail_eu_tel"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('medecin_travail_eu_tel')"/>
								<mat-error *ngIf="isControlHasError('medecin_travail_eu_tel','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="row form-row">
							<mat-form-field class="col-xl-4">
								<mat-label>{{'CSE' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="cse_eu_name"
									   formControlName="cse_eu_name"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('cse_eu_name')"/>
								<mat-error *ngIf="isControlHasError('cse_eu_name','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'CSE poste' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="cse_eu_job"
									   formControlName="cse_eu_job"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('cse_eu_job')"/>
								<mat-error *ngIf="isControlHasError('cse_eu_job','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'CSE tel' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="cse_eu_tel"
									   formControlName="cse_eu_tel"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('cse_eu_tel')"/>
								<mat-error *ngIf="isControlHasError('cse_eu_tel','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="row form-row">
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Représentant entreprise' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="representant_entreprise_eu_name"
									   formControlName="representant_entreprise_eu_name"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('representant_entreprise_eu_name')"/>
								<mat-error *ngIf="isControlHasError('representant_entreprise_eu_name','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Représentant entreprise email' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="representant_entreprise_eu_mail"
									   formControlName="representant_entreprise_eu_mail"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('representant_entreprise_eu_mail')"/>
								<mat-error *ngIf="isControlHasError('representant_entreprise_eu_mail','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Représentant entreprise tel' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="representant_entreprise_eu_tel"
									   formControlName="representant_entreprise_eu_tel"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('representant_entreprise_eu_tel')"/>
								<mat-error *ngIf="isControlHasError('representant_entreprise_eu_tel','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="tf-heading tf-heading--sm">
							1.2 {{'Entreprise Extérieure' | translate}}
						</div>
						<div class="row form-row">
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Médecin du travail' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="medecin_travail_ee_name"
									   formControlName="medecin_travail_ee_name"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('medecin_travail_ee_name')"/>
								<mat-error *ngIf="isControlHasError('medecin_travail_ee_name','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Médecin du travail tel' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="medecin_travail_ee_tel"
									   formControlName="medecin_travail_ee_tel"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('medecin_travail_ee_tel')"/>
								<mat-error *ngIf="isControlHasError('medecin_travail_ee_tel','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Représentant entreprise' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="representant_entreprise_ee_name"
									   formControlName="representant_entreprise_ee_name"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('representant_entreprise_ee_name')"/>
								<mat-error *ngIf="isControlHasError('representant_entreprise_ee_name','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="row form-row">
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Représentant entreprise email' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="representant_entreprise_ee_mail"
									   formControlName="representant_entreprise_ee_mail"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('representant_entreprise_ee_mail')"/>
								<mat-error *ngIf="isControlHasError('representant_entreprise_ee_mail','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Représentant entreprise tel' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="representant_entreprise_ee_tel"
									   formControlName="representant_entreprise_ee_tel"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('representant_entreprise_ee_tel')"/>
								<mat-error *ngIf="isControlHasError('representant_entreprise_ee_tel','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
			<div class="tf-heading tf-heading--md">
				| 2 {{'Intervention de sous-traitants PIMAN ?' | translate}}
				<mat-slide-toggle [checked]="isChecked('is_piman_intervention')"
								  (change)="updateToggleValue($event, 'is_piman_intervention')"></mat-slide-toggle>
			</div>
			<div class="mt-3" *ngIf="isChecked('is_piman_intervention')">
				<div class="row">
					<div class="col-md-12">
						<div class="tf-card-form">
							<div class="row form-row">
								<mat-form-field class="col-xl-6">
									<mat-label>{{'Nom Sous-Traitant 1 ' | translate}}</mat-label>
									<input class="form-control" matInput type="text" name="sous_traitant1_name"
										   formControlName="sous_traitant1_name"
										   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
										   [required]="isFieldRequired('sous_traitant1_name')"/>
									<mat-error *ngIf="isControlHasError('sous_traitant1_name','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
								<mat-form-field class="col-xl-6">
									<mat-label>{{'Nom Sous-Traitant 1 Tel' | translate}}</mat-label>
									<input class="form-control" matInput type="text" name="sous_traitant1_tel"
										   formControlName="sous_traitant1_tel"
										   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
										   [required]="isFieldRequired('sous_traitant1_tel')"/>
									<mat-error *ngIf="isControlHasError('sous_traitant1_tel','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="row form-row">
								<mat-form-field class="col-xl-6">
									<mat-label>{{'Nom Sous-Traitant 2 ' | translate}}</mat-label>
									<input class="form-control" matInput type="text" name="sous_traitant2_name"
										   formControlName="sous_traitant2_name"
										   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
										   [required]="isFieldRequired('sous_traitant2_name')"/>
									<mat-error *ngIf="isControlHasError('sous_traitant2_name','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
								<mat-form-field class="col-xl-6">
									<mat-label>{{'Nom Sous-Traitant 2sous_traitant2_tel Tel' | translate}}</mat-label>
									<input class="form-control" matInput type="text" name="sous_traitant2_tel"
										   formControlName="sous_traitant2_tel"
										   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
										   [required]="isFieldRequired('sous_traitant2_tel')"/>
									<mat-error *ngIf="isControlHasError('sous_traitant2_tel','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tf-heading tf-heading--md">|
				3 {{'Détails de l’intervention' | translate}}</div>
			<div class="row">
				<div class="col-md-12">
					<div class="tf-card-form">
						<div class="row form-row">
							<mat-form-field class="col-xl-6">
								<mat-label>{{'Libellé de l’intervention' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="label_intervention"
									   formControlName="label_intervention"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('label_intervention')"/>
								<mat-error *ngIf="isControlHasError('label_intervention','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-6">
								<mat-label>{{'Lieu de l’intervention' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="lieu_intervention"
									   formControlName="lieu_intervention"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('lieu_intervention')"/>
								<mat-error *ngIf="isControlHasError('lieu_intervention','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="row form-row">
							<mat-form-field class="col-xl-3">
								<mat-label>{{'Pdp établi le' | translate}}</mat-label>
								<input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]"
									   [dropSpecialCharacters]="false" formControlName="pdp_intervention_at"
									   placeholder="DD/MM/YYYY" [required]="isFieldRequired('pdp_intervention_at')">
								<mat-error *ngIf="isControlHasError('pdp_intervention_at','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-2">
								<mat-label>{{'Horaires d’ouverture site de jour' | translate}}</mat-label>
								<input class="form-control text-center" type="time"
									   matInput
									   [required]="isFieldRequired('horaires_ouverture_site')"
									   name="horaires_ouverture_site"
									   formControlName="horaires_ouverture_site">
								<mat-error *ngIf="isControlHasError('horaires_ouverture_site','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<div class="col-xl-2 offset-xl-1 d-flex flex-column justify-content-center">
								<mat-checkbox (change)="updateToggleValue($event, 'is_night_shift')"
											  [checked]="isChecked('is_night_shift')">
									{{'Travail de nuit' | translate}}</mat-checkbox>
							</div>
							<div class="col-xl-2 d-flex flex-column justify-content-center">
								<mat-checkbox (change)="updateToggleValue($event, 'duration_intervention_mp400h')"
											  [checked]="isChecked('duration_intervention_mp400h')">
									{{'Plus de 400h ?' | translate}}</mat-checkbox>
							</div>
							<div class="col-xl-2 d-flex flex-column justify-content-center">
								<mat-checkbox (change)="updateToggleValue($event, 'is_astreinte')"
											  [checked]="isChecked('is_astreinte')">
									{{'Astreinte' | translate}}</mat-checkbox>
							</div>
						</div>
						<div class="row form-row">
							<div class="col-xl-2 d-flex flex-column justify-content-center">
								<mat-checkbox (change)="updateToggleValue($event, 'is_teletravail')"
											  [checked]="isChecked('is_teletravail')">
									{{'Télétravail' | translate}}</mat-checkbox>
							</div>
							<div class="col-xl-2 d-flex flex-column justify-content-center">
								<mat-checkbox (change)="updateToggleValue($event, 'is_presence_site_client')"
											  [checked]="isChecked('is_presence_site_client')">
									{{'Présence sur site client' | translate}}</mat-checkbox>
							</div>

							<mat-form-field class="col-xl-4 pdp-custom-select" appearance="standard">
								<mat-label>{{'A quelle fréquence ?' | translate}}</mat-label>
								<mat-select placeholder="Sélectionnez un élément"
											[disabled]="!isChecked('is_presence_site_client')"
											[required]="isFieldRequired('is_presence_site_client') && isChecked('is_presence_site_client')">
									<mat-option *ngFor="let frequence of frequences"
												[value]="frequence.id">{{frequence?.label}}</mat-option>
								</mat-select>
								<!--								<mat-error *ngIf="isControlHasError('is_presence_site_client','required')">-->
								<!--									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>-->
								<!--								</mat-error>-->
							</mat-form-field>
							<mat-form-field class="col-xl-4">
								<mat-label>{{'Effectif moyen prévisible :' | translate}}</mat-label>
								<input class="form-control" matInput type="text" name="effectif_moyen"
									   formControlName="effectif_moyen"
									   placeholder="{{'ACTION.ENTER_HERE' | translate}}"
									   [required]="isFieldRequired('effectif_moyen')"/>
								<mat-error *ngIf="isControlHasError('effectif_moyen','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 mb-4" *ngIf="partHided(2) && origin=='add'">
			<button mat-raised-button type="button" class="pull-right btn-small" color="info"
					(click)="showPart(2)">{{'ACTION.FOLLOWING' | translate}}</button>
		</div>
	</div>
	<div class="row" [hidden]="origin == 'add' && partHided(2)">
		<div class="col-12">
			<div class="tf-heading tf-heading--md">|
				4 {{'Consignes remises par l’entreprise extérieure' | translate}}</div>
			<div class="mt-3">
				<div class="row">
					<div class="col-md-12">
						<div class="tf-card-form">
							<!--							<div class="tf-heading tf-heading&#45;&#45;xs">-->
							<!--								{{'ARS.CARD.RISKS.LABEL' | translate}}-->
							<!--							</div>-->
							<table class="mt-3" mat-table [dataSource]="instructionsList">
								<ng-container matColumnDef="consignes">
									<!--									<th mat-header-cell *matHeaderCellDef> {{'ARS.FORM.RISKS' | translate}} </th>-->
									<td mat-cell *matCellDef="let element" [width]="'40%'">
										<div class="m-2">
											<mat-checkbox [value]="element.id"
														  (change)="onCheckBoxChange($event, 'consignes')"
														  [checked]="onCheckBoxIsChecked('consignes', element.id)">{{element.label}}</mat-checkbox>
										</div>
									</td>
								</ng-container>

								<ng-container matColumnDef="comments">
									<th mat-header-cell *matHeaderCellDef></th>
									<td mat-cell *matCellDef="let element" class="cell-textarea">
										<ng-container *ngIf="element?.is_comment_consigne">
											<textarea [disabled]="!isValueInFormArray('consignes', element.id)"
													  class="form-control no_border mb-2 mt-2 "
													  cols="5" rows="1"
													  (change)="onAddComment(element.id, 'consignes', 'comment', $event?.target?.value)"
													  placeholder="{{'ACTION.ENTER_HERE' | translate}}"></textarea>
										</ng-container>
										<div class="mb-2 mt-3 d-flex align-items-center " *ngIf="element?.has_details">
											<textarea [disabled]="!isValueInFormArray('consignes', element.id)"
													  cols="5" rows="1"
													  (change)="onAddComment(element.id, 'consignes', 'type_operation', $event?.target?.value)"
													  class="form-control no_border mb-2 mt-2 "
													  placeholder="{{element?.label_details | translate}}"></textarea>
										</div>
									</td>
								</ng-container>

								<tr mat-row *matRowDef="let row; columns: displayedColumnsConsignes;"></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 mb-4" *ngIf="partHided(3) && origin=='add'">
			<button mat-raised-button type="button" class="pull-right btn-small" color="info"
					(click)="showPart(3)">{{'ACTION.FOLLOWING' | translate}}</button>
		</div>
	</div>
	<div class="row" [hidden]="origin == 'add' && partHided(3)">
		<div class="col-12">
			<div class="tf-heading tf-heading--md">|
				5 {{'EPI mis à disposition de l’entreprise extérieure' | translate}}</div>
			<div class="mt-3">
				<div class="row">
					<div class="col-md-12">
						<div class="tf-card-form">
							<table class="mt-3" mat-table [dataSource]="EPIDispositionList">
								<ng-container matColumnDef="label">
									<td mat-cell *matCellDef="let element" [width]="'30%'">
										<div class="m-2">
											<mat-checkbox [value]="element.id"
														  (change)="onCheckBoxChange($event, 'epi_disposition')"
														  [checked]="onCheckBoxIsChecked('epi_disposition', element.id)">{{element.label}}</mat-checkbox>
										</div>
									</td>
								</ng-container>
								<ng-container matColumnDef="list">
									<td mat-cell *matCellDef="let element" class="cell-textarea" [width]="'25%'">
										<div class="d-flex flex-column align-items-center justify-content-center">
											<mat-select placeholder="Sélectionnez un élément"
														[disabled]="!onCheckBoxIsChecked('epi_disposition', element.id)"
														*ngIf="element?.items?.length > 0">
												<mat-option *ngFor="let item of element?.items"
															[value]="item.id">{{item?.label}}</mat-option>
											</mat-select>
										</div>
										<textarea cols="5" rows="1" *ngIf="element?.is_with_comment"
												  [disabled]="!onCheckBoxIsChecked('epi_disposition', element.id)"
												  class="form-control no_border mb-2 mt-3"
												  placeholder="{{'Autre' | translate}}"></textarea>
									</td>
								</ng-container>
								<ng-container matColumnDef="eu">
									<td mat-cell *matCellDef="let element" [width]="'15%'">
										<div class="m-2">
											<mat-checkbox
												[disabled]="!onCheckBoxIsChecked('epi_disposition', element.id)"
											>EU
											</mat-checkbox>
										</div>
									</td>
								</ng-container>
								<ng-container matColumnDef="ee">
									<td mat-cell *matCellDef="let element" [width]="'15%'">
										<div class="m-2">
											<mat-checkbox
												[disabled]="!onCheckBoxIsChecked('epi_disposition', element.id)"
											>EE
											</mat-checkbox>
										</div>
									</td>
								</ng-container>
								<ng-container matColumnDef="sous-traitant">
									<td mat-cell *matCellDef="let element" [width]="'15%'">
										<div class="m-2">
											<mat-checkbox
												[disabled]="!onCheckBoxIsChecked('epi_disposition', element.id)"
											>Sous-traitant
											</mat-checkbox>
										</div>
									</td>
								</ng-container>

								<!--								<ng-container matColumnDef="comments">-->
								<!--									<th mat-header-cell *matHeaderCellDef></th>-->
								<!--									<td mat-cell *matCellDef="let element" class="cell-textarea">-->
								<!--										<ng-container *ngIf="element?.is_comment_consigne">-->
								<!--											<textarea [disabled]="!onConsignesIsChecked(element.id)"-->
								<!--													  class="form-control no_border mb-2 mt-2 "-->
								<!--													  cols="5" rows="1"-->
								<!--													  placeholder="{{'ACTION.ENTER_HERE' | translate}}"></textarea>-->
								<!--										</ng-container>-->
								<!--										<div class="mb-2 mt-3 d-flex align-items-center " *ngIf="element?.has_details">-->
								<!--											<textarea [disabled]="!onConsignesIsChecked(element.id)"-->
								<!--													  cols="5" rows="1"-->
								<!--													  class="form-control no_border mb-2 mt-2 "-->
								<!--													  placeholder="{{element?.label_details | translate}}"></textarea>-->
								<!--										</div>-->
								<!--									</td>-->
								<!--								</ng-container>-->

								<tr mat-row *matRowDef="let row; columns: displayedColumnsEPIDisposition;"></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="tf-heading tf-heading--md">|
				6 {{'Moyens mis à disposition de l’entreprise extérieure' | translate}}</div>
			<div class="mt-3">
				<div class="row">
					<div class="col-md-12">
						<div class="tf-card-form">
							<table class="mt-3" mat-table [dataSource]="EESMoyenDisposition">
								<ng-container matColumnDef="label">
									<td mat-cell *matCellDef="let element" [width]="'30%'">
										<div class="m-2">
											<mat-checkbox [value]="element.id"
														  (change)="onCheckBoxChange($event, 'moyen_disposition_ees')"
														  [checked]="onCheckBoxIsChecked('moyen_disposition_ees', element.id)">{{element.label}}</mat-checkbox>
										</div>
									</td>
								</ng-container>
								<ng-container matColumnDef="comments">
									<th mat-header-cell *matHeaderCellDef></th>
									<td mat-cell *matCellDef="let element" class="cell-textarea">
											<textarea
												[disabled]="!onCheckBoxIsChecked('moyen_disposition_ees', element.id)"
												class="form-control no_border mb-2 mt-2 "
												cols="5" rows="1"
												placeholder="{{'ACTION.ENTER_HERE' | translate}}"></textarea>
									</td>
								</ng-container>
								<tr mat-row *matRowDef="let row; columns: displayedColumnsEESMoyenDisposition;"></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 mb-4" *ngIf="partHided(4) && origin=='add'">
			<button mat-raised-button type="button" class="pull-right btn-small" color="info"
					(click)="showPart(4)">{{'ACTION.FOLLOWING' | translate}}</button>
		</div>
	</div>
	<div class="row" [hidden]="origin == 'add' && partHided(4)">
		<div class="col-12">
			<div class="tf-heading tf-heading--md">| 7 {{'Liste des travaux dangereux' | translate}}</div>
			<div class="row">
				<div class="col-md-12">
					<div class="tf-card-form">
						<div class="tf-heading tf-heading--xs">
							{{'Pour rappel, un plan de prévention écrit doit être réalisé entre l’entreprise utilisatrice (EU) et l’entreprise extérieure (EE) avant le commencement des travaux dans le cas où le nombre total d’heures de travail prévu pour réaliser les travaux est au moins de 400 heures sur 12 mois, ou bien si les travaux figurent sur la liste des travaux dangereux fixé par l’arrêté du 19 mars 1993.' | translate}}
						</div>
						<table class="mt-3" mat-table [dataSource]="traveauxDangereux">
							<ng-container matColumnDef="list">
								<th mat-header-cell *matHeaderCellDef> {{'Liste des travaux' | translate}} </th>
								<td mat-cell *matCellDef="let element">
									<div class="m-2">
										<mat-checkbox [value]="element.id"
													  (change)="onCheckBoxChange($event, 'travaux_dangereux')"
													  [checked]="onCheckBoxIsChecked('travaux_dangereux', element.id)">{{element.label}}</mat-checkbox>
									</div>
								</td>
							</ng-container>

							<tr mat-header-row *matHeaderRowDef="displayedColumnsTravaux"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumnsTravaux;"></tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 mb-4" *ngIf="partHided(5) && origin=='add'">
			<button mat-raised-button type="button" class="pull-right btn-small" color="info"
					(click)="showPart(5)">{{'ACTION.FOLLOWING' | translate}}</button>
		</div>
	</div>
	<div class="row" [hidden]="origin == 'add' && partHided(5)">
		<div class="col-12">
			<div class="tf-heading tf-heading--md">|
				8 {{'Identifier les risques générés par la coactivité' | translate}}</div>
			<div class="row">
				<div class="col-md-12">
					<div class="tf-card-form">
						<ng-container *ngFor="let risk of risques">
							<div class="tf-heading tf-heading--sm">
								{{risk?.label| translate}}

								<mat-slide-toggle
									(change)="onCheckBoxChange($event, 'risques', risk?.id)"
									[checked]="onCheckBoxIsChecked('risques', risk?.id)"></mat-slide-toggle>
							</div>
							<div class="row pl-5 mb-4" style="border-bottom: 1px solid #e9ecf0;"
								 [hidden]="!onCheckBoxIsChecked('risques', risk.id)">
								<div class="col-md-12 flex-column">
									<textarea rows="1" *ngIf="risk?.is_other"
											  [disabled]="true"
											  style="margin-top: -10px;"
											  class="form-control no_border w-100 mb-3"
											  placeholder="{{'précisez' | translate}}"></textarea>
									<span class="mb-2 font-weight-bold">Situation liée</span>
									<div class="align-items-center d-flex mt-2 flex-wrap">
										<div class="align-items-center d-flex ml-2 mr-2  w-100 mb-2"
											 *ngFor="let situation of risk?.situation">
											<mat-checkbox>{{situation?.label}}</mat-checkbox>
											<div class="align-items-center d-flex ng-star-inserted w-100"
												 *ngIf="situation?.is_with_comment">
												<textarea rows="1"
														  [disabled]="true"
														  style="height: 24px"
														  class="form-control no_border w-100 pt-0 pb-0 ml-2"
														  placeholder="{{'...' | translate}}"></textarea>
											</div>
										</div>
										<ng-container *ngIf="risk?.is_other">
											<div class="align-items-center d-flex ml-2 mr-2  w-100 mb-2">
												<mat-checkbox></mat-checkbox>
												<div class="align-items-center d-flex ng-star-inserted w-100">
												<textarea rows="1"
														  [disabled]="true"
														  style="height: 24px"
														  class="form-control no_border w-100 pt-0 pb-0 ml-2"
														  placeholder="{{'...' | translate}}"></textarea>
												</div>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-12 flex-column mt-3">
									<span class="mb-2 font-weight-bold">Moyen(s) de prévention déployé(s)</span>
									<div class="align-items-center d-flex mt-2 flex-wrap">
										<div class="align-items-center d-flex ml-2 mr-2 ng-star-inserted w-100 mb-2"
											 *ngFor="let moyen of risk?.moyen">
											<mat-checkbox>{{moyen?.label}}</mat-checkbox>
											<div class="align-items-center d-flex ng-star-inserted w-100"
												 *ngIf="moyen?.pdp_risque_moyen_filtre?.length > 0">
												<ng-container *ngFor="let subMoyen of moyen?.pdp_risque_moyen_filtre">
													<mat-checkbox [disabled]="true"
																  class="mr-2 ml-2">{{subMoyen?.label}}</mat-checkbox>
													<textarea rows="1" *ngIf="subMoyen?.is_with_comment"
															  [disabled]="true"
															  style="height: 24px"
															  class="form-control no_border w-100 pt-0 pb-0"
															  placeholder="{{'...' | translate}}"></textarea>
												</ng-container>
											</div>
										</div>
										<ng-container *ngIf="risk?.is_other">
											<div class="align-items-center d-flex ml-2 mr-2  w-100 mb-2">
												<mat-checkbox></mat-checkbox>
												<div class="align-items-center d-flex ng-star-inserted w-100">
												<textarea rows="1"
														  [disabled]="true"
														  style="height: 24px"
														  class="form-control no_border w-100 pt-0 pb-0 ml-2"
														  placeholder="{{'...' | translate}}"></textarea>
												</div>
											</div>
											<div class="align-items-center d-flex ml-2 mr-2  w-100 mb-2">
												<mat-checkbox></mat-checkbox>
												<div class="align-items-center d-flex ng-star-inserted w-100">
												<textarea rows="1"
														  [disabled]="true"
														  style="height: 24px"
														  class="form-control no_border w-100 pt-0 pb-0 ml-2"
														  placeholder="{{'...' | translate}}"></textarea>
												</div>
											</div>
											<div class="align-items-center d-flex ml-2 mr-2  w-100 mb-2">
												<mat-checkbox></mat-checkbox>
												<div class="align-items-center d-flex ng-star-inserted w-100">
												<textarea rows="1"
														  [disabled]="true"
														  style="height: 24px"
														  class="form-control no_border w-100 pt-0 pb-0 ml-2"
														  placeholder="{{'...' | translate}}"></textarea>
												</div>
											</div>
										</ng-container>
									</div>
								</div>
								<div class="col-md-12 flex-column mt-3">
									<span class="mb-2 font-weight-bold">Responsable(s)</span>
									<div class="align-items-center d-flex mt-2 flex-wrap mb-3">
										<mat-checkbox class="mr-2 ml-2">EU</mat-checkbox>
										<mat-checkbox class="mr-2 ml-2">PIMAN</mat-checkbox>
										<mat-checkbox class="mr-2 ml-2">Sous-traitant</mat-checkbox>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 mb-4" *ngIf="partHided(6) && origin=='add'">
			<button mat-raised-button type="button" class="pull-right btn-small" color="info"
					(click)="showPart(6)">{{'ACTION.FOLLOWING' | translate}}</button>
		</div>
	</div>
	<div class="row" [hidden]="origin == 'add' && partHided(6)">
		<div class="col-12">
			<div class="tf-heading tf-heading--md">|
				9 {{'Validation du Plan de Prévention' | translate}}</div>
			<div class="mt-3">
				<div class="row">
					<div class="col-md-12">
						<div class="tf-card-form">
							<table class="mt-3" mat-table [dataSource]="validationPlan">
								<ng-container matColumnDef="company">
									<th mat-header-cell *matHeaderCellDef><b>{{'Entreprises' | translate}} </b></th>
									<td mat-cell *matCellDef="let element" [width]="'30%'">
										<div class="d-flex align-items-center">
											<b>{{element?.company}} :
												<ng-container
													*ngIf="!element?.need_text_area_in_title">{{element?.title}}</ng-container>
											</b>
											<mat-form-field [style.fontSize.px]=13 class="ml-3"
															*ngIf="element?.need_text_area_in_title">
												<mat-label>{{'Précisez' | translate}}</mat-label>
												<input class="form-control" matInput type="text"
													   placeholder="{{'ACTION.ENTER_HERE' | translate}}"/>
												<!--											<mat-error *ngIf="isControlHasError('raison_sociale_eu','required')">-->
												<!--												<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>-->
												<!--											</mat-error>-->
											</mat-form-field>
										</div>
									</td>
								</ng-container>
								<ng-container matColumnDef="name">
									<th mat-header-cell *matHeaderCellDef>
										<b>{{'Nom/Prénom' | translate}} <small class="d-flex">(Chef
											d’établissement ou son délégataire)</small></b></th>
									<td mat-cell *matCellDef="let element">
										<mat-form-field [style.fontSize.px]=13>
											<mat-label>{{'Nom/Prénom' | translate}}</mat-label>
											<input class="form-control" matInput type="text"
												   placeholder="{{'ACTION.ENTER_HERE' | translate}}"/>
											<!--											<mat-error *ngIf="isControlHasError('raison_sociale_eu','required')">-->
											<!--												<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>-->
											<!--											</mat-error>-->
										</mat-form-field>
									</td>
								</ng-container>
								<ng-container matColumnDef="date">
									<th mat-header-cell *matHeaderCellDef><b>{{'Date' | translate}} </b></th>
									<td mat-cell *matCellDef="let element">
										<mat-form-field [style.fontSize.px]=13>
											<mat-label>{{'Date' | translate}}</mat-label>
											<input matInput class="form-control" mask="d0/M0/0000"
												   [specialCharacters]="[ '/' ]"
												   [dropSpecialCharacters]="false"
												   placeholder="DD/MM/YYYY">
										</mat-form-field>
									</td>
								</ng-container>
								<ng-container matColumnDef="participation">
									<th mat-header-cell
										*matHeaderCellDef>
										<b>{{'Participation à l’inspection commune préalable' | translate}}</b>
									</th>
									<td mat-cell *matCellDef="let element" [width]="'20%'">
										<div class="d-flex align-items-center">
											<mat-checkbox class="mt-3">Oui ?</mat-checkbox>
											<mat-form-field class="mt-3 ml-3" [style.fontSize.px]=13>
												<mat-label>{{'Date' | translate}}</mat-label>
												<input matInput class="form-control" mask="d0/M0/0000"
													   [specialCharacters]="[ '/' ]"
													   [dropSpecialCharacters]="false"
													   placeholder="DD/MM/YYYY">
											</mat-form-field>
										</div>
									</td>
								</ng-container>
								<ng-container matColumnDef="visa">
									<th mat-header-cell
										*matHeaderCellDef>
										<b>{{'Visa précédé de la mention « lu et approuvé »' | translate}}</b></th>
									<td mat-cell *matCellDef="let element">
										<b>Lu et approuvé</b>
									</td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="displayedColumnsValidationPlan"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumnsValidationPlan;"></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="tf-heading tf-heading--md">|
				10 {{'INTERVENANTS' | translate}}</div>
			<div class="mt-3">
				<div class="row">
					<div class="col-md-12">
						<div class="tf-card-form">
							<table class="mt-3" mat-table [dataSource]="intervenants">
								<ng-container matColumnDef="last">
									<th mat-header-cell *matHeaderCellDef><b>{{'NOM' | translate}} </b></th>
									<td mat-cell *matCellDef="let element">
										<mat-form-field [style.fontSize.px]=13>
											<mat-label>{{'Nom' | translate}}</mat-label>
											<input class="form-control" matInput type="text"
												   placeholder="{{'ACTION.ENTER_HERE' | translate}}"/>
										</mat-form-field>
									</td>
								</ng-container>
								<ng-container matColumnDef="first">
									<th mat-header-cell *matHeaderCellDef><b>{{'Prénom' | translate}} </b></th>
									<td mat-cell *matCellDef="let element">
										<mat-form-field [style.fontSize.px]=13>
											<mat-label>{{'Prénom' | translate}}</mat-label>
											<input class="form-control" matInput type="text"
												   placeholder="{{'ACTION.ENTER_HERE' | translate}}"/>
										</mat-form-field>
									</td>
								</ng-container>
								<ng-container matColumnDef="contact">
									<th mat-header-cell *matHeaderCellDef><b>{{'Contact' | translate}} </b></th>
									<td mat-cell *matCellDef="let element">
										<mat-form-field [style.fontSize.px]=13>
											<mat-label>{{'Tel' | translate}}</mat-label>
											<input class="form-control" matInput type="text"
												   placeholder="{{'ACTION.ENTER_HERE' | translate}}"/>
										</mat-form-field>
									</td>
								</ng-container>
								<ng-container matColumnDef="formations">
									<th mat-header-cell *matHeaderCellDef>
										<b>{{'Formations / Habilitations' | translate}} </b></th>
									<td mat-cell *matCellDef="let element">
										<mat-form-field [style.fontSize.px]=13>
											<mat-label>{{'Précisez' | translate}}</mat-label>
											<input class="form-control" matInput type="text"
												   placeholder="{{'ACTION.ENTER_HERE' | translate}}"/>
										</mat-form-field>
									</td>
								</ng-container>
								<ng-container matColumnDef="suivis_médical">
									<th mat-header-cell
										*matHeaderCellDef>
										<b>{{'Suivis Médical Renforcé' | translate}}</b></th>
									<td mat-cell *matCellDef="let element">
										<div class="d-flex flex-column">
											<mat-checkbox class="mt-3">Oui ?</mat-checkbox>
											<mat-select class="mt-3 mb-3" placeholder="Sélectionnez un élément">
												<mat-option *ngFor="let item of suivisMedicalIntervenants"
															[value]="item.id">{{item?.label}}</mat-option>
											</mat-select>
										</div>
									</td>
								</ng-container>
								<tr mat-header-row *matHeaderRowDef="displayedColumnsIntervenants"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumnsIntervenants;"></tr>
							</table>
							<button mat-raised-button type="button" class="pull-left btn-small mt-4" color="info"
									style="width: 180px"
									[disabled]="intervenants?.length > 8"
									(click)="addIntervenant()">{{'Ajouter un ligne' | translate}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--		<div class="col-12 mb-4" *ngIf="partHided(7) && origin=='add'">-->
		<!--			<button mat-raised-button type="button" class="pull-right btn-small" color="info"-->
		<!--					(click)="showPart(7)">{{'ACTION.FOLLOWING' | translate}}</button>-->
		<!--		</div>-->
	</div>
</ng-container>

<!--<ng-container *ngIf="formStatus">-->
<!--	<div *ngIf="formStatus.canShowErrors()" class="alert alert-danger alert-dismissible fade show" role="alert">-->
<!--		<div><strong>{{'COMMON.NOTIF.ERROR.TITLE' | translate}}</strong></div>-->
<!--		<div>-->
<!--			<ul *ngFor="let errors of formStatus.errors  |  keyvalue">-->
<!--				<li *ngFor="let error of errors.value">-->
<!--					{{error}}-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div *ngIf="formStatus.canShowSuccess()" class="alert alert-success" role="alert">-->
<!--		<div><strong>{{'COMMON.NOTIF.SUCCESS.TITLE' | translate}}</strong></div>-->
<!--		<div *ngFor="let message of formStatus.messages">{{ message }}</div>-->
<!--	</div>-->
<!--</ng-container>-->
