//
// Aside
//



$tf-aside-icon-border-color:  rgba(#fff, 0.2);
$tf-aside-icon-border-hover-color:  rgba(#fff, 0.5);
$tf-aside-icon-color: rgba(#fff, 0.85);

$tf-aside-minimize-icon-border-color: #e7e8f4;
$tf-aside-minimize-icon-border-hover-color: #d7d8e9;

$tf-aside-icon-size: 42px;
$tf-aside-minimize-icon-size: 34px;
$tf-aside-mobile-icon-size: 34px;

.tf-aside {
	width: tf-get($tf-aside-config, base, default, width);
	background-color: tf-get($tf-aside-config, base, default, bg-color);
	box-shadow: tf-get($tf-aside-config, base, default, shadow);

	// User profile
	&.tf-aside__userside-item--user {
		// Welcome
		.tf-aside__userside-welcome {
			display: flex;
			align-self: center;
			padding: 0 0.55rem 0 0;
			font-weight: 500;
			font-size: 0.9rem;
			color: rgba(#fff, 0.5);
		}

		// Username
		.tf-aside__userside-username {
			display: flex;
			align-self: center;
			padding: 0 0.55rem 0 0;
			font-weight: 500;
			font-size: 1rem;
			color: rgba(#fff, 0.85);
		}

		// Wrapper
		.tf-aside__userside-wrapper {
			// User pic placeholder
			.tf-aside__userside-icon {
				background-color: rgba(#fff, 0.1);

				b {
					font-size: 1.4rem;
					font-weight: 500;
					color: #fff;
				}
			}

			// User pic
			img {
				align-self: center;
				height: $tf-aside-icon-size;
				
				@include tf-rounded {
					border-radius: $tf-border-radius;
				}
			}
		}		

		&:hover,
		&.show {
			// Wrapper
			.tf-aside__userside-wrapper {
				// User pic placeholder
				.tf-aside__userside-icon {
					background-color: rgba(#fff, 0.2);
				}
			}
		}
	}
}

@include tf-offcanvas-build(tf-aside, tablet-and-mobile, tf-get($tf-aside-config, base, offcanvas-mobile));