//
// Aside Menu
//




.tf-aside-menu {
	.tf-menu__nav {
		.tf-menu__item {
			&.tf-menu__item--active {
				> .tf-menu__link {
					border-radius: 2rem;		
				}				
			}
		}
	}
}

// Desktop mode
@include tf-desktop {
	.tf-aside-menu-wrapper {
		.tf-aside--fixed & {
			transition: all 0.3s ease;
			position: relative;
		}

		.tf-aside--fixed.tf-header--minimize & {
			transition: all 0.3s ease;
			position: fixed;
			top: auto;
			bottom: auto;
			width: $tf-aside-default-width;
			z-index: tf-get($tf-aside-config, base, fixed, zindex);
		}

		// Animations
		.tf-header--minimize.tf-aside--fixed & {
			top: tf-get($tf-header-config, base, desktop, fixed, height);
		}
	}

	.tf-aside-menu {
		margin: 15px 0;

		.tf-aside--minimize & {
			> .tf-menu__nav  {
				> .tf-menu__item {
					&.tf-menu__item--active,
					&.tf-menu__item--expanded {
						.tf-menu__link {
							border-radius: 6px;		
						}				
					}
				}
			}
		}
	}
}

// Build menu
@include tf-menu-ver-build-layout(tf-get($tf-aside-config, menu));
@include tf-menu-ver-build-skin(tf-get($tf-aside-config, menu), default);