.horaire-box{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 2px;
    span{
        padding: 1em;
    }
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}