
<div class="modal-header">
	<h4 class="modal-title">Nouveau commentaire</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
    <form [formGroup]="form" *ngIf="form" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate (ngSubmit)="form.valid && onSubmit()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label>Laissez un commentaire</mat-label>
                    <textarea matInput formControlName="comment" placeholder="Votre commentaire"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">{{ 'Annuler' | translate }}</button>
	<button type="button" type="button" mat-raised-button [ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': formloading}" color="success" [disabled]="formloading || form.invalid" (click)="onSubmit()">{{ 'Enregistrer' | translate }}</button>
</div>