<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-salarie" *ngIf="salarie">
    <div class="tf-portlet-header mb-2">
        <span class="title">
            <a [routerLink]="['/suivi-hse/list']">{{'MENU.SUB_SUIVI_HSE.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{salarie | fullName}}</span>
        </span>
        <div class="pull-right">
            <mat-form-field class="date-range-selector pull-right" appearance="fill" *ngIf="selectedPeriodId">
                <mat-label>{{'SUIVI_HSE.PERIOD.TITLE' | translate}}</mat-label>
                <mat-select [(value)]="selectedPeriodId" (selectionChange)="changePeriod($event.value)">
                  <mat-option *ngFor="let item of periodList" [value]="item.id">
                    {{item.start_date | date:'d MMM y' : undefined : translate.currentLang}} <span class="divider">-</span> {{item.end_date | date:'d MMM y' : undefined : translate.currentLang}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <span>
            <button mat-icon-button color="info" matTooltip="{{'SUIVI_HSE.ACTION.EDIT_GOAL.TITLE' | translate}}" (click)="editMetrics()" *ngxPermissionsOnly="['salarie_canUpdate']">
                <mat-icon>edit</mat-icon>
              </button>
        </span>
    </div>
    <tf-portlet-body class="tf-portlet__body--fit">

    <div class="row">
        <div class="col-md-3">
            <div class="card">
              <div class="box">
                    <!-- TODO photo -->
                    <ngx-avatar class="user-avatar" [round]="false" [size]="200" cornerRadius="4" name="{{salarie | fullName}}"></ngx-avatar>
              </div>
              <div class="tf-divider">
                <span></span>
              </div>
              <div class="box box-coords" style="flex:1">
                <h5><b>{{'SUIVI_HSE.CARD.ABOUT_EMPLOYEE.TITLE' | translate}}</b></h5>
                <p><span class="label pull-left mr-2">{{'COMMON.LASTNAME.LABEL' | translate}}</span><span class="" *ngIf="salarie.nom; else noDataFound">{{salarie.nom}}</span></p>
                <p><span class="label pull-left mr-2">{{'COMMON.FIRSTNAME.LABEL' | translate}}</span><span class="" *ngIf="salarie.prenom; else noDataFound">{{salarie.prenom}}</span></p>
                <p><span class="label pull-left mr-2">{{'COMMON.BIRTHDAY.LABEL' | translate}}</span><span class="" *ngIf="salarie.date_naissance; else noDataFound">{{salarie.date_naissance | date:'dd/MM/yyyy'}}</span></p>
                <p><span class="label pull-left mr-2">{{'COMMON.FONCTION.LABEL' | translate}}</span><span class="" *ngIf="salarie.fonction; else noDataFound">{{salarie.fonction?.libelle}}</span></p>
              </div>
              <div class="tf-divider">
                <span></span>
              </div>
              <div class="box text-center">
                <small>{{'SALARIES.ENTRY_AT.LABEL' | translate}} : {{salarie.date_entree | date:'dd/MM/yyyy'}}</small><br>
              </div>
            </div>
        </div>

        <div class="col-md-9">
            <mat-tab-group mat-align-tabs="start" animationDuration="1000ms">
                <mat-tab label="{{'SUIVI_HSE.VISION_360.TITLE' | translate}}">
                    <div class="d-flex flex-wrap">

                        <tf-salarie-card
                            class="col-md-4 d-flex pb-3"
                            *ngFor="let item of salarie.catMetricsList"
                            [catMetric]="item">
                        </tf-salarie-card>

                    </div>
                </mat-tab>
                <mat-tab label="{{'ACTION.DETAIL' | translate}}">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="card">
                                <h5><b>{{'SUIVI_HSE.CARD.INFOS_EMPLOYEE.TITLE' | translate}}</b></h5>
                                <div class="row d-flex">
                                    <div class="box col-md-6">
                                        <h6><b>{{'SUIVI_HSE.CARD.INFOS_EMPLOYEE.EMERGENCY_CASE' | translate}}</b></h6>
                                        <div class="tf-divider"><span></span></div>
                                        <div class="box box-coords" style="flex:1">
                                            <p><span class="label pull-left mr-2">{{'COMMON.LASTNAME.LABEL' | translate}}</span><span class="blue" *ngIf="salarie.nom_urgence; else noDataFound">{{salarie.nom_urgence}}</span></p>
                                            <p><span class="label pull-left mr-2">{{'SUIVI_HSE.MOBILE.TITLE' | translate}}</span><span class="blue" *ngIf="salarie.telephone_urgence; else noDataFound">{{salarie.telephone_urgence}}</span></p>
                                            <p><span class="label pull-left mr-2">{{'SUIVI_HSE.RELATIONSHIP.TITLE' | translate}}</span><span class="blue" *ngIf="salarie.lien_parente_urgence; else noDataFound">{{salarie.lien_parente_urgence}}</span></p>
                                        </div>
                                    </div>
                                    <div class="box col-md-6">
                                        <h6><b>{{'SUIVI_HSE.CARD.INFOS_EMPLOYEE.MEDICAL_VISIT' | translate}}</b></h6>
                                        <div class="tf-divider"><span></span></div>
                                        <div class="box box-coords" style="flex:1">
                                            <p><span class="label pull-left mr-2">{{'SUIVI_HSE.RQTH.TITLE' | translate}}</span><span class="blue">{{salarie.rqth ? 'Oui' : 'Non'}}</span></p>
                                            <p><span class="label pull-left mr-2">{{'SUIVI_HSE.REALIZED.TITLE' | translate}}</span><span class="blue" *ngIf="salarie.date_visite_medicale_passed; else noDataFound">{{salarie.date_visite_medicale_passed | date:'dd/MM/yyyy'}}</span></p>
                                            <p><span class="label pull-left mr-2">{{'SUIVI_HSE.TO_RENEW.TITLE' | translate}}</span><span class="blue" *ngIf="salarie.date_visite_medicale_next; else noDataFound">{{salarie.date_visite_medicale_next | date:'dd/MM/yyyy'}}</span></p>
                                        </div>
                                    </div>
                                    <!-- <div class="box box-ar-vs col-md-3">
                                        <h6><b>Ouvrage concerné</b></h6>
                                        <div class="tf-divider"><span></span></div>
                                        <div class="box box-coords" style="flex:1">
                                            <p><span class="label pull-left mr-2">Type</span><span class="blue" *ngIf="salarie.ouvrage; else noDataFound">{{salarie.ouvrage}}</span></p>
                                        </div>
                                    </div>
                                    <div class="box box-ar-vs col-md-3">
                                        <h6><b>Indications complémentaires</b></h6>
                                        <div class="tf-divider"><span></span></div>
                                        <div class="box box-coords" style="flex:1">
                                            <p><span class="label pull-left mr-2">Indication</span><span class="blue" *ngIf="salarie.indication; else noDataFound">{{salarie.indication}}</span></p>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
        
                        <tf-salarie-portlet 
                            *ngFor="let item of salarie.metricsTree"
                            [metricsTree]="item">
                        </tf-salarie-portlet>
        
                        <div class="col-md-12 mt-4">
                            <div class="card">
                                <h5><b>{{'SUIVI_HSE.CARD.TRAINING.TITLE' | translate}}</b></h5>
                                <div class="box box-ar-vs" style="flex: 1;">
                                    <h6><b>{{'SUIVI_HSE.CARD.TRAINING.TRAINING_MONITORING' | translate}}</b></h6>
                                    <div class="tf-divider"><span></span></div>
                                    <div *ngIf="salarie.formations.length > 0; else noFormationOnPeriod">
                                        <table class="table table-borderless table-sm table-striped px-4">
                                            <thead>
                                            <tr>
                                                <th scope="col">{{'SUIVI_HSE.TRAINING.TITLE' | translate}}</th>
                                                <th class="text-center" scope="col">{{'SUIVI_HSE.COMPLETION_DATE.TITLE' | translate}}</th>
                                                <th class="text-center" scope="col">{{'SUIVI_HSE.RENEWAL_DATE.TITLE' | translate}}</th>
                                                <th class="text-center" scope="col">{{'SUIVI_HSE.EMPLOYER_AUTH.TITLE' | translate}}</th>
                                                <th class="text-center" scope="col">{{'SUIVI_HSE.SKILLS.TITLE' | translate}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let formation of salarie.formations" >
                                                <th scope="row">{{formation.libelle}}</th>
                                                <td class="text-center">{{formation.date_debut | date:'dd/MM/yyyy'}}</td>
                                                <td class="text-center">{{formation.date_renouvellement | date:'dd/MM/yyyy'}}</td>
                                                <td class="text-center">{{formation.date_autorisation | date:'dd/MM/yyyy'}}</td>
                                                <td class="text-center">{{formation.habilitation?.libelle}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ng-template #noFormationOnPeriod>
                                        <div class="mt-3">
                                            {{'SUIVI_HSE.NO_TRAINING.TITLE' | translate}}
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
    </tf-portlet-body>
  </tf-portlet>


  <ng-template #noDataFound>
    <span class="no-data-label">
        {{'COMMON.NO_DATA_FOUND.TITLE' | translate}}
    </span>
  </ng-template>