<div class="flex-fill" *ngIf="catMetric">
    <div class="col-12 card">
        <h5><b>{{catMetric.description}}</b></h5>
        <div class="tf-divider"><span></span></div>
        <div class="box box-coords" style="flex:1">
            <p *ngFor="let metric of catMetric.metrics">
                <span class="label pull-left mr-2">{{metric.short_libelle}}</span>
                <span class="" *ngIf="metric.pivot.value; else noPivotFound">{{metric.pivot.value}}</span>
                <span class="goal-label" *ngIf="metric.year_goal; else noGoalFound">/{{metric.year_goal.value}}</span>
                <mat-progress-bar id="progress_bar" [ngClass]="getProgressColor(metric.rating)" mode="determinate" value="{{metric.rating}}"></mat-progress-bar>
            </p>
            
        </div>
    </div>
</div>


<ng-template #noPivotFound>
    <span class="">0</span>
</ng-template>

<ng-template #noGoalFound>
    <span class="goal-label">/0</span>
</ng-template>