<div class="flex-fill" *ngIf="catMetric">
    <div class="col-12 card">
        <h5><b>{{catMetric.libelle}}</b></h5>
        <div class="tf-divider"><span></span></div>
        <div class="box box-coords" style="flex:1">
            <p *ngFor="let metric of catMetric.metrics">
                <span class="label pull-left mr-2">{{metric.libelle}}</span>
                <span class="" *ngIf="metric.pivot.value; else noDataFound">{{metric.pivot.value}}</span>
                <mat-progress-bar class="progress_bar" mode="determinate" color="#e49819" value="50"></mat-progress-bar>
            </p>
            
        </div>
    </div>
</div>


<ng-template #noDataFound>
    <span class="no-data-label">
      0
    </span>
</ng-template>