:host {
    .tf-heading {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;

        .tf-heading__right {
            font-size: 1rem;
        }
    }

    .col-actions{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    .drop-zone{
        display: flex;
        background: #e7f1fa;
        height: 300px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4);
    }
    
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        .btnr {
            position: relative;
        }
        .btnr + span {
            padding: 5px;
            font-weight: normal;
        }
        input[type=file] {
            font-size: 42px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}
