<ng-container [formGroup]="materielForm">
	
		<tf-portlet-body>
			<div class="tf-heading tf-heading--lg" style="margin-top: 0;">
				<div *ngIf="edit">
					{{'MENU.SUB_MATERIELS.EDIT' | translate}} {{materielForm.get('libelle')?.value}}

				</div>
				<span *ngIf="!edit">{{'MENU.SUB_MATERIELS.ADD' | translate}}</span>
			</div>
			<div>
				<div class="tf-wizard-v4__content" data-tfwizard-type="step-content" data-tfwizard-state="current">
					<div class="tf-form__section tf-form__section--first">
						<div class="tf-wizard-v4__form">
							<div class="row form-row">
								<div class="col-12">
									<tf-tree-select [itemsList]="categoriesList" [fromId]="materielForm.get('categorie_id').value" [required]="true" [withAll]="false" [translateTitle]="'MATERIELS.CATEGORIE'" [itemsToHandle]="itemsToHandle" (onChangedItem)="categorieChanged($event)" (onSelectedItemsToHandle)="itemsToHandleSelected($event)" *ngIf="categoriesList"></tf-tree-select>
								</div>
							</div>

							<div class="row form-row" *ngIf="displayExtraFields">
								<mat-form-field class="col-xl-3">
									<mat-label>{{'MATERIELS.SIZE.LABEL' | translate}}</mat-label>
									<input class="form-control" matInput type="number" name="size" formControlName="size" placeholder="{{'ACTION.ENTER_HERE' | translate}}" [required]="isFieldRequired('size')" />
									<mat-error *ngIf="isControlHasError('size','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>

								<mat-form-field class="col-xl-3">
									<mat-label>{{'MATERIELS.CRITERIA.LABEL' | translate}}</mat-label>
									<mat-select class="form-control" formControlName="criteria_id" name="criteria_id" placeholder="{{'ACTION.ENTER_HERE' | translate}}">
										<mat-option *ngFor="let item of criteriasList" [value]="item.id">
											{{item.libelle}}
										</mat-option>
									</mat-select>
									<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('criteria_id'); $event.stopPropagation()">
										<mat-icon>clear</mat-icon>
									</button>
									<mat-error *ngIf="isControlHasError('criteria_id','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>

								<mat-form-field class="col-xl-3" *ngIf="subcategoryDisplayed">
									<mat-label>{{'MATERIELS.SUB_CATEGORY.LABEL' | translate}}</mat-label>
									<mat-select class="form-control" formControlName="subcategory_id" name="subcategory_id" placeholder="{{'ACTION.ENTER_HERE' | translate}}">
										<mat-option *ngFor="let item of subcategoriesList" [value]="item.id">
											{{item.libelle}}
										</mat-option>
									</mat-select>
									<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('subcategory_id'); $event.stopPropagation()">
										<mat-icon>clear</mat-icon>
									</button>
									<mat-error *ngIf="isControlHasError('subcategory_id','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>

							<div class="row form-row">
								<mat-form-field class="col-xl-3">
									<mat-label>{{'MATERIELS.LIBELLE.LABEL' | translate}}</mat-label>
									<input class="form-control" matInput type="text" name="libelle" formControlName="libelle" placeholder="{{'ACTION.ENTER_HERE' | translate}}" [required]="isFieldRequired('libelle')" />
									<mat-error *ngIf="isControlHasError('libelle','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
								<mat-form-field class="col-xl-3">
									<mat-label>{{'MATERIELS.AVAILABLE_QUANTITY.TITLE' | translate}}</mat-label>
									<input class="form-control" matInput type="number" name="stock_disponible" formControlName="stock_disponible" placeholder="{{'ACTION.ENTER_HERE' | translate}}" [required]="isFieldRequired('stock_disponible')" />
									<mat-error *ngIf="isControlHasError('stock_disponible','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
								<mat-form-field class="col-xl-3">
									<mat-label>{{'MATERIELS.NUMERO_SERIE.LABEL' | translate}}</mat-label>
									<input class="form-control" matInput type="text" name="numero_serie" formControlName="numero_serie" placeholder="{{'ACTION.ENTER_HERE' | translate}}" [required]="isFieldRequired('numero_serie')" />
									<mat-error *ngIf="isControlHasError('numero_serie','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>

							<div class="row form-row">
								<mat-form-field class="col-xl-3">
									<mat-label>{{'MATERIELS.DATE_ENTREE.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false" formControlName="date_entree" [required]="isFieldRequired('date_entree')" placeholder="DD/MM/YYYY">
								</mat-form-field>

								<mat-form-field class="col-xl-3" floatLabel="always" appearance="none">
									<mat-slide-toggle [checked]="isChecked('has_controle')" (change)="updateToggleValue($event, 'has_controle')"><span class="slider-label">{{'MATERIELS.HAS_CONTROLE.LABEL' | translate}}</span></mat-slide-toggle>
									<textarea matInput hidden></textarea>
								</mat-form-field>

								<mat-form-field class="col-xl-3" floatLabel="always" appearance="none">
									<mat-slide-toggle [checked]="isChecked('has_atex')" (change)="updateToggleValue($event, 'has_atex')"><span class="slider-label">{{'MATERIELS.HAS_ATEX.LABEL' | translate}}</span></mat-slide-toggle>
									<textarea matInput hidden></textarea>
								</mat-form-field>
							</div>
							<div class="row form-row">
								<mat-form-field class="col-xl-9">
									<mat-label>{{'MATERIELS.DESCRIPTION.LABEL' | translate}}</mat-label>
									<textarea matInput rows="3" class="form-control" type="text" name="description" formControlName="description" [required]="isFieldRequired('description')" placeholder="{{'ACTION.ENTER_HERE' | translate}}"></textarea>
									<mat-error *ngIf="isControlHasError('description','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tf-portlet-body>
</ng-container>

	
