
.ml-auto {
	margin-left: auto;
}

.example-full-width {
	width: 100%;
}

.form-group .tf-timeline-3 {
	&::before {
		background-color: transparent;
	}
}


// tf-form
.tf-form {
	.tf-form__filtration,
	.tf-form__group-action {
		margin: 0 0 30px;
	}
	.tf-form__actions.tf-form__actions--sm {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.tf-form__actions {
		padding: 30px;
		&.tf-form__actions--solid {
			padding: 30px;
			background-color: #f7f8fa;
			border-color: #f7f8fa;
		}
	}
}

.tf-margin {
	&-top-20 {
		margin-top: 20px;
	}
	&-bottom-20 {
		margin-bottom: 20px;
	}
}

.tf-padding-0 {
	padding: 0;
}

.tf-form.tf-form--group-seperator .tf-form__group,
.tf-form.tf-form--group-seperator-dashed .tf-form__group {
	padding-top: 25px;
	padding-bottom: 25px;
}