@import "../../../../../assets/sass/pages/quizz/quizz.scss";

.tf-quizz-chapter {
    &__content {
        color: #2f8375;
        font-weight: bold;
        font-size: 2.3em;
        margin: 2em 0 10em 0;
    }

    &__icon {
        margin: 2rem 0;

        .mat-icon {
            height: 70px;
            width: 70px;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-evenly;
    
         div {
            display: flex;
            flex-direction: column;
            color: #000000;
            text-align: center;
            width: 90px;
        }

        button {
            width: 90px;
            height: 90px;
            border-radius: 10px;
            background-color: #e2e2e2;
            border: 2px solid #f2f1f1;
            color: #c7c7c7;
    
            &.btn-selected {
                background-color: #b8ebe3;
                border: 2px solid #e5f8f5;
                color: #41b6a3;
                + span {
                    font-weight: bold;
                    color: #41b6a3;
                }
            }

            img {
                height: 80%;
                width: 80%;
            }
        }

        span {
            margin-top: 1rem;
        }
    }
}