<div class="tf-quizz__body">
    <div class="tf-quizz__container">
        <div class="tf-quizz-chapter__content text-center" *ngIf="chapters?.length">
            <div class="tf-quizz-chapter__icon">
                <img [src]="sanitizer.bypassSecurityTrustResourceUrl(storageUrl + chapters[currentChapterIndex].img)"/>
            </div>
            <div>{{chapters[currentChapterIndex].label}}</div>
        </div>
    
        <div class="tf-quizz-chapter__actions">
            <div *ngFor="let chapter of chapters; let index = index">
                <button (click)="goToQuestions(chapter.id)" class="btn" [class.btn-selected]="index <= currentChapterIndex" >
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(storageUrl + chapter.img)"/>
                </button>
                <span>{{chapter.label}}</span>
            </div>
        </div>
    </div>
</div>