<div class="tf-quizz__body">
    <div class="tf-quizz__container">
        <div class="tf-quizz-chapter__content text-center">
            <div style="margin: 2rem 0">ICONS</div>
            <div>PIMAN GROUP</div>
        </div>
    
        <div class="tf-quizz-chapter__actions">
            <button routerLink="/quizz/chapter" class="btn btn-selected"></button>
            <button routerLink="/home" class="btn"></button>
            <button routerLink="/home" class="btn"></button>
            <button routerLink="/home" class="btn"></button>
        </div>
    </div>
</div>