//
// Content
//




@include tf-desktop {
	// Content
	.tf-content {
		padding: tf-get($tf-page-padding, desktop) 0;

		// Content fit
		&.tf-content--fit-top {
			padding-top: 0;
		}

		&.tf-content--fit-bottom {
			padding-bottom: 0;
		}

		// Subheader enabled
		.tf-subheader--enabled.tf-subheader--transparent:not(.tf-subheader--fixed) & {
			padding-top: 0;
		}

		// Fixed footer
		.tf-footer--fixed & {
			padding-bottom: tf-get($tf-footer-config, self, fixed, height);
		}
	}
}

@include tf-tablet-and-mobile {
	.tf-content {
		padding: tf-get($tf-page-padding, mobile)  0;

		// Content fit
		&.tf-content--fit-top {
			padding-top: 0;
		}

		&.tf-content--fit-bottom {
			padding-bottom: 0;
		}

		// Subheader enabled
		.tf-subheader--enabled.tf-subheader--transparent & {
			padding-top: 0;
		}
	}
}
