<ng-container [formGroup]="visiteForm">
	<div class="row" [hidden]="origin == 'add' && partHided(i)" *ngFor="let catQuestion of catQuestionsList; let i = index">
		<div class="col-12" >
			<div class="tf-heading tf-heading--md">| {{i+1}} {{catQuestion.libelle}}</div>
			<div class="row">
				<div class="col-md-12" *ngFor="let question of catQuestion.questions; let j = index ">
					<div class="form-row row">
						<div class="col-4">
							{{(i+1) +'.'+(j+1)}} - {{question.libelle}}
						</div>
						<div class="col-2">
							note
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 mb-4">
			<button mat-raised-button type="button" class="pull-right btn-small" color="info" *ngIf="partHided('i') && origin=='add'" (click)="showPart('i')">Suite</button>
		</div>
	</div>
</ng-container>
