<ng-container [formGroup]="visiteForm">
	<div class="row sticky-top justify-content-md-center">
		<div class="col-6">
			<div class="tf-card-form">
				<div class="row">
					<div class="col-4 text-center">Nbr de OK : <b>{{getNotes().ok}}</b></div>
					<div class="col-4 text-center">Nbr de KO : <b>{{getNotes().ko}}</b></div>
					<div class="col-4 text-center">Nbr de SO : <b>{{getNotes().so}}</b></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" *ngFor="let catQuestion of catQuestionsList; let i = index">
		<div class="col-12">
			<mat-expansion-panel [expanded]="isExpanded" [disabled]="isDisableToggle">
				<mat-expansion-panel-header>
					<div class="tf-heading tf-heading--md">| {{i+1}} {{catQuestion.libelle}}</div>
				</mat-expansion-panel-header>
				<div class="row">
					<div class="col-12">
						<div class="tf-card-form">
							<div class="row mb-2">
								<div class="col-5">Question</div>
								<div class="col-2 text-center">Note</div>
								<div class="col-3">Commentaire</div>
								<div class="col-2">Date de mise en conformité</div>
							</div>
							<div class="row align-items-center" *ngFor="let question of catQuestion.questions; let j = index " [ngClass]="{'text-danger':getPivot(question.id).invalid}">
								<ng-container [formGroup]="getPivot(question.id)" >
									<div class="col-5">
										<span class="p2-pl-12">
											{{(i+1) +'.'+(j+1)}} - {{question.libelle}}
										</span>
									</div>
									<div class="col-2 d-inline-flex" style="justify-content: space-around;">
										<mat-radio-group aria-label="Select an option" formControlName="note">
											<mat-radio-button value="1">OK</mat-radio-button>
											<mat-radio-button value="2">KO</mat-radio-button>
											<mat-radio-button value="3">SO</mat-radio-button>
										</mat-radio-group>
									</div>
									<div class="col-3">
										<textarea class="form-control" rows="2" formControlName="observation" *ngIf="!this.visiteForm.disabled; else observationValue"></textarea>
										<ng-template #observationValue>
											{{getPivotObs(question.id)}}
										</ng-template>
									</div>
									<div class="col-2">
										<div class="dropdown">
											<input matInput class="form-control" *ngIf="!this.visiteForm.disabled; else dateValue" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false" placeholder="DD/MM/YYYY" formControlName="date_remise_conf">
											<ng-template #dateValue>
												{{getPivotDate(question.id)}}
											</ng-template>
										</div>
									</div>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
			</mat-expansion-panel>
		</div>
	</div>
</ng-container>
