<!-- begin:: Header Mobile -->
<div id="tf_header_mobile" class="tf-header-mobile tf-header-mobile--fixed">
	<div class="tf-header-mobile__logo">
		<a routerLink="/">
			<img alt="logo" [attr.src]="headerLogo"/>
		</a>
	</div>
	<div class="tf-header-mobile__toolbar">
		<button [hidden]="!asideDisplay" class="tf-header-mobile__toolbar-toggler tf-header-mobile__toolbar-toggler--left" id="tf_aside_mobile_toggler"><span></span></button>
		<button class="tf-header-mobile__toolbar-toggler" id="tf_header_mobile_toggler"><span></span></button>
		<button tfToggle [options]="toggleOptions" class="tf-header-mobile__toolbar-topbar-toggler" id="tf_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
	</div>
</div>
<!-- end:: Header Mobile -->
