<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-materiel" *ngIf="materiel">
	<div class="tf-portlet-header ">
		<span class="title">
			<a [routerLink]="['/materiels/list']">{{'MENU.SUB_MATERIELS.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{materiel.code}}</span>
		</span>
		<div ngbDropdown placement="bottom-right" class="d-inline-block pull-right">
			<button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions" style="line-height: 0;height: 0;">
				<mat-icon>more_vert</mat-icon>
			</button>
			<div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
				<button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editMateriel(materiel.id)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteMateriel(materiel.id)">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<tf-portlet-body class="tf-portlet__body--fit" *ngIf="materiel">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<h3>Informations générales</h3>
					<div class="box" style="flex:1">
						<p><span class="label pull-left mr-2">{{'MATERIELS.LIBELLE.TITLE' | translate}}</span><span *ngIf="materiel.libelle; else noData">{{materiel.libelle}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.NUMERO_SERIE.TITLE' | translate}}</span><span *ngIf="materiel.numero_serie; else noData">{{materiel.numero_serie}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.CATEGORIE.TITLE' | translate}}</span><span *ngIf="materiel.flat_categories; else noData">
							<span *ngFor="let cat of materiel.flat_categories; let last = last;">
								{{cat.libelle}}<span *ngIf="!last"> / </span>
							</span>
						</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.MARQUE.TITLE' | translate}}</span><span *ngIf="materiel.marque; else noData">{{materiel.marque}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.FOURNISSEUR.TITLE' | translate}}</span><span *ngIf="materiel.fournisseur; else noData">{{materiel.fournisseur}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.DATE_ENTREE.TITLE' | translate}}</span><span *ngIf="materiel.date_entree; else noData">{{materiel.date_entree | date:'dd/MM/yyyy'}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.DATE_SORTIE.TITLE' | translate}}</span><span *ngIf="materiel.date_sortie; else noData">{{materiel.date_sortie | date:'dd/MM/yyyy'}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.FORMATION_REQUISE.TITLE' | translate}}</span><span>{{materiel.formation_requise == 1 ? 'oui': 'non'}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.HABILITATION_REQUISE.TITLE' | translate}}</span><span>{{materiel.habilitation_requise == 1 ? 'oui': 'non'}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.HAS_CONTROLE.TITLE' | translate}}</span><span>{{materiel.has_controle == 1 ? 'oui': 'non'}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.FREQUENCE_CONTROLE.TITLE' | translate}}</span><span *ngIf="materiel.has_controle == 1; else noData">{{materiel.frequence_controle+' mois'}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.IS_LOCATION.TITLE' | translate}}</span><span>{{materiel.is_location == 1 ? 'oui':'non'}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.COUT.TITLE' | translate}}</span><span *ngIf="materiel.cout; else noData">{{materiel.cout | currency:'EUR':'€'}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.DATE_FIN_GARANTIE.TITLE' | translate}}</span><span *ngIf="materiel.date_fin_garantie; else noData">{{materiel.date_fin_garantie | date:'dd/MM/yyyy'}}</span></p>
						<p><span class="label pull-left mr-2">{{'MATERIELS.DESCRIPTION.TITLE' | translate}}</span><span *ngIf="materiel.description; else noData">{{materiel.description}}</span></p>
						<ng-template #noData>
							<span>-</span>
						</ng-template>
					</div>
					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box text-center">
						<small>{{'COMMON.CREATED_AT.TITLE' | translate}} : {{materiel.created_at | date:'dd/MM/yyyy'}}</small><br>
						<small>{{'COMMON.UPDATED_AT.TITLE' | translate}} : {{materiel.updated_at | date:'dd/MM/yyyy'}}</small>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="box box-ar-vs" style="flex: 1;">
						<h5><b>Suivi des utilisateurs</b><small class="pull-right">{{'MATERIELS.PERSONNELS_COUNT.SHORTTITLE' | translate}} : <span class="blue">{{materiel.personnels.length}}</span></small></h5>
						<ng-container *ngIf="materiel.personnels.length > 0; else noPersonnels">
							<div class="row">
								<div class="col-12 my-2">
									<p><span class="label">{{'MATERIELS.ACTUAL_USER.TITLE' | translate}}</span></p>
								</div>
								<ng-container *ngIf="materiel.actual_user; else noUserInProgress">
									<div class="col-4">
										<p class="blue text-left">{{materiel.actual_user | fullName}}</p>
									</div>
									<div class="col-3">
										<p class="blue text-center">pret : {{materiel.actual_user?.pivot.date_pret | date:'dd/MM/yyyy'}}</p>
									</div>
									<div class="col-3">
										
									</div>
									<div class="col-2">
										<a class="pull-right" (click)="goToUserDetail(materiel.actual_user.id)" alt="voir l'utilisateur">
											<mat-icon color="primary">visibility</mat-icon>
										</a>
									</div>
									
									<div class="col-12">
										<button mat-raised-button color="info" class="btn-small pull-right" (click)="retourMateriel()">
											Retour matériel
										</button>
									</div>
								</ng-container>
								<ng-template #noUserInProgress>
									<div class="col-6">Aucun utilisateur en cours</div>
									<div class="col-6">
										<tf-assign-user (onUserSelected)="assignUser($event)"></tf-assign-user>
									</div>
								</ng-template>
							</div>
							<div class="row mt-2">
								<div class="col-12 my-2">
									<p><span class="label">{{'MATERIELS.PERSONNELS_HISTORY.TITLE' | translate}}</span></p>
								</div>
								<ng-container *ngIf="materiel.personnels.length > 0; else noArHistorique">
									<ng-container *ngFor="let personnel of materiel.personnels">
										<ng-container *ngIf="personnel.id != materiel.actual_user?.id">
											<div class="col-4">
												<p class="text-left">{{personnel | fullName}}</p>
											</div>
											<div class="col-3">
												<p class="text-center">pret : {{personnel.pivot.date_pret | date:'dd/MM/yyyy'}}</p>
											</div>
											<div class="col-3">
												<p class="text-center">retour: {{personnel.pivot.date_retour | date:'dd/MM/yyyy'}}</p>
											</div>
											<div class="col-2">
												<a class="pull-right" (click)="goToUserDetail(personnel.id)" alt="voir l'analyse de risque">
													<mat-icon color="primary">visibility</mat-icon>
												</a>
											</div>
										</ng-container>
									</ng-container>
								</ng-container>
								<ng-template #noArHistorique>
									Aucun historique
								</ng-template>
							</div>
						</ng-container>
						<ng-template #noPersonnels>
							<div class="row">
								<div class="col-12">
									<p>Aucun prêt</p>
								</div>
								<div class="col-12">
									<tf-assign-user (onUserSelected)="assignUser(data)"></tf-assign-user>
								</div>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</tf-portlet-body>
</tf-portlet>


<ng-template #noChantier>
	<p class="text-left">
		Cette materiel n'a été affectée à aucun materiel
	</p>
</ng-template>
