
// .signature-container{
//     margin: 2em auto;
//     // max-width: 400px;
//     border: 1px solid red;
// }

:host {

    
    .mat-table {
        th.mat-header-cell {
            width: 33%;
        }
    }
    .mat-slide-toggle.mat-disabled{
        opacity: 1;
    }
    .tf-card-form{
        .tf-heading{
            margin-bottom: 0;
        }
        mat-radio-button{
            padding: 0.8rem 0 0 1rem;
        }
    }
}