<tf-portlet-body>

    <div class="row">
        <div class="col-12 mb-2">
            <div class="tf-heading tf-heading--sm">
                <span *ngIf="origin != 'add'">{{'VISITES.VISIT_NO.TITLE' | translate}} {{visiteForm.get('code')?.value}}</span>
                <span *ngIf="origin == 'add'">{{'VISITES.ACTION.NEW_VISIT.TITLE' | translate}}</span>
                <span class="date-visite pull-right">
                    <small>{{'VISITES.REDACTEUR.LABEL' | translate}} : {{redacteur | fullName}} </small><br>
                    <small>{{'VISITES.DATE_VISITE.LABEL' | translate}} : {{visiteForm.get('date_visite')?.value}}</small>
                </span>
            </div>
        </div>
        <div class="col-12">
            <form [formGroup]="visiteForm" autocomplete="off" class="tf-form tf-form--group-seperator-dashed "
                novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <div class="tf-wizard-v4__content" data-tfwizard-type="step-content" data-tfwizard-state="current">
                    <div class="tf-form__section tf-form__section--first">
                        <div class="tf-wizard-v4__form">
                            <div class="row form-row">

                                <!-- SALARIE -->
                                <mat-form-field class="col-xl-3" *ngIf="origin == 'add' || formHasValue('salarie_id')"
                                    matTooltip="{{'VISITES.NOTIF.CANNOT_SELECT_EMPLOYEE.COMPANY_SELECTED.TITLE' | translate}}"
                                    [matTooltipDisabled]="formHasValue('salarie_id')">
                                    <mat-label>{{'VISITES.VISITED.LABEL' | translate}}</mat-label>
                                    <mat-select class="form-control" placeholder="" formControlName="salarie_id"
                                        [required]="isFieldRequired('salarie_id')" *ngIf="origin == 'add'; else showSalarie">
                                        <mat-option *ngFor="let user of users" [value]="user.id">
                                            {{ user | fullName }}
                                        </mat-option>
                                    </mat-select>
                                    <ng-template #showSalarie> 
                                        <input type="text" matInput class="form-control" disabled [value]="(data.salarie | fullName)">
                                    </ng-template>
                                    <button mat-button
                                        *ngIf="formHasValue('salarie_id') && !visiteForm.get('salarie_id').disabled"
                                        matSuffix mat-icon-button aria-label="Clear"
                                        (click)="clearValue('salarie_id'); $event.stopPropagation()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <mat-error *ngIf="isControlHasError('salarie_id','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>
                                

                                <!-- ENTREPRISE -->
                                <mat-form-field class="col-xl-3" 
                                    *ngIf="model == 'VsChantier' && (origin == 'add' || formHasValue('entreprise_id'))"
                                    matTooltip="{{ 'VISITES.NOTIF.CANNOT_SELECT_ENTREPRISE.TITLE' | translate }}" 
                                    [matTooltipDisabled]="formHasValue('entreprise_id')"
                                >
                                    <mat-label>{{'VISITES.ENTREPRISE.LABEL' | translate}}</mat-label>
                                    <mat-select class="form-control" placeholder="" formControlName="entreprise_id"
                                        [required]="isFieldRequired('entreprise_id')">
                                        <mat-optgroup *ngFor="let group of entreprisesGrouped;" [label]="group.name"
                                            [disabled]="group.disabled">
                                            <mat-option *ngFor="let entreprise of group.entreprises"
                                                [value]="entreprise.id">
                                                {{ entreprise.raison_sociale }}
                                            </mat-option>
                                        </mat-optgroup>
                                    </mat-select>
                                    <button mat-button
                                        *ngIf="formHasValue('entreprise_id') && !visiteForm.get('entreprise_id').disabled"
                                        matSuffix mat-icon-button aria-label="Clear"
                                        (click)="clearValue('entreprise_id'); $event.stopPropagation()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <mat-error *ngIf="isControlHasError('entreprise_id','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>


                                <!-- INTERIMAIRE -->
                                <mat-form-field class="col-xl-3" *ngIf="entHasCode() == 'INTERIM'">
                                    <mat-label>{{'EES.INTERIMAIRE.LABEL' | translate}}</mat-label>
                                    <mat-select class="form-control" formControlName="interimaire_id"
                                        [required]="isFieldRequired('interimaire_id')">
                                        <mat-option *ngFor="let user of interimairesList" [value]="user.id">
                                            {{ user | fullName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isControlHasError('interimaire_id','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>

                                <!-- SOUS-TRAITANT NOM PRENOM -->
                                <mat-form-field class="col-xl-3" *ngIf="entHasCode() && entHasCode() != 'INTERIM'">
                                    <mat-label>Nom Prénom</mat-label>
                                    <input type="text" matInput class="form-control" formControlName="nom_prenom"
                                        [required]="isFieldRequired('nom_prenom')">
                                    <mat-error *ngIf="isControlHasError('nom_prenom','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>

                                <!-- TYPE -->
                                <mat-form-field class="col-xl-3">
                                    <mat-label>{{'VISITES.TYPE.LABEL' | translate}}</mat-label>
                                    <mat-select class="form-control" placeholder="" formControlName="type_id"
                                        [required]="isFieldRequired('type_id')">
                                        <mat-option *ngFor="let type of types" [value]="type.id">
                                            {{ type.libelle }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isControlHasError('type_id','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>

                                <!-- EPI -->
                                <mat-form-field class="col-xl-3" *ngIf="origin == 'detail' && formHasValue('visitable_id')"
                                    matTooltip="" [matTooltipDisabled]="formHasValue('visitable_id')">
                                    
                                    <mat-label>{{'VISITES.MATERIEL.LABEL' | translate}}</mat-label>

                                    <mat-select class="form-control" placeholder="" formControlName="visitable_id"
                                        [required]="isFieldRequired('visitable_id')">
                                        <mat-option *ngFor="let materiel of materiels" [value]="materiel.id">
                                            <span *ngIf="model == 'VsVehicule'">
                                                {{materiel.numero_serie}}
                                            </span>
                                            <span *ngIf="model != 'VsVehicule'">
                                                {{ materiel.libelle+' - '+materiel.categorie.libelle }}
                                            </span>
                                        </mat-option>
                                    </mat-select>
                                    <button mat-button
                                        *ngIf="formHasValue('visitable_id') && !visiteForm.get('visitable_id').disabled"
                                        matSuffix mat-icon-button aria-label="Clear"
                                        (click)="clearValue('visitable_id'); $event.stopPropagation()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <mat-error *ngIf="isControlHasError('visitable_id','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>
                                
                                <mat-form-field class="col-xl-3 " *ngIf="model=='VsVehicule'" floatLabel="always" appearance="none">
                                    <mat-label>{{'VISITES.VEHICULE_KM.LABEL' | translate}}</mat-label>
                                    <input matInput class="form-control text-right pr-4" type="text" formControlName="vehicule_km" mask="separator" [required]="isFieldRequired('vehicule_km')">
                                    <span matSuffix>Km</span>
                                    <mat-error *ngIf="isControlHasError('type_id','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>

                                <!-- VISITE EXTERNE/INTERNE -->
                                <mat-form-field class="col-xl-3 text-center" floatLabel="always" appearance="none" *ngIf="model != 'VsChantier' && model != 'VsRevue'">
                                    <mat-slide-toggle formControlName="is_externe" [checked]="isExterne()" (change)="toggleExterne($event.checked)">
                                        <span class="slider-label">{{'VISITES.EXTERNAL_VISIT.TITLE' | translate}}</span>
                                    </mat-slide-toggle>
                                    <textarea matInput hidden></textarea>
                                </mat-form-field>
                            </div>
                            <div class="row form-row align-items-end" *ngIf="model == 'VsRevue'">

                                <!-- ENVIRONNEMENT -->
                                <div class="col-xl-6" *ngIf="origin == 'add' || formHasValue('environnement')"
                                    matTooltip="{{'VISITES.NOTIF.CANNOT_SELECT_EMPLOYEE.COMPANY_SELECTED.TITLE' | translate}}"
                                    [matTooltipDisabled]="formHasValue('environnement')">
                                    <div><mat-label>{{'VISITES.ENVIRONMENT.LABEL' | translate}}</mat-label></div>
                                    <div class="row px-5 align-items-center" [ngClass]="{'mt-4': origin != 'add' && data.environnement != 'Autre'}">
                                        <div>
                                            <mat-radio-group formControlName="environnement" >
                                                <mat-radio-button class="metric-radio" [value]="'Bureau'">Bureau</mat-radio-button>
                                                <mat-radio-button class="metric-radio" [value]="'Chantier'">Chantier</mat-radio-button>
                                                <mat-radio-button class="metric-radio" [value]="'Production'">Production</mat-radio-button>
                                                <mat-radio-button class="metric-radio" [value]="'Autre'">Autre</mat-radio-button>
                                            </mat-radio-group>
                                            <ng-template #showEnvironement> 
                                                <input type="text" matInput class="form-control" [value]="data.environnement">
                                            </ng-template>
                                            <mat-error *ngIf="isControlHasError('environnement','required')">
                                                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                            </mat-error>
                                        </div>
                                        <div class="flex-1" *ngIf="origin == 'add' || data.environnement == 'Autre'">
                                            <mat-form-field class="w-100">
                                                <input matInput class="form-control pr-4" type="text" formControlName="environnement_autre" [required]="isFieldRequired('environnement_autre')" placeholder="Autre environnment">
                                                <mat-error *ngIf="isControlHasError('environnement_autre','required')">
                                                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <mat-form-field class="col-xl-3" *ngIf="origin == 'add' || formHasValue('entreprise')" >
                                    <mat-label>{{'VISITES.ENTREPRISE.LABEL' | translate}}</mat-label>
                                    <input matInput class="form-control pr-4" type="text" formControlName="entreprise" [required]="isFieldRequired('entreprise')">
                                    <ng-template #showEntreprise>
                                        <input type="text" matInput class="form-control" [value]="data.entreprise">
                                    </ng-template>
                                    <button mat-button *ngIf="formHasValue('entreprise') && !visiteForm.get('entreprise').disabled" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('entreprise'); $event.stopPropagation()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <mat-error *ngIf="isControlHasError('entreprise','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-xl-3" *ngIf="origin == 'add' || formHasValue('lieu_mission')" matTooltip="{{'VISITES.NOTIF.CANNOT_SELECT_EMPLOYEE.COMPANY_SELECTED.TITLE' | translate}}" [matTooltipDisabled]="formHasValue('salarie_id')">
                                    <mat-label>{{'VISITES.LIEU_MISSION.LABEL' | translate}}</mat-label>
                                    <input matInput class="form-control pr-4" type="text" formControlName="lieu_mission" [required]="isFieldRequired('lieu_mission')">
                                    <ng-template #showEntreprise>
                                        <input type="text" matInput class="form-control" [value]="data.lieu_mission">
                                    </ng-template>
                                    <button mat-button *ngIf="formHasValue('lieu_mission') && !visiteForm.get('lieu_mission').disabled" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('lieu_mission'); $event.stopPropagation()">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <mat-error *ngIf="isControlHasError('lieu_mission','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</tf-portlet-body>