//
// Container
//



// Base
.tf-container {
    &,
    &.tf-container--fluid {
        width: 100%;
        margin: 0;
    }

    &.tf-container--fit {
        padding: 0 !important;
    }

    &.tf-container--fit-left {
        padding-left: 0 !important;
    }

    &.tf-container--fit-right {
        padding-right: 0 !important;
    }
}
@media (min-width: #{$tf-page-container-width + (2 * tf-get($tf-page-padding, desktop)) - 1px}) {
    .tf-container {
        width: $tf-page-container-width;
        margin: 0 auto;

        &.tf-container--fluid {
            width: 100%;
            margin: 0;
        }
    }
}