//
// Form
//



.tf-form {
	.tf-form__group {
		&.tf-form__group--inline {
			display: table;
			padding: 0;

			> .tf-form__label {
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				padding-right: 1rem;

				&.tf-form__label-no-wrap {
					white-space:nowrap;
				}

				> label {
					margin: 0;
				}
			}

			> .tf-form__control {
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				width: 100%;
			}
		}
	}

	// Action bar
	.tf-form__actions {
		&.tf-form__actions--right {
			text-align: right;
		}

		&.tf-form__actions--center {
			text-align: center;
		}
	}

	&.tf-form--center{
		width: 60%;
		margin: 0 auto;
	}
}

// Validation feedback
.is-valid {
	.valid-feedback {
		display: inline-block;
	}
}

.is-invalid {
	.invalid-feedback {
		display: inline-block;
	}
}

@include tf-desktop {
	.tf-form {
		&.tf-form--label-right {
			.form-group {
				label:not(.tf-checkbox):not(.tf-radio):not(.tf-option) {
					text-align: right;
				}
			}
		}
	}
}
