//
// Helpers
//




// Margin & Padding Helpers
@mixin tf-margin-and-padding($mode) {
	@if $mode == general {
		$mode: '';
	} @else {
		$mode: "-" + $mode;
	}

	@for $i from 0 through 20 {
		$num: $i * 5;

		.tf-margin-#{$num}#{$mode} {
			margin: #{$num}px !important;
		}

		.tf-margin-t-#{$num}#{$mode} {
			margin-top: #{$num}px !important;
		}

		.tf-margin-b-#{$num}#{$mode} {
			margin-bottom: #{$num}px !important;
		}

		.tf-margin-l-#{$num}#{$mode} {
			margin-left: #{$num}px !important;
		}

		.tf-margin-r-#{$num}#{$mode} {
			margin-right: #{$num}px !important;
		}

		.tf-padding-#{$num}#{$mode} {
			padding: #{$num}px !important;
		}

		.tf-padding-t-#{$num}#{$mode} {
			padding-top: #{$num}px !important;
		}

		.tf-padding-b-#{$num}#{$mode} {
			padding-bottom: #{$num}px !important;
		}

		.tf-padding-l-#{$num}#{$mode} {
			padding-left: #{$num}px !important;
		}

		.tf-padding-r-#{$num}#{$mode} {
			padding-right: #{$num}px !important;
		}

		// short format
		.tf-m#{$num}#{$mode} {
			margin: #{$num}px !important;
		}

		.tf-mt-#{$num}#{$mode} {
			margin-top: #{$num}px !important;
		}

		.tf-mb-#{$num}#{$mode} {
			margin-bottom: #{$num}px !important;
		}

		.tf-ml-#{$num}#{$mode} {
			margin-left: #{$num}px !important;
		}

		.tf-mr-#{$num}#{$mode} {
			margin-right: #{$num}px !important;
		}

		.tf-p#{$num}#{$mode} {
			padding: #{$num}px !important;
		}

		.tf-pt#{$num}#{$mode} {
			padding-top: #{$num}px !important;
		}

		.tf-pb-#{$num}#{$mode} {
			padding-bottom: #{$num}px !important;
		}

		.tf-pl#{$num}#{$mode} {
			padding-left: #{$num}px !important;
		}

		.tf-pr#{$num}#{$mode} {
			padding-right: #{$num}px !important;
		}
	}
}

@include tf-margin-and-padding(general);

@include tf-desktop {
	@include tf-margin-and-padding(desktop);
}

@include tf-tablet {
	@include tf-margin-and-padding(tablet);
}

@include tf-tablet-and-mobile {
	@include tf-margin-and-padding(tablet-and-mobile);
}

@include tf-mobile {
	@include tf-margin-and-padding(mobile);
}

// Opacity
@mixin tf-opacity {
	@for $i from 1 through 9 {
		.tf-opacity-#{$i} {
			opacity: #{$i * 0.1};
		} 
	}
}

@include tf-opacity();

// Border radius
.tf-radius-100 {
	border-radius: 100%;
} 

// General helpers
.tf-valign-top {
	vertical-align: top;
} 

.tf-space-5 {
	display: block;
	height: 0;
	margin-bottom: 5px;
}

.tf-space-10 {
	display: block;
	height: 0;
	margin-bottom: 10px;
}

.tf-space-15 {
	display: block;
	height: 0;
	margin-bottom: 15px;
}

.tf-space-20 {
	display: block;
	height: 0;
	margin-bottom: 20px;
}

.tf-space-30 {
	display: block;
	height: 0;
	margin-bottom: 30px;
}

.tf-space-40 {
	display: block;
	height: 0;
	margin-bottom: 40px;
}

.tf-valign-middle {
	vertical-align: middle;
}

.tf-valign-bottom {
	vertical-align: bottom;
}

.tf-block-center {
	margin-left: auto;
	margin-right: auto;
}

.tf-align-right {
	text-align: right;
}

.tf-align-left {
	text-align: left;
}

.tf-align-center {
	text-align: center;
}

.tf-pull-right {
	float: right;
}

.tf-pull-left {
	float: left;
}

.tf-img-rounded {
	border-radius: 50% !important;
}

.tf-block-inline {
	display: inline-block;
}

.tf-icon-middle {
	&:before {
		vertical-align: middle;
	}
}

// Element visibility
.tf-hidden,
.tf-hide {
	display: none !important;
}

// Font sizing
.tf-font-sm {
	font-size: 0.8rem !important;
}

.tf-font-md {
	font-size: 0.9rem !important;
}

.tf-font-lg {
	font-size: 1.2rem !important;
}

.tf-font-xl {
	font-size: 1.5rem !important;
}

.tf-clearfix {
	@include tf-clearfix();
}

// Icon font sizing
.tf-icon-sm {
	font-size: 0.75rem !important;
}

.tf-icon-md {
	font-size: 0.9rem !important;
}

.tf-icon-lg {
	font-size: 1.2rem !important;
}

.tf-icon-xl {
	font-size: 1.4rem !important;
}


.tf-marginless {
	margin: 0 !important;
}

.tf-img-centered {
	text-align: center;
}

// Text Transform
.tf-font-transform-u {
	text-transform: uppercase;
}

.tf-font-transform-l {
	text-transform: lowercase;
}

.tf-font-transform-c {
	text-transform: capitalize;
}

.tf-font-transform-i {
	text-transform: initial;
}

// Font Weights
.tf-font-regular {
	font-weight: 400 !important;
}
.tf-font-bold {
	font-weight: 500 !important;
}

.tf-font-bolder {
	font-weight: 600 !important;
}

.tf-font-boldest {
	font-weight: 700 !important;
}

b, strong {
    font-weight: bold;
}

// State colors
@each $name, $color in $tf-state-colors {
	.tf-font-#{$name} {
		color: tf-get($color, base) !important;
	}

	.tf-font-hover-#{$name}{
		&:hover{
			color: darken(tf-get($color, base),20%);
		}
	}

	.tf-font-inverse-#{$name} {
		color: tf-get($color, inverse) !important;
	}

	.tf-bg-#{$name} {
		background-color: tf-get($color, base) !important;
	}

	.tf-bg-fill-#{$name} {
		background-color: tf-get($color, base) !important;
		color: tf-get($color, inverse) !important;

		> i {
			color: tf-get($color, inverse) !important;
		}
	}

	.tf-bg-light-#{$name} {
		background-color: rgba(tf-get($color, base), 0.1) !important;
	}
}

// Social colors
@each $name, $color in $tf-social-colors {
	.tf-font-#{$name} {
		color: tf-get($color, base) !important;
	}
}

// Base colors
@each $name, $color in tf-get($tf-base-colors, label) {
	.tf-label-font-color-#{$name} {
		color: $color !important; 
	}

	.tf-label-bg-color-#{$name} {
		background-color: $color !important; 
	}
}

@each $name, $color in tf-get($tf-base-colors, shape) {
	.tf-shape-font-color-#{$name} {
		color: $color !important; 
	}

	.tf-shape-bg-color-#{$name} {
		background-color: $color !important; 
	}
}

// Responsive Helpers
.tf-visible-desktop,
.tf-visible-desktop-inline-block,
.tf-visible-desktop-inline,
.tf-visible-desktop-table,
.tf-visible-desktop-table-cell,

.tf-visible-tablet,
.tf-visible-tablet-inline-block,
.tf-visible-tablet-inline,
.tf-visible-tablet-table,
.tf-visible-tablet-table-cell,

.tf-visible-tablet-and-mobile,
.tf-visible-tablet-and-mobile-inline-block,
.tf-visible-tablet-and-mobile-inline,
.tf-visible-tablet-and-mobile-table,
.tf-visible-tablet-and-mobile-table-cell,

.tf-visible-mobile,
.tf-visible-mobile-inline-block,
.tf-visible-mobile-inline,
.tf-visible-mobile-table,
.tf-visible-mobile-table-cell {
	display: none !important;
}

@include tf-desktop {
	.tf-visible-desktop {
		display: block !important;
	}

	.tf-visible-desktop-inline-block {
		display: inline-block !important;
	}

	.tf-visible-desktop-inline {
		display: inline !important;
	}

	.tf-visible-desktop-table {
		display: table !important;
	}	

	.tf-visible-desktop-table-cell {
		display: table-cell !important;
	}	

	.tf-hidden-desktop {
		display: none !important;
	}
}

@include tf-tablet {
	.tf-visible-tablet {
		display: block !important;
	}

	.tf-visible-tablet-inline-block {
		display: inline-block !important;
	}

	.tf-visible-tablet-inline {
		display: inline !important;
	}

	.tf-visible-tablet-table {
		display: table !important;
	}	

	.tf-visible-tablet-table-cell {
		display: table-cell !important;
	}	

	.tf-hidden-tablet {
		display: none !important;
	}
}

@include tf-tablet-and-mobile {
	.tf-visible-tablet-and-mobile {
		display: block !important;
	}

	.tf-visible-tablet-and-mobile-inline-block {
		display: inline-block !important;
	}

	.tf-visible-tablet-and-mobile-inline {
		display: inline !important;
	}

	.tf-visible-tablet-and-mobile-table {
		display: table !important;
	}	

	.tf-visible-tablet-and-mobile-table-cell {
		display: table-cell !important;
	}	

	.tf-hidden-tablet-and-mobile {
		display: none !important;
	}
}

@include tf-mobile {
	.tf-visible-mobile {
		display: block !important;
	}

	.tf-visible-mobile-inline-block {
		display: inline-block !important;
	}

	.tf-visible-mobile-inline {
		display: inline !important;
	}

	.tf-visible-mobile-table {
		display: table !important;
	}	

	.tf-visible-mobile-table-cell {
		display: table-cell !important;
	}	

	.tf-hidden-mobile {
		display: none !important;
	}
}

// Flexbox helpers

.tf-space-between {
	display: flex;
	justify-content: space-between;
}

// Rounded
.tf-rounded {
	border-radius: $tf-border-radius !important;
}

// Negative Spacing
.tf-negative-spacing {
	@for $i from 1 through 10 {		
		&--#{$i}{
			margin-top: -#{$i}0px;
		}
	} 
}