<!-- <div class="row">
	<div class="col-12">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #evolVss></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #evolNc></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
</div> -->

<tf-portlet>
	<tf-portlet-header [title]="'Visites sécurité'"></tf-portlet-header>
	<tf-portlet-body [class]="'tf-portlet__body--fit'">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-xl-6" style="padding: 10px;">
				<div class="dash-title">Nombre de visites sécurité par Type</div>
				<div echarts class="demo-chart" #pieVssType></div>
			</div>
			<div class="col-xl-6" style="padding: 10px;">
				<div class="dash-title">Nombre de visites sécurité par mois et par type</div>
				<div echarts class="demo-chart" #evolVss></div>
			</div>
		</div>
		<div class="row row-no-padding row-col-separator-xl" style="border-top: 1px solid #ebedf2;">
			<div class="col-xl-12" style="padding: 10px;">
				<div class="dash-title">Nombre de non conformité par mois</div>
				<div echarts class="demo-chart" #evolNc></div>
			</div>
		</div>

	</tf-portlet-body>
</tf-portlet>
