<tf-portlet>
	<tf-portlet-header [title]="'Visites sécurité'" [stats]="stats ? getHeaderStats() : ''"></tf-portlet-header>
	<tf-portlet-body [class]="'tf-portlet__body--fit'">
		<div class="row row-no-padding row-col-separator-xl">
			<!-- <div class="col-xl-4" style="padding:1em">
				<div class="dash-title">Nombre de visites sécurité par Type</div>
				<div echarts class="demo-chart" #pieVssType></div>
			</div> -->
			<div class="col-xl-6" style="padding:1em">
				<div class="dash-title">Nombre de visites sécurité par mois et par type</div>
				<div echarts class="demo-chart" #evolVss></div>
			</div>
			<div class="col-xl-6" style="padding:1em">
				<div class="dash-title">Nombre de non conformité par mois</div>
				<div echarts class="demo-chart" #evolNc></div>
			</div>
		</div>
	</tf-portlet-body>
</tf-portlet>
