<form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate *ngIf="assigning; else startAssign">
	<div class="row">
		<!-- SALARIE -->
		<mat-form-field class="col-4" *ngIf="origin != 'return'">
			<mat-label>{{'MATERIELS.ASSIGN_USER.LABEL' | translate}}</mat-label>
			<mat-select class="form-control" placeholder="" formControlName="salarie_id" [required]="isFieldRequired('salarie_id')">
				<mat-option *ngFor="let user of salaries" [value]="user.id">
					{{ user | fullName }}
				</mat-option>
			</mat-select>
			<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('salarie_id'); $event.stopPropagation()">
				<mat-icon>clear</mat-icon>
			</button>
			<mat-error *ngIf="isControlHasError('salarie_id','required')">
				<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
			</mat-error>
		</mat-form-field>
		<!-- DATE PRET -->
		<mat-form-field class="col-4" *ngIf="origin != 'return'">
			<mat-label>{{'MATERIELS.DATE_PRET.LABEL' | translate}}</mat-label>
            <input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false" formControlName="date_pret" [required]="isFieldRequired('date_pret')" placeholder="DD/MM/YYYY">
			<mat-error *ngIf="isControlHasError('date_pret','required')">
				<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
			</mat-error>
		</mat-form-field>
		<!-- DATE RETOUR -->
		<mat-form-field class="col-4">
			<mat-label>{{'MATERIELS.DATE_RETOUR.LABEL' | translate}}</mat-label>
            <input matInput class="form-control" mask="d0/M0/0000" [specialCharacters]="[ '/' ]" [dropSpecialCharacters]="false" formControlName="date_retour" [required]="isFieldRequired('date_retour')" placeholder="DD/MM/YYYY">
			<mat-error *ngIf="isControlHasError('date_retour','required')">
				<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
			</mat-error>
		</mat-form-field>

		<div class="col-4">
			<div class="row">
				<div class="col">
					<button mat-raised-button type="button" color="warn" (click)="cancelAssigning()" class="btn-small pull-right">
						Annuler
					</button>
				</div>
				<div class="col">
					<button mat-raised-button type="submit" color="info" class="btn-small pull-right" [disabled]="form.invalid">
						{{'ACTION.SAVE' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
<ng-template #startAssign>
	<button mat-raised-button color="info" (click)="assigning = true" class="btn-small pull-right">
        <span *ngIf="origin == 'add'; else btnRetour">Assigner le matériel</span>
        <ng-template #btnRetour>
            <span>Retourner le matériel</span>
        </ng-template>
	</button>
</ng-template>
