<div class="tf-portlet tf-portlet--bordered">
	<div class="tf-portlet__body">
		<h2 class="mb-3 pb-2 border-bottom font-weight-bold">{{"PDP.PLAN_GENERAL" | translate}}</h2>
		<tf-pdp-consigne-ee [title]="'PDP.INSTRUCTIONS_GIVEN_BY_THE_EXTERNAL_COMPANY'"></tf-pdp-consigne-ee>
		<tf-pdp-epi-disposition [title]="'PDP.PPE_MADE_AVAILABLE_TO_THE_EXTERNAL_COMPANY'"></tf-pdp-epi-disposition>
		<tf-pdp-moyen-disposition
			[title]="'PDP.RESOURCES_MADE_AVAILABLE_TO_THE_EXTERNAL_COMPANY'"></tf-pdp-moyen-disposition>
		<tf-pdp-travaux-dangereux [title]="'PDP.LIST_OF_HAZARDOUS_WORK'"></tf-pdp-travaux-dangereux>
		<tf-pdp-cat-risques [title]="'PDP.RISKS_CATEGORIES'"></tf-pdp-cat-risques>
		<h2 class="mb-3 pb-2 border-bottom font-weight-bold">{{"PDP.OFFICE" | translate}}</h2>
		<tf-pdp-risques-type [title]="'PDP.CARD.PDP_RISK.SHORTTITLE'"></tf-pdp-risques-type>
		<h2 class="mb-3 pb-2 border-bottom font-weight-bold">{{"PDP.FIELD" | translate}}</h2>
		<!--		<tf-pdp-risques [title]="'PDP.INSTRUCTIONS_GIVEN_BY_THE_EXTERNAL_COMPANY'"></tf-pdp-risques>-->
	</div>
</div>
