<div class="modal-header">
	<h4 class="modal-title">{{ title | translate }}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">

	<form #addItemForm="ngForm">

		<div class="form-group">
			<label>
				{{ 'COMMON.NAME.LABEL' | translate }}
			</label>
			<input
				class="form-control text-center"
				[(ngModel)]="label"
				name="value"
				aria-describedby="basic-addon2"
				placeholder="..."
				required>
		</div>
		<div class="form-group">
			<label>
				{{ 'COMMON.ACTIVE.TITLE' | translate }}
			</label>
			<mat-radio-group class="ml-3" name="active" [(ngModel)]="active">
				<mat-radio-button
					[value]="true">{{'PDP.YES' | translate}}</mat-radio-button>
				<mat-radio-button
					[value]="false">{{'PDP.NO' | translate}}</mat-radio-button>
			</mat-radio-group>
		</div>
		<div class="form-group">
			<label>
				{{ 'COMMON.HAS_COMMENT.TITLE' | translate }}
			</label>
			<mat-radio-group class="ml-3" name="is_with_comment" [(ngModel)]="is_with_comment">
				<mat-radio-button
					[value]="true">{{'PDP.YES' | translate}}</mat-radio-button>
				<mat-radio-button
					[value]="false">{{'PDP.NO' | translate}}</mat-radio-button>
			</mat-radio-group>
		</div>

	</form>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary"
			(click)="activeModal.close()">{{ 'ACTION.CANCEL' | translate }}</button>
	<button type="button" class="btn btn-primary" [disabled]="!addItemForm?.form.valid"
			(click)="submit()">{{ 'ACTION.SAVE' | translate }}</button>
</div>
