<div>
    <div class="d-flex justify-content-between pointer" (click)="tpl.collapsed = !tpl.collapsed">
        <h3 class="m-0">{{ tpl?.title }}</h3>
        <div class="">
            <a [ngClass]="{'collapsed' : tpl?.collapsed }" class="btn btn-sm btn-icon btn-clean btn-icon-md accordion" data-toggle="collapse" data-target="#group" aria-expanded="true">
            <i class="la la-angle-down"></i>
            </a>
            <a (click)="$event.stopPropagation(); addItem()" data-ktportlet-tool="add" class="btn btn-sm btn-icon btn-clean btn-icon-md">
            <i class="la la-plus"></i>
            </a>
        </div>
    </div>
    <div class="tf-separator tf-separator--border-dashed my-3"></div>
    <div class="row collapse" [ngClass]="{'show' : !tpl?.collapsed }" data-parent="#group">
        <div *ngFor="let item of list" class="col-{{tpl?.childCol}}">

            <tf-admin-list-portlet  [item]="item" 
                    
                                    (onSaveItem)="saveItem($event)"
                                    (onRefreshItem)="getItem($event)"
                                    (onDeleteItem)="deleteItem($event)"
                                    
                                    (onAddChild)="addChild($event)"
                                    (onSaveChild)="updateChild($event)"
                                    (onDeleteChild)="deleteChild($event)"></tf-admin-list-portlet>

        </div>
    </div>
</div>