<!--begin::Portlet-->
<div *ngIf="item" class="tf-portlet tf-portlet--bordered item" [ngClass]="{'collapsed' : collapsed }" data-ktportlet="true" id="kt_portlet_tools_3">

    <div class="tf-portlet__head">
        <div class="tf-portlet__head-label" style="flex:1; justify-content: space-between">

            <ng-container *ngIf="!item.edit; else editTitle">
                <h3 class="tf-portlet__head-title pointer" (click)="collapsed = !collapsed">
                    {{ item?.libelle }}
                </h3>
                <div class="mx-2">
                    <i class="fa" [ngClass]="item?.active ? 'fa-eye text-success':'fa-eye-slash'"></i>
                </div>
            </ng-container>

            <ng-template #editTitle>
                <input type="text" nz-input [(ngModel)]="item.libelle" name="title" [ngStyle]="{'width' : ((item.libelle.length + 2) * 8) + 'px', 'min-width' : '100px' }" />
                <div class="mx-2">
                    <a (click)="toggleVisibility(item)" class="btn btn-sm btn-icon btn-clean btn-icon-md">
                        <i class="fa" [ngClass]="item?.active ? 'fa-eye':'fa-eye-slash'"></i>
                    </a>
                </div>
            </ng-template>
        </div>

        <div class="tf-portlet__head-toolbar">

            <div class="tf-portlet__head-group">
                <ng-container *ngIf="!item.edit; else editActions">
                    <button mat-icon-button color="primary" matTooltip="Actions" [matMenuTriggerFor]="actionMenu" (click)="selectedItem = item" >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <a (click)="collapsed = !collapsed" matTooltip="Réduire" [ngClass]="{'collapsed' : collapsed }" class="btn btn-sm btn-icon btn-clean btn-icon-md accordion" data-toggle="collapse" data-target="#group" aria-expanded="true">
                        <i class="la la-angle-down"></i>
                    </a>
                </ng-container>
                <ng-template #editActions>
                    <div class="ml-1 d-inline-flex">
                        <i nz-icon nzType="check" matTooltip="Enregistrer" (click)="saveItem(item)" nzTheme="outline" class="pointer text-success"></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i nz-icon nzType="close" matTooltip="Annuler" (click)="cancelEdit(item)" nzTheme="outline" class="pointer"></i>
                    </div>
                </ng-template>
            </div>

        </div>
    </div>

    <div class="collapse" [ngClass]="{'show' : !collapsed }" data-parent="#group">
        <div class="row m-4" *ngIf="item?.children?.length > 0">
            <div *ngFor="let child of item?.children" class="col-6">
                <tf-admin-list-portlet [item]="child" (onSaveItem)="saveItem($event)" (onRefreshItem)="getItem($event)" (onDeleteItem)="deleteItem($event)" (onAddChild)="addChildRow($event)" (onSaveChild)="updateChild($event)" (onDeleteChild)="deleteChildRow($event)"></tf-admin-list-portlet>
            </div>
        </div>
    </div>

</div>
<mat-menu #actionMenu="matMenu" class="action-menu">
    <!-- *ngxPermissionsOnly="['ADMIN']" -->
    <a (click)="startEdit(selectedItem)" matTooltip="Modifier" class="btn btn-sm btn-icon btn-clean btn-icon-md">
        <i nz-icon nzType="edit"  nzTheme="outline" class="pointer"></i>
    </a>
    <a (click)="addItem()" data-ktportlet-tool="add" matTooltip="Ajouter" class="btn btn-sm btn-icon btn-clean btn-icon-md">
    <i class="la la-plus"></i>
    </a>
    <a (click)="refreshItem(selectedItem)" matTooltip="Raffraîchir" class="btn btn-sm btn-icon btn-clean btn-icon-md">
        <i class="la la-refresh"></i>
    </a>
    <a (nzOnConfirm)="deleteItem(selectedItem)" matTooltip="Supprimer" nz-popconfirm nzPopconfirmTitle="Are you sure delete this item ?" class="btn btn-sm btn-icon btn-clean btn-icon-md">
        <i class="la la-trash"></i>
    </a>
</mat-menu>
<!--end::Portlet-->