<div class="col-12">
    <table class="table table-borderless table-sm table-striped px-4" *ngIf="documents.length; else noDocs">
        <thead>
            <tr>
                <th style="background:white; font-weight: bolder;" >Nom</th>
                <th style="background:white; font-weight: bolder;" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doc of documents">
                <td>{{doc.libelle}}</td>
                <td class="text-center"><a (click)="openDocModal(doc.id)" alt="Voir la doc"><mat-icon color="primary">visibility</mat-icon></a></td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noDocs>
    <span>Aucun document disponible</span>
</ng-template>