<!--begin::Body-->
<div class="tf-login__body">
	<!--begin::Signin-->
	<div class="tf-login__form">
		<div class="tf-login__title mb-4">
            <h3 innerHtml="{{'AUTH.REQUEST_ACCESS.TITLE' | translate}}"></h3>
		</div>

		<tf-auth-notice></tf-auth-notice>

		<form class="tf-form" [formGroup]="signupForm" autocomplete="off">
            <div class="tf-form-block">

                <!-- Email -->
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>
                        <input matInput class="form-control" type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}" formControlName="email" autocomplete="off" [required]="isFieldRequired('email')"/>
                        <mat-error *ngIf="isControlHasError('email','required')">
                            <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('email','email')">
                            <strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('email','minLength')">
                            <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlHasError('email','maxLength')">
                            <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <ng-container *ngIf="!signupForm.controls['email'].invalid">
                    
                    <div class="tf-login__divider"><div class="tf-divider"><span></span></div></div>

                    <!-- Lastname -->
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.LASTNAME.LABEL' | translate }}</mat-label>
                            <input matInput class="form-control" type="text" placeholder="{{ 'COMMON.LASTNAME.LABEL' | translate }}" formControlName="nom" autocomplete="off" [required]="isFieldRequired('nom')"/>
                            <mat-error *ngIf="isControlHasError('nom','required')">
                                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="tf-login__divider"><div class="tf-divider"><span></span></div></div>

                    <!-- Firstname -->
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>{{ 'COMMON.FIRSTNAME.LABEL' | translate }}</mat-label>
                            <input matInput class="form-control" type="text" placeholder="{{ 'COMMON.FIRSTNAME.LABEL' | translate }}" formControlName="prenom" autocomplete="off" [required]="isFieldRequired('prenom')"/>
                            <mat-error *ngIf="isControlHasError('prenom','required')">
                                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="tf-login__divider"><div class="tf-divider"><span></span></div></div>

                    <!-- IF EMAIL HAS @piman-group.fr -->

                    <ng-container *ngIf="isPimanEmail(signupForm.controls['email'].value)">   
                        <!-- Entity_id -->
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ 'COMMON.PIMAN_ENTITY.LABEL' | translate }}</mat-label>
                                <mat-select class="form-control" placeholder="{{ 'COMMON.PIMAN_ENTITY.LABEL' | translate }}" formControlName="entity_id" [required]="isFieldRequired('entity_id')">
                                    <mat-option *ngFor="let entity of entities" [value]="entity.id">
                                        {{ entity.libelle }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="isControlHasError('entity_id','required')">
                                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="tf-login__divider"><div class="tf-divider"><span></span></div></div>
    
                        <!-- Bu -->
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ 'COMMON.BU.LABEL' | translate }}</mat-label>
                                <mat-select class="form-control" placeholder="{{ 'COMMON.BU.LABEL' | translate }}" formControlName="bu_id" [required]="isFieldRequired('bu_id')">
                                    <mat-option *ngFor="let bu of buList" [value]="bu.id">
                                        {{ bu.libelle }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="isControlHasError('bu_id','required')">
                                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <!-- IF EMAIL DOENSNT HAVE @piman-group.fr -->
                    <ng-container *ngIf="!isPimanEmail(signupForm.controls['email'].value)">   
                        
                        <!-- Entreprise -->
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ 'AUTH.INPUT.ENTITY' | translate }}</mat-label>
                                <input matInput class="form-control" type="text" placeholder="{{ 'AUTH.INPUT.ENTITY' | translate }}" formControlName="entreprise_autre" autocomplete="off" [required]="isFieldRequired('entreprise_autre')"/>
                                <mat-error *ngIf="isControlHasError('entreprise_autre','required')">
                                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="tf-login__divider"><div class="tf-divider"><span></span></div></div>
    
                        <!-- Fonction -->
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ 'COMMON.FONCTION.LABEL' | translate }}</mat-label>                               
                                <input matInput class="form-control" type="text" placeholder="{{ 'COMMON.FONCTION.LABEL' | translate }}" formControlName="fonction_autre" autocomplete="off" [required]="isFieldRequired('fonction_autre')"/>
                                <mat-error *ngIf="isControlHasError('fonction_autre','required')">
                                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="tf-login__divider"><div class="tf-divider"><span></span></div></div>

                        <!-- Tel Mobile -->
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ 'AUTH.INPUT.MOBILE_PHONE_NUMBER' | translate }}</mat-label>                               
                                <input matInput class="form-control" type="text" placeholder="{{ 'AUTH.INPUT.MOBILE_PHONE_NUMBER' | translate }}" formControlName="mobile_phone_number" autocomplete="off" [required]="isFieldRequired('mobile_phone_number')"/>
                                <mat-error *ngIf="isControlHasError('mobile_phone_number','required')">
                                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>

                </ng-container>

            </div>
            <div class="mt-4 mat-error" *ngIf="notPimanError">
                <strong>
                    Vous n'êtes pas un salarié piman. Merci de vous rapprocher de votre administrateur.
                </strong>
            </div>
            <!--begin::Action-->
            <div class="tf-login__actions">
                <button routerLink="/auth/login" [disabled]="loading" id="tf_login_signup_cancel" class="btn btn-secondary btn-elevate tf-login__btn-secondary">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
                <button (click)="submit()" [disabled]="signupForm.invalid" id="tf_login_signin_submit" class="btn btn-primary btn-elevate tf-login__btn-primary" [ngClass]="{'tf-spinner tf-spinner--right tf-spinner--md tf-spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
            </div>
            <!--end::Action-->
		</form>
	</div>
</div>

