
.horaire-box{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 2px;
    span{
        padding: 1em;
    }
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.mat-select{
    height:auto;
}

.form-row-flex{
    display: flex;
    flex-direction: row;
    label{
        line-height: 3;
    }
}

.no_border{
    border: none;
}

.add-signature-line-btn{
    color:#55cec7;
    font-size: 1em;
    cursor: pointer;
}

.sign-line-options{
    float: right;
    line-height: 3;
}

.full-height{
    min-height: 100px;
}

.mat-row:hover{
    background-color: transparent!important;
}

.mat-table {
    th.mat-header-cell {
        width: 33%;
    }
}
