<form [formGroup]="passForm" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate (ngSubmit)="passForm.valid && onSubmit()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="loaded">
	<tf-portlet class="main-portlet-form">
		<div class="tf-portlet-header">
			<span class="title">
				<a [routerLink]="['admin/users/list']">{{'MENU.SUB_USERS.LIST' | translate}}</a>
				<span class="divider">></span>
				<span class="id-item" *ngIf="!edit; else EditTitle">{{'MENU.SUB_USERS.ADD' | translate}}</span>
				<ng-template #EditTitle>
					<span class="id-item">
						{{'MENU.SUB_USERS.EDIT' | translate}} : {{userForm.get('prenom').value+' '+userForm.get('nom').value}}
					</span>
				</ng-template>
			</span>
		</div>
		<tf-portlet-body>

			<div>
				<div class="tf-wizard-v4__content" data-tfwizard-type="step-content" data-tfwizard-state="current">
					<div class="tf-form__section tf-form__section--first">
						<div class="tf-wizard-v4__form">
							<div class="row form-row">

								<div class="col-6">
									<div class="row">
										<mat-form-field class="col-12">
											<!-- <mat-label>{{'COMMON.LASTNAME.LABEL' | translate}}</mat-label> -->
											<mat-label>Ancien Password</mat-label>

											<input matInput autocomplete="false" name="old_pass" class="form-control" [type]="old_pwd_hide ? 'password' : 'text'" placeholder="Saisir ici ..." formControlName="old_pass" autocomplete="off" />
											<button mat-icon-button matSuffix (click)="old_pwd_hide = !old_pwd_hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="old_pwd_hide">
												<mat-icon svgIcon="{{old_pwd_hide ? 'close-eye' : 'open-eye'}}"></mat-icon>
											</button>

											<mat-error *ngIf="isControlHasError('old_pass','required')">
												<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
											</mat-error>
										</mat-form-field>

										<div class="tf-divider">
											<span></span>
										</div>

										<mat-form-field class="col-12">
											<!-- <mat-label>{{'COMMON.FIRSTNAME.LABEL' | translate}}</mat-label> -->
											<mat-label>Nouveau Password</mat-label>


											<input matInput autocomplete="false" name="new_pass" class="form-control" [type]="new_pwd_hide ? 'password' : 'text'" placeholder="Saisir ici ..." formControlName="new_pass" autocomplete="off" />
											<button mat-icon-button matSuffix (click)="new_pwd_hide = !new_pwd_hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="new_pwd_hide">
												<mat-icon svgIcon="{{new_pwd_hide ? 'close-eye' : 'open-eye'}}"></mat-icon>
											</button>

											<mat-error *ngIf="isControlHasError('new_pass','required')">
												<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
											</mat-error>
											<mat-error *ngIf="isControlHasError('new_pass','minlength')">
												<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
											</mat-error>
											<mat-error *ngIf="isControlHasError('new_pass','maxlength')">
												<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
											</mat-error>
										</mat-form-field>


										<div class="tf-divider">
											<span></span>
										</div>

										<mat-form-field class="col-12">
											<!-- <mat-label>{{'COMMON.EMAIL.LABEL' | translate}}</mat-label> -->
											<mat-label>Pass</mat-label>

											<input matInput autocomplete="false" class="form-control" name="new_pass_confirmation" [type]="new_pwd_hide ? 'password' : 'text'" placeholder="Saisir ici ..." formControlName="new_pass_confirmation" autocomplete="off" />
											<button mat-icon-button matSuffix (click)="confirm_pwd_hide = !confirm_pwd_hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirm_pwd_hide">
												<mat-icon svgIcon="{{confirm_pwd_hide ? 'close-eye' : 'open-eye'}}"></mat-icon>
											</button>

											<mat-error *ngIf="isControlHasError('new_pass_confirmation','required')">
												<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
											</mat-error>
											<mat-error *ngIf="isControlHasError('new_pass_confirmation','notSame')">
												<strong>{{ 'AUTH.VALIDATION.NOT_SAME' | translate }}</strong>
											</mat-error>
										</mat-form-field>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tf-portlet-body>
	</tf-portlet>
	<div>
		<button mat-raised-button [ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': formloading}" [disabled]="formloading || passForm.invalid" color="success" class="pull-right">
			{{'ACTION.SAVE' | translate}}
		</button>
		<button type="button" mat-raised-button color="info" (click)="onCancel()">
			{{'ACTION.CANCEL' | translate}}
		</button>
	</div>
</form>
