<div id="imgModal" class="slide-modal">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="lightbox-div">
        <div class="slide-modal-content">
            <img [src]="data.document.image" *ngIf="data.document.image">
            <object *ngIf="data.document.pdf" [data]="data.document.pdf" type="application/pdf"
                style="width: 100vw; height:100vh;">
            </object>
            <iframe *ngIf="data.document.doc" [src]="'http://drive.google.com/viewerng/viewer?embedded=true&url='+data.document.doc | safe:'resourceUrl'" style="width: 100vw; height:100vh;"></iframe>
        </div>
    </div>
</div>x