<div>
    <form *ngIf="type == 'pdp_validations'" [formGroup]="signaturesForm" class="tf-form tf-form--group-seperator-dashed">
        <div>
            <div *ngxPermissionsOnly="['ADMIN', 'ROOT']">
                <p class="text-right font-weight-bold add-signature-line-btn"><a (click)="addSignatures()">+ {{'ACTION.ADD_SIGNER' | translate}}</a></p>
            </div>
            <div class="row form-row signature-line" *ngFor="let signature of signaturesForm.controls; let i=index" [formGroupName]="i">

                <div class="mb-2 col-12" *ngIf="signaturesForm.controls[i].get('type').value">
                    <b>{{signaturesForm.controls[i].get('type').value  | uppercase}} : </b>
                </div>

                <div class="mb-3 col-xl-12">
                    <button *ngIf="signaturesForm.controls[i].get('type').value!='ee' && signaturesForm.controls[i].get('type').value!='eu'"
                            mat-icon-button class="pull-right "
                            color="accent"
                            color="warn"
                            matTooltip="{{'ACTION.DELETE' | translate}}"
                            (click)="removeSignature(i)"
                    ><mat-icon>highlight_off</mat-icon>
                    </button>
					<div class=" d-flex align-items-center">
						<mat-label class="">{{'PDP.PARTICIPATION_IN_THE_PRIOR_JOINT_INSPECTION' | translate}} </mat-label>
						<div class="d-flex align-items-center">
							<mat-radio-group formControlName="is_part_inspection" class="ml-3 "
								(change)="togglePartInspectionAt($event.value, i, 'part_inspection_at')"
								[(ngModel)]="selectedButton[i]"
								>
								<mat-radio-button
									[value]="1">{{'PDP.YES' | translate}}</mat-radio-button>
								<mat-radio-button
									[value]="0">{{'PDP.NO' | translate}}</mat-radio-button>
							</mat-radio-group>
							<mat-form-field class="ml-3" [style.fontSize.px]=13 *ngIf="selectedButton[i] == 1">
								<mat-label>{{'PDP.DATE' | translate}}</mat-label>
								<input class="form-control" matInput  type="date" name="part_inspection_at" formControlName="part_inspection_at" placeholder="DD/MM/YYYY">
								<mat-error
									*ngIf="isControlHasError('part_inspection_at', 'required', i)">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
				</div>

                <mat-form-field class="col-xl-2 ">
                    <mat-label>{{'PDP.COMPANIES' | translate}} </mat-label>
                    <input class="form-control" matInput type="text" name="company_name" formControlName="company_name" placeholder="{{'ACTION.ENTER_HERE' | translate}}" />
                </mat-form-field>

                <mat-form-field class="col-xl-2 ">
                    <mat-label>{{'PDP.FULLNAME' | translate}} </mat-label>
                    <input class="form-control" matInput type="text" name="full_name" formControlName="full_name" placeholder="{{'ACTION.ENTER_HERE' | translate}}" />
                </mat-form-field>

                <mat-form-field class="col-xl-2 ">
                    <mat-label>{{'PDP.DATE' | translate}} </mat-label>
                    <input class="form-control" matInput type="date" name="validation_at" formControlName="validation_at" placeholder="DD/MM/YYYY" />
                </mat-form-field>

                <div class="col-xl-6 form-row-flex">
					<div class="d-flex align-items-center">
						<mat-checkbox  name="read_and_approved" formControlName="read_and_approved" >{{'PDP.VISA_PRECEDED_BY_THE_WORDS_READ_AND_APPROVED' | translate}}</mat-checkbox>
						<button class="ml-auto d-block" mat-icon-button color="accent" matTooltip="{{'ACTION.CLEAR' | translate}}" (click)="clearSignature(i)">
							<mat-icon >delete</mat-icon>
						</button>
                    </div>

                    <div class="signature-container">
                        <signature-pad #signaturePad id="signaturePad" (window:resize)="resizeSignaturePad()" [options]="signaturePadOptions" (onEndEvent)="drawComplete(i)"></signature-pad>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form *ngIf="type == 'pdp_intervenants'" [formGroup]="signaturesForm" class="tf-form tf-form--group-seperator-dashed">
        <div>
            <div *ngxPermissionsOnly="['ADMIN', 'ROOT']">
                <p class="text-right font-weight-bold add-signature-line-btn"><a (click)="addSignatures()">+ {{'ACTION.ADD_SIGNER' | translate}}</a></p>
            </div>
            <div class="row form-row signature-line" *ngFor="let signature of signaturesForm.controls; let i=index" [formGroupName]="i">
                <div class="mb-3 col-xl-12">
                    <button mat-icon-button class="pull-right"
                            color="accent"
                            color="warn"
                            matTooltip="{{'ACTION.DELETE' | translate}}"
                            (click)="removeSignature(i)"
                    ><mat-icon>highlight_off</mat-icon>
                    </button>
                </div>

                <mat-form-field class="col-xl-2 ">
                    <mat-label>{{'PDP.LAST_NAME' | translate}} </mat-label>
                    <input class="form-control" matInput type="text" name="last_name" formControlName="last_name" placeholder="{{'ACTION.ENTER_HERE' | translate}}" />
                </mat-form-field>

                <mat-form-field class="col-xl-2 ">
                    <mat-label>{{'PDP.FIRST_NAME' | translate}} </mat-label>
                    <input class="form-control" matInput type="text" name="first_name" formControlName="first_name" placeholder="{{'ACTION.ENTER_HERE' | translate}}" />
                </mat-form-field>

                <mat-form-field class="col-xl-2 ">
                    <mat-label>{{'PDP.DATE' | translate}} </mat-label>
                    <input class="form-control" matInput type="date" name="date" formControlName="date" placeholder="DD/MM/YYYY" />
                </mat-form-field>

                <div class="col-xl-6 form-row-flex">
                    <div class="d-flex align-items-center">
						<mat-checkbox  name="read_and_approved" formControlName="read_and_approved" >{{'PDP.VISA_PRECEDED_BY_THE_WORDS_READ_AND_APPROVED' | translate}}</mat-checkbox>
						<button class="ml-auto d-block" mat-icon-button color="accent" matTooltip="{{'ACTION.CLEAR' | translate}}" (click)="clearSignature(i)">
							<mat-icon >delete</mat-icon>
						</button>
					</div>

                    <div class="signature-container">
                        <signature-pad #signaturePad id="signaturePad" (window:resize)="resizeSignaturePad()" [options]="signaturePadOptions" (onEndEvent)="drawComplete(i)"></signature-pad>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <button mat-raised-button [ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': formloading}" [disabled]="formloading || signaturesForm?.invalid" class="float-right btn btn-save" (click)="signaturesForm?.valid && onSubmit()">
        {{'ACTION.SAVE' | translate}}
    </button>
</div>
