<div>
    <form [formGroup]="signaturesForm" class="tf-form tf-form--group-seperator-dashed">
        <div>
            <div *ngxPermissionsOnly="['ADMIN', 'ROOT']">
                <p class="font-weight-bold text-right add-signature-line-btn"><a (click)="addValidationSignatures()">+ {{'ACTION.ADD_SIGNER' | translate}}</a></p>
            </div>
            <div class="row form-row signature-line" *ngFor="let signature of signaturesForm.controls; let i=index" [formGroupName]="i">

                <div class="col-12 mb-3" *ngIf="signaturesForm.controls[i].get('type').value">
                    <b>{{signaturesForm.controls[i].get('type').value  | uppercase}} : </b>
                </div>

                <mat-form-field class="col-xl-2 ">
                    <mat-label>{{'PDP.COMPANIES' | translate}} </mat-label>
                    <input class="form-control" matInput type="text" name="company_name" formControlName="company_name" placeholder="{{'ACTION.ENTER_HERE' | translate}}" />
                </mat-form-field>

                <mat-form-field class="col-xl-2 ">
                    <mat-label>{{'PDP.FULLNAME' | translate}} </mat-label>
                    <input class="form-control" matInput type="text" name="full_name" formControlName="full_name" placeholder="{{'ACTION.ENTER_HERE' | translate}}" />
                </mat-form-field>
                                
                <mat-form-field class="col-xl-2 ">
                    <mat-label>{{'PDP.DATE' | translate}} </mat-label>
                    <input class="form-control" matInput type="date" name="validation_at" formControlName="validation_at" placeholder="DD/MM/YYYY" />
                </mat-form-field>

                <div class="col-xl-2 ">
                    <mat-label>{{'PDP.PARTICIPATION_IN_THE_PRIOR_JOINT_INSPECTION' | translate}} </mat-label>
                    <div class="d-flex align-items-center flex-column">
                        <mat-radio-group formControlName="is_part_inspection" class="mt-3"
                            (change)="togglePartInspectionAt($event.value, i, 'part_inspection_at')">
                            <mat-radio-button
                                [value]="1">{{'PDP.YES' | translate}}</mat-radio-button>
                            <mat-radio-button
                                [value]="0">{{'PDP.NO' | translate}}</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field class="ml-3 mb-3" [style.fontSize.px]=13>
                            <mat-label>{{'PDP.DATE' | translate}}</mat-label>
                            <input class="form-control" matInput  type="date" name="part_inspection_at" formControlName="part_inspection_at" placeholder="DD/MM/YYYY">
                            <mat-error
                                *ngIf="isControlHasError('part_inspection_at', 'required', i)">
                                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                
                </div>

                <div class="col-xl-4 form-row-flex">
                    <label>{{'PDP.VISA_PRECEDED_BY_THE_WORDS_READ_AND_APPROVED' | translate}} </label>
                    <button mat-icon-button color="accent" matTooltip="{{'ACTION.CLEAR' | translate}}" (click)="clearSignature(i,signaturesForm.controls[i].get('type').value)">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <ng-container *ngIf="signaturesForm.controls[i].get('type').value === 'ee'">
                        <div class="signature-container">
                            <signature-pad #signaturePadEe id="signaturePadEe" (window:resize)="resizeSignaturePad('ee')" [options]="signaturePadOptions" (onEndEvent)="drawComplete(i,'ee')"></signature-pad>
                        </div>
                    </ng-container>
                    
                    <ng-container *ngIf="signaturesForm.controls[i].get('type').value === 'eu'">
                        <div class="signature-container">
                            <signature-pad #signaturePadEu id="signaturePadEu" (window:resize)="resizeSignaturePad('eu')" [options]="signaturePadOptions" (onEndEvent)="drawComplete(i,'eu')"></signature-pad>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="signaturesForm.controls[i].get('type').value === 'ss'">
                        <div class="signature-container">
                            <signature-pad #signaturePadSs id="signaturePadSs" (window:resize)="resizeSignaturePad('ss')" [options]="signaturePadOptions" (onEndEvent)="drawComplete(i,'ss')"></signature-pad>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="signaturesForm.controls[i].get('type').value !== 'ee' && signaturesForm.controls[i].get('type').value !== 'eu' && signaturesForm.controls[i].get('type').value !== 'ss'">
                        <div class="signature-container">
                            <signature-pad #signaturePad id="signaturePad" (window:resize)="resizeSignaturePad()" [options]="signaturePadOptions" (onEndEvent)="drawComplete(i,null)"></signature-pad>
                        </div>
                    </ng-container>
                </div>
                
            </div>
        </div>
    </form>

    <button mat-raised-button [ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': formloading}" [disabled]="formloading || signaturesForm?.invalid" class="btn float-right btn-save" (click)="signaturesForm?.valid && onSubmit(false)">
        {{'ACTION.SAVE' | translate}}
    </button>
</div>