<!--begin::Portlet-->
<div class="tf-portlet tf-portlet--bordered item" [ngClass]="{'collapsed' : collapsed }" data-ktportlet="true" id="kt_portlet_tools_3">

    <div class="collapse" [ngClass]="{'show' : !collapsed }" data-parent="#group">

        <div class="tf-portlet__body" *ngIf="items?.length > 0">

            <nz-table   #virtualTable
                        nzSize="small" 
                        [nzData]="items" 
                        [nzFrontPagination]="false" 
                        [nzShowPagination]="false" >
                <thead>
                <tr>
                    <th nzWidth="70%">Libellé</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="dropItem($event)">
                    <tr cdkDrag [cdkDragData]="data" *ngFor="let data of items">
                        <ng-container *ngIf="!data.edit; else editTemplate">
                            <td>{{ data?.libelle }}</td>
                            <td>
                                <a (click)="startEdit(data)" class="text-primary">Modifier</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a nz-popconfirm nzTitle="Sure to delete?" class="text-danger" (nzOnConfirm)="deleteItem(data)">Supprimer</a>
                            </td>
                        </ng-container>
                        <ng-template #editTemplate>
                            <td>
                                <input type="text" nz-input [(ngModel)]="data.libelle" name="name" />
                            </td>
                            <td>
                                <a (click)="saveItem(data)" class="save" class="text-primary">Enregistrer</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a (click)="cancelEdit(data)">Annuler</a>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </nz-table>

        </div>
    </div>

</div>
<!--end::Portlet-->