:host {

    &>.tf-portlet{

        .tf-portlet__head .tf-portlet__head-label {
            max-width: 70%;
        }

        &.collapsed {
            min-height : 0;
        }

        min-height : 330px;

        .anticon {
            vertical-align: 0;
        }
    
        .ant-table-tbody > tr > td {
            font-weight: 500;
            font-size: 13px;
        }
    
        ::ng-deep .ant-table.ant-table-small{
            border: 0;
        }
        ::ng-deep nz-divider {
            .ant-divider-inner-text {
                font-size: 1.5rem;
            }
        }
        
    }

    .accordion {
        .la {
            transition: all .3s;
            transform: rotate(0);
        }
        &.collapsed {
            .la {
                transform: rotate(180deg);
            }
        }
    }

    ::ng-deep  .cdk-drag {
        cursor : grab;
    }

    ::ng-deep .cdk-drag-preview {
        display: table;
      }

    ::ng-deep .cdk-drag-placeholder {
        opacity: 0;
    }

    .upload-content {
        display: flex;
        text-align: left;
        align-items: center;
        
        .mat-icon {
            color: #ff4343;
            cursor: pointer;
        }
    }

    .image-container {
        width: 55px;
        height: 55px;
        border: 1px dashed #d9d9d9;
        padding: 8px;
        border-radius: 2px;
        img {
            width: 100%;
        }
    }

    .upload-img {
        display: flex;
        align-items: center;
        .img-format {
            font-size: 10px;
            font-style: italic;
        }
    }

    .upload-img ::ng-deep .ant-upload.ant-upload-drag{
        width: 55px;
        height: 55px;
    }

    .upload-img ::ng-deep .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
        font-size: 25px
    }

}

