<div class="tf-login__body">
	<div class="tf-login__form">
		<div class="tf-login__title">
			<h3>{{ 'AUTH.EDIT.TITLE' | translate }}</h3>
		</div>

		<tf-auth-notice></tf-auth-notice>

		<form class="tf-form" [formGroup]="editPasswordForm" autocomplete="off">
			<div class="tf-form-block">
                <p>{{ 'AUTH.EDIT.DESC' | translate }}</p>
				<div class="form-group">
					<mat-form-field [floatLabel]="'always'">
						<mat-label>{{ 'AUTH.INPUT.NEW_PASSWORD' | translate }}</mat-label>
                        <input matInput autocomplete="false" class="form-control"  [type]="pwd_hide ? 'password' : 'text'" placeholder="{{'ACTION.ENTER_HERE' | translate}} ..." formControlName="password" autocomplete="off"/>
						<button mat-icon-button matSuffix (click)="pwd_hide = !pwd_hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pwd_hide">
							<mat-icon svgIcon="{{pwd_hide ? 'close-eye' : 'open-eye'}}"></mat-icon>
						</button>
						<mat-error *ngIf="isControlHasError('password','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('password','minlength')">
							<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('password','maxlength')">
							<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="tf-login__divider">
					<div class="tf-divider">
						<span></span>
					</div>
				</div>
				<div class="form-group">
					<mat-form-field [floatLabel]="'always'">
						<mat-label>{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}</mat-label>
						<input matInput autocomplete="false" class="form-control"  [type]="confirm_pwd_hide ? 'password' : 'text'" placeholder="{{'ACTION.ENTER_HERE' | translate}} ..." formControlName="confirm_password" autocomplete="off"/>
						<button mat-icon-button matSuffix (click)="confirm_pwd_hide = !confirm_pwd_hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirm_pwd_hide">
							<mat-icon svgIcon="{{confirm_pwd_hide ? 'close-eye' : 'open-eye'}}"></mat-icon>
						</button>
						<mat-error *ngIf="isControlHasError('confirm_password','required')">
							<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
						</mat-error>
                        <mat-error *ngIf="isControlHasError('confirm_password','notSame')">
							<strong>{{ 'AUTH.VALIDATION.NOT_SAME' | translate }}</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<!--begin::Action-->
			<div class="tf-login__actions">
				<button routerLink="/auth/login" type="button" [disabled]="loading" id="tf_login_signup_cancel" class="btn btn-secondary btn-elevate tf-login__btn-secondary">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
				<button (click)="submit()" type="submit" id="tf_login_signin_submit" class="btn btn-primary btn-elevate tf-login__btn-primary" [ngClass]="{'tf-spinner tf-spinner--right tf-spinner--md tf-spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>

	</div>
</div>