<form [formGroup]="arForm" class="tf-form tf-form--group-seperator-dashed" *ngIf="ar">

	<tf-portlet id="portlet-chantier">
		<div class="tf-portlet-header " >
			<span class="title">
			  <a [routerLink]="['/analyses-risque/list']">{{'MENU.HOME' | translate}}</a>
			  <span class="divider">></span>
			  <span class="id-item">{{'MENU.SUB_ANALYSERISQUE.EDIT' | translate}}</span>
			</span>
        </div>
        
        <tf-search-chantier-form [arForm]="arForm" origin="edit"></tf-search-chantier-form>

	</tf-portlet>

	<tf-ar-form [arForm]="arForm" [edit]="true" origin="edit"></tf-ar-form>
	

	<button mat-raised-button [disabled]="arForm.invalid" class="btn float-right btn-save" (click)="arForm.valid && onSubmit(false)">
		{{'ACTION.SAVE' | translate}}
	</button>

</form>