<div class="row">

	<div class="col-6 col-xs-12">
		<tf-portlet class="main-portlet-form">
			<div class="tf-portlet-header pt-0">
				<div class="tf-heading tf-heading--md">{{'MENU.EDIT_PROFILE' | translate}}</div>
			</div>
			<tf-portlet-body class="pt-0">
				<div class="tf-wizard-v4__content" data-tfwizard-type="step-content" data-tfwizard-state="current">
					<div class="tf-form__section tf-form__section--first">
						<div class="tf-wizard-v4__form px-4">
		
							<form [formGroup]="userForm" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate (ngSubmit)="userForm.valid && onUserSubmit()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="loaded">
								<div class="row form-row my-4">
		
									<mat-form-field class="col-12">
										<mat-label>{{'COMMON.LASTNAME.LABEL' | translate}}</mat-label>
										<input matInput autocomplete="false" name="nom" class="form-control" type="text" placeholder="{{'ACTION.ENTER_HERE' | translate}} ..." formControlName="nom" autocomplete="off" />
										<mat-error *ngIf="isControlHasError(userForm,'nom','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
		
									<mat-form-field class="col-12">
										<mat-label>{{'COMMON.FIRSTNAME.LABEL' | translate}}</mat-label>
										<input matInput autocomplete="false" name="prenom" class="form-control" type="text" placeholder="{{'ACTION.ENTER_HERE' | translate}} ..." formControlName="prenom" autocomplete="off" />
										<mat-error *ngIf="isControlHasError(userForm,'prenom','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
		
									<mat-form-field class="col-12">
										<mat-label>{{'COMMON.EMAIL.LABEL' | translate}}</mat-label>
										<input matInput autocomplete="false" name="email" class="form-control" type="text" placeholder="{{'ACTION.ENTER_HERE' | translate}} ..." formControlName="email" autocomplete="off" />
										<mat-error *ngIf="isControlHasError(userForm,'email','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>

									<mat-form-field class="col-12">
										<mat-label>{{'COMMON.PHONE.LABEL' | translate}}</mat-label>
										<input matInput class="form-control" type="text" name="telephone" formControlName="telephone" placeholder="{{'ACTION.ENTER_HERE' | translate}}" />
										<mat-error *ngIf="isControlHasError(userForm, 'telephone','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									
									<mat-form-field class="col-12">
										<mat-label>{{'COMMON.FONCTION.LABEL' | translate}}</mat-label>
										<input matInput class="form-control" type="text" name="fonction_autre" formControlName="fonction_autre" placeholder="{{'ACTION.ENTER_HERE' | translate}}" />
										<mat-error *ngIf="isControlHasError(userForm, 'fonction_autre','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
		






									<div class="col-12">
										<button mat-raised-button [ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': userFormloading}" [disabled]="userFormloading || userForm.invalid" color="success" class="pull-right">
											{{'ACTION.SAVE' | translate}}
										</button>
									</div>
								</div>
							</form>
		
						</div>
					</div>
				</div>
			</tf-portlet-body>
		</tf-portlet>
	</div>

	<div class="col-6 col-xs-12">
		<tf-portlet class="main-portlet-form">
			<div class="tf-portlet-header pt-0">
				<div class="tf-heading tf-heading--md">{{'MENU.EDIT_MY_PASSWORD' | translate}}</div>
			</div>
			<tf-portlet-body class="pt-0">
				<div class="tf-wizard-v4__content" data-tfwizard-type="step-content" data-tfwizard-state="current">
					<div class="tf-form__section tf-form__section--first">
						<div class="tf-wizard-v4__form px-4">
		
							<form [formGroup]="passForm" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate (ngSubmit)="passForm.valid && onPassSubmit()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="loaded">
								<div class="row form-row my-4">
		
									<mat-form-field class="col-12">
										<mat-label>Ancien mot de passe</mat-label>
		
										<input matInput autocomplete="false" name="old_pass" class="form-control" [type]="old_pwd_hide ? 'password' : 'text'" placeholder="{{'ACTION.ENTER_HERE' | translate}} ..." formControlName="old_pass" autocomplete="off" />
										<button mat-icon-button matSuffix (click)="old_pwd_hide = !old_pwd_hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="old_pwd_hide">
											<mat-icon svgIcon="{{old_pwd_hide ? 'close-eye' : 'open-eye'}}"></mat-icon>
										</button>
		
										<mat-error *ngIf="isControlHasError(passForm, 'old_pass','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
		
									<mat-form-field class="col-12">
										<mat-label>Nouveau mot de passe</mat-label>
										<input matInput autocomplete="false" name="new_pass" class="form-control" [type]="new_pwd_hide ? 'password' : 'text'" placeholder="{{'ACTION.ENTER_HERE' | translate}} ..." formControlName="new_pass" autocomplete="off" />
										<button mat-icon-button matSuffix (click)="new_pwd_hide = !new_pwd_hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="new_pwd_hide">
											<mat-icon svgIcon="{{new_pwd_hide ? 'close-eye' : 'open-eye'}}"></mat-icon>
										</button>
		
										<mat-error *ngIf="isControlHasError(passForm, 'new_pass','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
										<mat-error *ngIf="isControlHasError(passForm, 'new_pass','minlength')">
											<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
										</mat-error>
										<mat-error *ngIf="isControlHasError(passForm, 'new_pass','maxlength')">
											<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 100</strong>
										</mat-error>
									</mat-form-field>
		
									<mat-form-field class="col-12">
										<mat-label>Confirmer le nouveau mot de passe</mat-label>
										<input matInput autocomplete="false" class="form-control" name="new_pass_confirmation" [type]="new_pwd_hide ? 'password' : 'text'" placeholder="{{'ACTION.ENTER_HERE' | translate}} ..." formControlName="new_pass_confirmation" autocomplete="off" />
										<button mat-icon-button matSuffix (click)="confirm_pwd_hide = !confirm_pwd_hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirm_pwd_hide">
											<mat-icon svgIcon="{{confirm_pwd_hide ? 'close-eye' : 'open-eye'}}"></mat-icon>
										</button>
		
										<mat-error *ngIf="isControlHasError(passForm, 'new_pass_confirmation','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
										<mat-error *ngIf="isControlHasError(passForm, 'new_pass_confirmation','notSame')">
											<strong>{{ 'AUTH.VALIDATION.NOT_SAME' | translate }}</strong>
										</mat-error>
									</mat-form-field>
		
									<div class="col-12">
										<button mat-raised-button [ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': passFormloading}" [disabled]="passFormloading || passForm.invalid" color="success" class="pull-right">
											{{'ACTION.SAVE' | translate}}
										</button>
									</div>
								</div>
							</form>
		
						</div>
					</div>
				</div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
</div>

<div>
	<button type="button" mat-raised-button color="info" (click)="onCancel()">
		{{'ACTION.CANCEL' | translate}}
	</button>
</div>
