<tf-portlet class="flex-fill" >
    <tf-portlet-header title="{{'MENU.ENTREPRISES' | translate}}"></tf-portlet-header>
    <tf-portlet-body [class]="'tf-portlet__body--fit'" style="height: 100%">
        <div class="table-responsive">
            <ng-container *ngIf="stats; else loading">
                <tf-widget2 [label]="'raison_sociale'" (onGoTo)="goToEntreprise($event)" [data]="stats.top_5_sous_traitant">
                    <ng-template #actionTemplate let-item="item" >
                        <span class="tf-widget4__number" *ngIf="item.id" >{{item.chiffre_affaire | currency:'EUR':'€'}}</span>
                        <span class="tf-widget4__number" *ngIf="!item.id">{{item.chiffre_affaire}}</span>
                        <span class="tf-widget4__number" >{{item.visites_count}}</span>
                    </ng-template>
                </tf-widget2>
            </ng-container>
        </div>
        
        <!-- <div class="row row-no-padding row-col-separator-xl">
			<div class="col-xl-6" style="padding:1em;">
                <div class="dash-title">Top 5 sous-traitants</div>
                <ng-container *ngIf="stats; else loading">
                    <tf-widget4 [data]="entrepriseSousTraitanteList">
                        <ng-template #actionTemplate let-item="item" >
                            <span class="tf-widget4__number" [ngClass]="item.valueColor">{{item.value | currency:'EUR':'€'}}</span>
                        </ng-template>
                    </tf-widget4>
                </ng-container>
			</div>
			<div class="col-xl-6" style="padding:1em;">
                <div class="dash-title">Top 5 intérims</div>
                <ng-container *ngIf="stats; else loading">
                    <tf-widget4 [data]="entrepriseInterimList">
                        <ng-template #actionTemplate let-item="item" >
                            <span class="tf-widget4__number" [ngClass]="item.valueColor">{{item.value}} missions</span>
                        </ng-template>
                    </tf-widget4>
                </ng-container>
			</div>
        </div> -->
        
        

    </tf-portlet-body>
</tf-portlet>

<ng-template #loading>
	<!-- <span class="tf-widget12__value"></span> -->
	<div class="loading-card">
		<mat-spinner color="accent" diameter="30"></mat-spinner>
	</div>
</ng-template>