<div class="modal-header">
	<h4 class="modal-title">{{'MENU.FLASHINFOS' | translate}} : {{flashInfo?.title}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body" style="background:#f7f7ff">
    <div class="row">
        <div class="col-12 flash-content">
            <tf-flashinfo-reader *ngIf="flashInfo; else loading" [data]="flashInfo.content"></tf-flashinfo-reader>
        </div>
    </div>
</div>

<ng-template #loading>
	<div class="loading-card">
		<mat-spinner color="accent" diameter="30"></mat-spinner>
	</div>
</ng-template>