.table-responsive{
  max-height: 286px;
}
.loading-card{
  display: flex;
  width: 100%;
  max-height: 312px;
  justify-content:center;
  align-items:center;
}
::ng-deep.mat-sort-header-container{
  justify-content: space-between;
  position:relative;
  .mat-sort-header-button{
    text-align: left;
  }
}