<tf-search-list-bar [(ngModel)]="filter" (change)="getVisites()" [hasAdvancedSearch]="false" [showFilters]="showFilters" class="row row-filters"></tf-search-list-bar>

<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
	<tf-portlet-body class="tf-portlet__body--fit" style="padding: 15px;" *ngIf="visitesList">
    
    <table mat-table [dataSource]="visitesList.data">

      <!-- code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('code')">
          {{'VISITES.CODE.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('code') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('code') && {'opacity': 1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer"> {{visite.code}} </td>
      </ng-container>

      <!-- client - nom de chantier Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder(['chantiers.client', 'chantiers.nom', 'visite_securites.code'])">
          {{'VISITES.CLIENT.TITLE' | translate}} - {{'VISITES.CHANTIER.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy(['chantiers.client', 'chantiers.nom', 'visite_securites.code']) && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy(['chantiers.client', 'chantiers.nom', 'visite_securites.code']) && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer"> {{visite.chantier.client+' '+visite.chantier.nom | truncate:35}}</td>
      </ng-container>

      <!-- type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('types.libelle')"> 
            {{'VISITES.TYPE.SHORTTITLE' | translate}} 
            <i class="fa" [ngClass]="isOrderedBy('types.libelle') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('types.libelle') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer text-center" [ngStyle]="visite.type && visite.type.color && {'color':visite.type.color}"> {{visite.type?.libelle}} </td>
      </ng-container>

      <!-- redacteur Column -->
      <ng-container matColumnDef="redacteur">
        <th mat-header-cell *matHeaderCellDef class=" th-order" (click)="setOrder(['redacteurs.nom', 'redacteurs.prenom'])"> 
          {{'VISITES.REDACTEUR.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy(['redacteurs.nom', 'redacteurs.prenom']) && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy(['redacteurs.nom', 'redacteurs.prenom']) && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer" > {{visite.redacteur.nom+' '+visite.redacteur.prenom}} </td>
      </ng-container>

      <!-- visite Column -->
      <ng-container matColumnDef="visite">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('visited')">
          {{'VISITES.VISITED.TITLE' | translate}}
          <i class="fa" [ngClass]="isOrderedBy('visited') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('visited') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer" > 
          <span *ngIf="visite.visited.type != 'societe'; else societe_ee">{{visite.visited.fullname}}</span>
          <ng-template #societe_ee>
            {{visite.visited}}
          </ng-template>

        </td>
      </ng-container>
      
      <!-- date_visite Column -->
      <ng-container matColumnDef="date_visite">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('visite_securites.date_visite')"> 
          {{'VISITES.DATE_VISITE.SHORTTITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('visite_securites.date_visite') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('visite_securites.date_visite') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer text-center"> {{visite.date_visite | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('status.libelle')"> 
            {{'VISITES.STATUS.SHORTTITLE' | translate}} 
            <i class="fa" [ngClass]="isOrderedBy('status.libelle') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('status.libelle') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer text-center" [ngStyle]="visite.status && visite.status.color && {'color':visite.status.color}"> {{visite.status?.libelle}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let visite"> 
          
          <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions">
              <mat-icon>more_vert</mat-icon>
              <!-- <i class="flaticon-more"></i> -->
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
              <!-- *ngxPermissionsOnly="['ADMIN']" -->
              <button mat-icon-button color="primary" matTooltip="{{'ACTION.READ' | translate}}" (click)="viewVisite(visite.id)">
                <mat-icon>visibility</mat-icon>
                <!-- <i class="flaticon-more"></i> -->
              </button>
              <button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editVisite(visite.id)">
                <mat-icon>edit</mat-icon>
                <!-- <i class="flaticon-more"></i> -->
              </button>
              <button mat-icon-button color="accent" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteVisite(visite.id)">
                <mat-icon>delete</mat-icon>
                <!-- <i class="flaticon-more"></i> -->
              </button>
                
            </div>
          </div>
        </td>
      </ng-container> 
      <tr mat-header-row *matHeaderRowDef="displayedVisiteColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedVisiteColumns;"></tr>
    </table>
  
    <tf-pagination (change)="changePagination()" [(ngModel)]="pagination" ngDefaultControl></tf-pagination>
  
	</tf-portlet-body>
</tf-portlet>
