<tf-portlet>
    <tf-portlet-header [title]="'Entreprises externe'"></tf-portlet-header>
    <tf-portlet-body [class]="'tf-portlet__body--fit'">
        <div class="row row-no-padding row-col-separator-xl">
			<div class="col-xl-6" style="padding: 10px;">
				<div class="dash-title">Top 5 entreprises sous-traitantes</div>
                <tf-widget4 [data]="entrepriseList">
                    <ng-template #actionTemplate let-item="item">
                        <span class="tf-widget4__number" [ngClass]="item.valueColor">{{item.value | currency:'EUR':'€'}}</span>
                    </ng-template>
                </tf-widget4>
			</div>
			<div class="col-xl-6" style="padding: 10px;">
				<div class="dash-title">Top 5 entreprises intérimaires</div>
				<!-- <div echarts class="demo-chart" #evolActions></div> -->
			</div>
        </div>
        

    </tf-portlet-body>
</tf-portlet>
