//
// Header
//



// Desktop mode(1024px and above)
@include tf-desktop {
	.tf-header {
		display: flex;
		align-items: stretch;
		transition: height 0.3s ease;
		position: relative;
    	z-index: 2;
    	height: tf-get($tf-header-config, base, desktop, default, height);
    	border-bottom: 1px solid rgba(#fff, 0.1);

		.tf-container {
			display: flex;
			justify-content: space-between;
			align-items: stretch;

			&:before,
			&:after {
				display: none !important;
			}

			.tf-header__brand-logo-default {
				display: inline-block;
			}

			.tf-header__brand-logo-sticky {
				display: none;
			}
		}

		// Fixed
		.tf-header--fixed.tf-header--minimize & {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			transition: height 0.3s ease;
			z-index: tf-get($tf-header-config, base, desktop, fixed, zindex);
			box-shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);
			height: tf-get($tf-header-config, base, desktop, fixed, height);
			background: #fff;
			border-bottom: 0;
		}

		// Animations
		.tf-header--minimize & {
			animation: tf-header-minimize .5s ease 1;

			.tf-header__brand-logo-default {
				display: none;
			}

			.tf-header__brand-logo-sticky {
				display: inline-block;
			}
		}
	}
}

@keyframes tf-header-minimize {
    from   { top: -(tf-get($tf-header-config, base, desktop, fixed, height)); }
    to { top: 0; }
}
