//
// Header Menu
//




// Build desktop menu
@include tf-menu-hor-build-layout(tf-get($tf-header-config, menu, desktop));
@include tf-menu-hor-build-skin(tf-get($tf-header-config, menu, desktop), default);

// Build mobile menu
@include tf-menu-ver-build-layout(tf-get($tf-header-config, menu, tablet-and-mobile));
@include tf-menu-ver-build-skin(tf-get($tf-header-config, menu, tablet-and-mobile), default);

// Header menu mobile offcanvas
@include tf-offcanvas-build(tf-header-menu-wrapper, tablet-and-mobile, tf-get($tf-header-config, menu, offcanvas-mobile));

// General mode
.tf-header-menu-wrapper {
	.tf-header-toolbar {
		.btn.btn-custom {
			background-color: #e7e8ef;
			border-color: #e7e8ef;
			color: #68667f;
			font-size: 0.95rem;
			font-weight: 600;
			padding: 0.75rem 2rem;
			text-transform: uppercase;

			.show > &,
	  		&.active,
	  		&:active,
	  		&:hover {
				background-color: darken(#e7e8ef, 3%);
				border-color: darken(#e7e8ef, 3%);
				color: lighten(#68667f, 3%);
			}
		}
	}
}

// Desktop mode(1024px and above)
@include tf-desktop() {
	// Header default mode
	.tf-header-menu-wrapper {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		$border: 2.5px;
		// margin-left: 40px;

		// Menu
		.tf-header-menu {
			.tf-menu__nav {
				> .tf-menu__item {
					margin: auto 1.25rem;
					// Link
					> .tf-menu__link {
						padding: 0.75rem 0;
						position: relative;
						border-bottom: 2.5px solid transparent;
						@include tf-rounded {
							// border-radius: $tf-border-radius;
						}
					}

					// Active state
					&.tf-menu__item--here,
					&.tf-menu__item--active {
						> .tf-menu__link{
							border-image: linear-gradient(to right, #20b1d3 31%, #5adeb9) 1;
							> .tf-menu__link-text{
								font-weight: 800;
							}
						}
					}

					// Hover state
					&:hover,
					&.tf-menu__item--open,
					&.tf-menu__item--hover {
						> .tf-menu__link {
							border-bottom: 2.5px solid;
							border-image: linear-gradient(to right, #20b1d3 31%, #5adeb9) 1;
						}
					}
				}
			}
		}
	}	

	// Header minimize mode
	.tf-header--fixed.tf-header--minimize {
		.tf-header-menu-wrapper  {
			.tf-header-menu {
				.tf-menu__nav {
					> .tf-menu__item {
						// Link
						> .tf-menu__link {
							> .tf-menu__link-icon {
								// color: lighten(#6c7293, 3%);
							}

							> .tf-menu__link-text {
								// color: #6c7293;
							}

							> .tf-menu__link-arrow {
								// color: lighten(#6c7293, 3%);
							}
						}

						// Active state
						&.tf-menu__item--here,
						&.tf-menu__item--active {
							> .tf-menu__link {
								border-bottom: 2.5px solid;
								border-image: linear-gradient(to right, #20b1d3 31%, #5adeb9) 1;
							}
						}

						// Hover state
						&:hover,
						&.tf-menu__item--open,
						&.tf-menu__item--hover {
							> .tf-menu__link {
								border-bottom: 2.5px solid;
								border-image: linear-gradient(to right, #20b1d3 31%, #5adeb9) 1;
							}
						}
					}
				}
			}
		}
	}
}

// Media range(above 1024px and below 1200px)
@include tf-media-range(lg, xl) {
	.tf-header-menu-wrapper {
		.tf-header-menu {
			.tf-menu__nav {
				> .tf-menu__item {
					> .tf-menu__link {
						padding: 0.75rem 0.75rem;
					}
				}
			}
		}
	}
}

// Tablet and mobile mode(1024px and below)
@include tf-media-below(lg) {
	.tf-header-menu-wrapper {
		.tf-header-menu {
			.tf-menu__nav {
				margin-bottom: 0;
				padding-bottom: 10px;
			}
		}
	}
}