<!--begin: Search -->
<div ngbDropdown (openChange)="openChange()" placement="bottom" autoClose="outside" class="tf-header__topbar-item tf-header__topbar-item--search dropdown">
	<div ngbDropdownToggle class="tf-header__topbar-wrapper">
		<span class="tf-header__topbar-icon" [ngClass]="type ? 'tf-header__topbar-icon--'+type : ''">
			<i *ngIf="!useSVG" [ngClass]="icon"></i>
			<span class="tf-svg-icon" *ngIf="useSVG" [inlineSVG]="icon"></span>
		</span>
	</div>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">
		<div [ngClass]="{'tf-quick-search--has-result': data?.length}" class="tf-quick-search tf-quick-search--dropdown tf-quick-search--result-compact" id="tf_quick_search_dropdown">
			<form method="get" class="tf-quick-search__form">
				<div class="input-group" [ngClass]="{'tf-spinner tf-spinner--input tf-spinner--sm tf-spinner--brand tf-spinner--right': loading}">
					<div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>
					<input #searchInput (keyup)="search($event)" type="text" class="form-control tf-quick-search__input" placeholder="Search..." />
					<div class="input-group-append"><span class="input-group-text"><i (click)="clear($event)" [ngStyle]="{'display': 'flex'}" [hidden]="!data || !data?.length" class="la la-close tf-quick-search__close"></i></span></div>
				</div>
			</form>
			<div [perfectScrollbar]="{wheelPropagation: false}" [ngStyle]="{'max-height': '40vh', 'position': 'relative'}" class="tf-quick-search__wrapper">
				<tf-search-result [data]="data"></tf-search-result>
			</div>
		</div>
	</div>
</div>
<!--end: Search -->
