<form [formGroup]="arForm" class="tf-form tf-form--group-seperator-dashed ">

	<tf-portlet>
		<tf-portlet-header [title]="" [class]="'tf-portlet__head--lg'">
			<!-- <ng-container tfPortletTools> -->
			<!-- <a [routerLink]="['../../']" class="btn btn-secondary tf-margin-r-10" mat-raised-button
					matTooltip="Back to the users list">
					<i class="la la-arrow-left"></i>
					<span class="tf-hidden-mobile">Back</span>
				</a> -->
			<!-- </ng-container> -->
		</tf-portlet-header>

		<tf-portlet-body style="flex-direction: row;">

			<div class="col-xl-3">
				<div class="tf-heading tf-heading--md" style="margin-top: 0;">
					{{'ARS.FORM.CREATE' | translate}}
				</div>
				<div></div>
				<div class="flex-layout">

					<div class="form-group row">
						<div class="col-md-12">
							<div class="input-group search-input-group">
								<div class="input-group-prepend">
									<span class="input-group-text search-icon-container">
										<mat-icon svgIcon="search"></mat-icon>
									</span>
								</div>
								<input #searchInput type="text" class="form-control" name="keyword" placeholder="{{'FILTER.SEARCH_CHANTIER' | translate}}">
							</div>
						</div>
					</div>

					<div class="col-xl-3">
						<button class="btn btn-brand btn-search" (click)="searchForChantier(searchInput.value)">
							Lancer
						</button>
					</div>
				</div>
			</div>
			<div class="col-xl-9">
				<div class="tf-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
					<div class="tf-form__section tf-form__section--first">
						<div class="tf-wizard-v4__form">
							<div class="row">
								<div class="col-xl-4">
									<mat-label>{{'ARS.NAME' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]='chantier?.nom'   />
								</div>
								<div class="col-xl-3">
									<mat-label>{{'ARS.ADRESS' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]='chantier?.adresse'   />
								</div>
								<div class="col-xl-3">
									<mat-label>{{'COMMON.CITY.LABEL' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]='chantier?.ville'   />
								</div>
								<div class="col-xl-2">
									<mat-label>{{'CHANTIERS.NUMBER.LABEL' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]='chantier?.numero'   />
								</div>
							</div>
							<div class="row">
								<div class="col-xl-4">
									<mat-label>{{'ARS.DATE.LABEL' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]=''   />
								</div>
								<div class="col-xl-3">
									<mat-label>{{'ARS.DATE_DEMARRAGE' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]='chantier?.date_demarrage'   />
								</div>
								<div class="col-xl-3">
									<mat-label>{{'ARS.EMPLOYEE' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]='chantier?.contact'   />
								</div>
								<div class="col-xl-2">
									<mat-label>{{'ARS.BUDGET' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]='chantier?.montant'   />
								</div>
							</div>
							<div class="row">
							</div>
							<!-- <ng-select [items]="allRoles" [formControl]="role" bindLabel="title"
											[bindValue]="id" [clearable]="false">
										</ng-select> -->

						</div>
					</div>
				</div>
			</div>
		</tf-portlet-body>
	</tf-portlet>

	<tf-ar-form-1 [arForm]="arForm" ></tf-ar-form-1>

	<button class="btn btn-primary float-right" (click)="onSubmit(false)">
		Save
	</button>

</form>

