<form [formGroup]="arForm" class="tf-form tf-form--group-seperator-dashed ">

	<tf-portlet>
		<tf-portlet-header [title]="" [class]="'tf-portlet__head--lg'">
			<!-- <ng-container tfPortletTools> -->
			<!-- <a [routerLink]="['../../']" class="btn btn-secondary tf-margin-r-10" mat-raised-button
					matTooltip="Back to the users list">
					<i class="la la-arrow-left"></i>
					<span class="tf-hidden-mobile">Back</span>
				</a> -->
			<!-- </ng-container> -->
		</tf-portlet-header>

		<tf-portlet-body>
			<div class="tf-heading tf-heading--md" style="margin-top: 0;">
				{{'ARS.FORM.CREATE' | translate}}
			</div>
			<div class="form-card">
				
				<div class="tf-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
					<div class="tf-form__section tf-form__section--first">
						<div class="tf-wizard-v4__form">
							<div class="row">
								<div class="col-xl-4">
									<mat-label>{{'ARS.NAME' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]=''   />
								</div>
								<div class="col-xl-3">
									<mat-label>{{'ARS.ADRESS' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]=''   />
								</div>
								<div class="col-xl-2">
									<mat-label>{{'COMMON.CITY' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]=''   />
								</div>
								<div class="col-xl-2">
									<mat-label>{{'CHANTIERS.NUMBER' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]=''   />
								</div>
							</div>
							<div class="row">
								<div class="col-xl-4">
									<mat-label>{{'AR.DATE' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]=''   />
								</div>
								<div class="col-xl-3">
									<mat-label>{{'ARS.DATE_DEMARRAGE' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]=''   />
								</div>
								<div class="col-xl-2">
									<mat-label>{{'ARS.CHIEF' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]=''   />
								</div>
								<div class="col-xl-2">
									<mat-label>{{'ARS.BUDGET' | translate}}</mat-label>
									<input class="form-control" matInput type="text" [value]=''   />
								</div>
							</div>
							<div class="row">
							</div>
							<!-- <ng-select [items]="allRoles" [formControl]="role" bindLabel="title"
											[bindValue]="id" [clearable]="false">
										</ng-select> -->

						</div>
					</div>
				</div>
		
			</div>
		</tf-portlet-body>
	</tf-portlet>

	<!-- <tf-ar-form [arForm]="arForm.controls['ar']" ></tf-ar-form> -->
	<tf-ar-form-1 [arForm]="arForm.controls['ar']" ></tf-ar-form-1>

	<button class="btn btn-primary float-right" (click)="onSubmit(false)">
		Save
	</button>

</form>

