<ng-container [formGroup]="chantierForm">
	<tf-portlet>
		<tf-portlet-body>
			<div class="tf-heading tf-heading--lg" style="margin-top: 0;">
				<div *ngIf="edit">
					{{'MENU.SUB_CHANTIER.EDIT' | translate}} n°{{chantierForm.get('numero').value+' - '+chantierForm.get('nom').value}} 
					<mat-form-field class="pull-right" style="font-size: 1rem;">
						<mat-label>{{'CHANTIERS.STATUS.LABEL' | translate}}</mat-label>
						<mat-select class="form-control" placeholder="" formControlName="status_id" >
							<mat-option *ngFor="let statu of status" [ngStyle]="statu.color && {'color':statu.color}" [value]="statu.id">
								<span>
									{{ statu.libelle }}
								</span>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<span *ngIf="!edit">{{'CHANTIERS.FORM.CREATE' | translate}}</span>
			</div>
			<div>
				<div class="tf-wizard-v4__content" data-tfwizard-type="step-content" data-tfwizard-state="current">
					<div class="tf-form__section tf-form__section--first">
						<div class="tf-wizard-v4__form">
							<div class="row form-row">
								<mat-form-field class="col-xl-4">
									<mat-label>{{'CHANTIERS.NAME.LABEL' | translate}}</mat-label>
									<input class="form-control" matInput type="text" name="nom" formControlName="nom" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-3">
									<mat-label>{{'CHANTIERS.TYPE.LABEL' | translate}}</mat-label>
									<mat-select class="form-control" placeholder="" formControlName="type_id">
										<mat-option *ngFor="let type of types" [value]="type.id">
											{{ type.libelle }}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field class="col-xl-3">
									<mat-label>{{'CHANTIERS.DATE_DEMARRAGE.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" [matDatepicker]="date_demarrage_picker" formControlName="date_demarrage" placeholder="DD/MM/YYYY">
									<mat-datepicker-toggle matSuffix [for]="date_demarrage_picker"></mat-datepicker-toggle>
									<mat-datepicker #date_demarrage_picker></mat-datepicker>
								</mat-form-field>
								<mat-form-field class="col-xl-2">
									<mat-label>{{'CHANTIERS.BUDGET.LABEL' | translate}}</mat-label>
									<input matInput mask="separator.2" class="form-control" type="string" name="montant" formControlName="montant" placeholder="Saisir ici" />
									<mat-icon matSuffix>euro_symbol</mat-icon>
								</mat-form-field>
							</div>
							<div class="row form-row">
								<mat-form-field class="col-xl-4">
									<mat-label>{{'CHANTIERS.CHIEF.LABEL' | translate}}</mat-label>
									<!-- <ng-select ngSelectMat class="form-control mat-select" [items]="users" formControlName="charge_affaire_id" bindLabel="fullname"
										bindValue="id" [clearable]="false">
									</ng-select> -->
									<mat-select class="form-control" placeholder="" formControlName="charge_affaire_id">
										<mat-option *ngFor="let user of users" [value]="user.id">
											{{ user.fullname }}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field class="col-xl-3">
									<mat-label>{{'CHANTIERS.CLIENT.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="client" formControlName="client" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-3">
									<mat-label>{{'CHANTIERS.CONTACT.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="contact" formControlName="contact" placeholder="Saisir ici" />
								</mat-form-field>
							</div>
							<div class="row form-row">
								<mat-form-field class="col-xl-4">
									<mat-label>{{'CHANTIERS.ADRESS.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="adresse" formControlName="adresse" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-3">
									<mat-label>{{'COMMON.CITY.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="ville" formControlName="ville" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-1">
									<mat-label>{{'COMMON.POSTCODE.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="code_postal" formControlName="code_postal" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-2">
									<mat-label>{{'COMMON.COUNTRY.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="pays" formControlName="pays" placeholder="Saisir ici" />
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h5>Habilitations Nécessaires <span class="pull-right pointer" (click)="showHabs = !showHabs">{{showHabs ? 'masquer':'montrer'}}<i class="fa pl-2" [ngClass]="showHabs ? 'fa-caret-down':'fa-caret-right'"></i></span></h5>
			<div *ngIf="showHabs">
				<div class="row" *ngFor="let catHab of catHabs" >
					<div class="col-12">
						<h6>{{catHab.libelle}}</h6>
					</div>
					<div class="col-12">
						<div class="row form-row">
							<div class="col-md-3" *ngFor="let hab of catHab.habilitations">
								<mat-checkbox [value]="hab.id" (change)="onHabCheckChange($event)" [checked]="onHabIsChecked(hab.id)">{{hab.libelle}}</mat-checkbox>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tf-portlet-body>
	</tf-portlet>
</ng-container>