<ng-container [formGroup]="chantierForm">
	<tf-portlet>
		<tf-portlet-body>
			<div class="tf-heading tf-heading--lg" style="margin-top: 0;">
				<span *ngIf="edit">{{'MENU.SUB_CHANTIER.EDIT' | translate}} - {{chantierForm.get('nom').value}}</span> 
				<span *ngIf="!edit">{{'CHANTIERS.FORM.CREATE' | translate}}</span>
			</div>
			<div>
				<div class="tf-wizard-v4__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
					<div class="tf-form__section tf-form__section--first">
						<div class="tf-wizard-v4__form">
							<div class="row form-row">
								<mat-form-field class="col-xl-4">
									<mat-label>{{'CHANTIERS.NAME.LABEL' | translate}}</mat-label>
									<input class="form-control" matInput type="text" name="nom" formControlName="nom" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-2">
									<mat-label>{{'CHANTIERS.TYPE.LABEL' | translate}}</mat-label>
									<mat-select class="form-control" placeholder="" formControlName="type_id">
										<mat-option *ngFor="let type of types" [value]="type.id">
											{{ type.libelle }}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field class="col-xl-2">
									<mat-label>{{'CHANTIERS.CLIENT.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="client" formControlName="client" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-2">
									<mat-label>{{'CHANTIERS.CONTACT.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="contact" formControlName="contact" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-1">
									<mat-label>{{'CHANTIERS.BUDGET.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="number" name="montant" formControlName="montant" placeholder="Saisir ici" />
									<mat-icon matSuffix>euro_symbol</mat-icon>
								</mat-form-field>
							</div>
							<div class="row form-row">
								<mat-form-field class="col-xl-3">
									<mat-label>{{'CHANTIERS.ADRESS.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="adresse" formControlName="adresse" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-2">
									<mat-label>{{'COMMON.CITY.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="ville" formControlName="ville" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-1">
									<mat-label>{{'COMMON.POSTCODE.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="code_postal" formControlName="code_postal" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-1">
									<mat-label>{{'COMMON.COUNTRY.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" type="text" name="pays" formControlName="pays" placeholder="Saisir ici" />
								</mat-form-field>
								<mat-form-field class="col-xl-2">
									<mat-label>{{'CHANTIERS.DATE_DEMARRAGE.LABEL' | translate}}</mat-label>
									<input matInput class="form-control" [matDatepicker]="date_demarrage_picker" formControlName="date_demarrage" placeholder="DD/MM/YYYY">
									<mat-datepicker-toggle matSuffix [for]="date_demarrage_picker"></mat-datepicker-toggle>
									<mat-datepicker #date_demarrage_picker></mat-datepicker>
								</mat-form-field>
								<mat-form-field class="col-xl-2">
									<mat-label>{{'CHANTIERS.CHIEF.LABEL' | translate}}</mat-label>
									<!-- <ng-select ngSelectMat class="form-control mat-select" [items]="users" formControlName="charge_affaire_id" bindLabel="fullname"
										bindValue="id" [clearable]="false">
									</ng-select> -->
									<mat-select class="form-control" placeholder="" formControlName="charge_affaire_id">
										<mat-option *ngFor="let user of users" [value]="user.id">
											{{ user.fullname }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tf-portlet-body>
	</tf-portlet>
</ng-container>