<ng-container [formGroup]="chantierForm">
	<form [formGroup]="chantierForm" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate (ngSubmit)="submitForm(chantierForm.valid)" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
		<tf-portlet>
			<tf-portlet-body>
				<div class="tf-heading tf-heading--lg" style="margin-top: 0;">
					<div *ngIf="edit">
						{{'MENU.SUB_CHANTIER.EDIT' | translate}} n°{{chantierForm.get('numero').value+' - '+chantierForm.get('nom').value}}
						<mat-form-field class="pull-right" style="font-size: 1rem;">
							<mat-label>{{'CHANTIERS.STATUS.LABEL' | translate}}</mat-label>
							<mat-select class="form-control" placeholder="" formControlName="status_id" [required]="isFieldRequired('status_id')">
								<mat-option *ngFor="let statu of statusList" [ngStyle]="statu.color && {'color':statu.color}" [value]="statu.id">
									<span>
										{{ statu.libelle }}
									</span>
								</mat-option>
							</mat-select>
							<mat-error *ngIf="isControlHasError('status_id','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<span *ngIf="!edit">{{'CHANTIERS.FORM.CREATE' | translate}}</span>
				</div>
				<div>
					<div class="tf-wizard-v4__content" data-tfwizard-type="step-content" data-tfwizard-state="current">
						<div class="tf-form__section tf-form__section--first">
							<div class="tf-wizard-v4__form">
								<div class="row form-row">
									<mat-form-field class="col-xl-4">
										<mat-label>{{'CHANTIERS.NAME.LABEL' | translate}}</mat-label>
										<input class="form-control" matInput type="text" name="nom" formControlName="nom" placeholder="Saisir ici" [required]="isFieldRequired('nom')" />
										<mat-error *ngIf="isControlHasError('nom','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									<mat-form-field class="col-xl-3">
										<mat-label>{{'CHANTIERS.TYPE.LABEL' | translate}}</mat-label>
										<mat-select class="form-control" placeholder="" formControlName="type_id" [required]="isFieldRequired('type_id')">
											<mat-option *ngFor="let type of typesList" [value]="type.id">
												{{ type.libelle }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="isControlHasError('type_id','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									<mat-form-field class="col-xl-3">
										<mat-label>{{'CHANTIERS.DATE_DEMARRAGE.LABEL' | translate}}</mat-label>
										<input matInput class="form-control" [matDatepicker]="date_demarrage_picker" formControlName="date_demarrage" [required]="isFieldRequired('date_demarrage')" placeholder="DD/MM/YYYY">
										<mat-datepicker-toggle matSuffix [for]="date_demarrage_picker"></mat-datepicker-toggle>
										<mat-datepicker #date_demarrage_picker></mat-datepicker>
										<mat-error *ngIf="isControlHasError('date_demarrage','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									<mat-form-field class="col-xl-2">
										<mat-label>{{'CHANTIERS.BUDGET.LABEL' | translate}}</mat-label>
										<input matInput mask="separator.2" class="form-control" type="string" name="montant" formControlName="montant" [required]="isFieldRequired('montant')" placeholder="Saisir ici" />
										<mat-icon matSuffix>euro_symbol</mat-icon>
										<mat-error *ngIf="isControlHasError('montant','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="row form-row">
									<mat-form-field class="col-xl-3">
										<mat-label>{{'CHANTIERS.CHIEF.LABEL' | translate}}</mat-label>
										<!-- <ng-select ngSelectMat class="form-control mat-select" [items]="users" formControlName="charge_affaire_id" bindLabel="fullname"
										bindValue="id" [clearable]="false">
									</ng-select> -->
										<mat-select class="form-control" [required]="isFieldRequired('charge_affaire_id')" placeholder="" formControlName="charge_affaire_id">
											<mat-option *ngFor="let user of usersList" [value]="user.id">
												{{ user.fullname }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="isControlHasError('charge_affaire_id','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									<mat-form-field class="col-xl-3">
										<mat-label>{{'CHANTIERS.RESP_CHIFFRAGE.LABEL' | translate}}</mat-label>
										<mat-select class="form-control" [required]="isFieldRequired('resp_chiffrage_id')" placeholder="" formControlName="resp_chiffrage_id">
											<mat-option *ngFor="let user of usersList" [value]="user.id">
												{{ user.fullname }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="isControlHasError('resp_chiffrage_id','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									<mat-form-field class="col-xl-3">
										<mat-label>{{'CHANTIERS.CLIENT.LABEL' | translate}}</mat-label>
										<input matInput class="form-control" type="text" name="client" formControlName="client" [required]="isFieldRequired('client')" placeholder="Saisir ici" />
										<mat-error *ngIf="isControlHasError('client','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									<mat-form-field class="col-xl-3">
										<mat-label>{{'CHANTIERS.CONTACT.LABEL' | translate}}</mat-label>
										<input matInput class="form-control" type="text" name="contact" formControlName="contact" [required]="isFieldRequired('contact')" placeholder="Saisir ici" />
										<mat-error *ngIf="isControlHasError('contact','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="row form-row">
									<mat-form-field class="col-xl-4">
										<mat-label>{{'CHANTIERS.ADRESS.LABEL' | translate}}</mat-label>
										<input matInput class="form-control" type="text" name="adresse" formControlName="adresse" [required]="isFieldRequired('adresse')" placeholder="Saisir ici" />
										<mat-error *ngIf="isControlHasError('adresse','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									<mat-form-field class="col-xl-3">
										<mat-label>{{'COMMON.CITY.LABEL' | translate}}</mat-label>
										<input matInput class="form-control" type="text" name="ville" formControlName="ville" [required]="isFieldRequired('ville')" placeholder="Saisir ici" />
										<mat-error *ngIf="isControlHasError('ville','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									<mat-form-field class="col-xl-1">
										<mat-label>{{'COMMON.POSTCODE.LABEL' | translate}}</mat-label>
										<input matInput class="form-control" type="text" name="code_postal" formControlName="code_postal" [required]="isFieldRequired('code_postal')" placeholder="Saisir ici" />
										<mat-error *ngIf="isControlHasError('code_postal','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
									<mat-form-field class="col-xl-2">
										<mat-label>{{'COMMON.COUNTRY.LABEL' | translate}}</mat-label>
										<input matInput class="form-control" type="text" name="pays" formControlName="pays" [required]="isFieldRequired('pays')" placeholder="Saisir ici" />
										<mat-error *ngIf="isControlHasError('pays','required')">
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tf-portlet-body>
		</tf-portlet>
		<tf-portlet>
			<tf-portlet-body>
				<div formArrayName="entreprises" class="row">
					<div class="col-12">
						<h5 class="mb-4">Entreprises externes
							<button mat-button type="button" color="info" class="pull-right btn-small" (click)="addEntExt()">
								<mat-icon>add</mat-icon>
								Ajouter
								
							</button>
						</h5>
					</div>
					<div class="col-12 my-2" *ngFor="let ent of entreprises.controls; let entIndex = index;">
						<div [formGroupName]="entIndex" class="row">
							<mat-form-field class="col-xl-2">
								<mat-label>{{'EES.TYPE.LABEL' | translate}}</mat-label>
								<mat-select class="form-control" formControlName="type_code" [required]="isEEFieldRequired('type_code', entIndex)">
									<mat-option *ngFor="let type of entrepriseTypesList" [value]="type.code">
										{{ type.libelle }}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="isControlHasError('type_code','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field> 
							<mat-form-field class="col-xl-3" *ngIf="entHasCode(entIndex)">
								<mat-label>{{'EES.RAISON_SOCIALE.LABEL' | translate}}</mat-label>
								<mat-select class="form-control" formControlName="entreprise_id" [required]="isEEFieldRequired('entreprise_id', entIndex)">
									<mat-option *ngFor="let entreprise of entreprisesList[entHasCode(entIndex)]" [value]="entreprise.id">
										{{ entreprise.raison_sociale }}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="isControlHasError('entreprise_id','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-3" *ngIf="entHasCode(entIndex)">
								<mat-label>{{'EES.CA.LABEL' | translate}}</mat-label>
								<input matInput mask="separator.2" class="form-control" type="string" name="chiffre_affaire" formControlName="chiffre_affaire" [required]="isEEFieldRequired('chiffre_affaire', entIndex)" placeholder="Saisir ici" />
								<mat-icon matSuffix>euro_symbol</mat-icon>
								<mat-error *ngIf="isControlHasError('chiffre_affaire','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="col-xl-3" *ngIf="entHasCode(entIndex)">
								<mat-label>{{'EES.DATE_DEMARRAGE.LABEL' | translate}}</mat-label>
								<input matInput class="form-control" [matDatepicker]="ee_date_picker" formControlName="date_demarrage" [required]="isEEFieldRequired('date_demarrage', entIndex)" placeholder="DD/MM/YYYY">
								<mat-datepicker-toggle matSuffix [for]="ee_date_picker"></mat-datepicker-toggle>
								<mat-datepicker #ee_date_picker></mat-datepicker>
								<mat-error *ngIf="isControlHasError('date_demarrage','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-form-field>
							<div class="col-xl-1 col-actions">
								<button mat-icon-button type="button" (click)="removeEe(entIndex)" class="btn-small" color="warn"><mat-icon>clear</mat-icon></button>
							</div>
						</div>
					</div>
				</div>
			</tf-portlet-body>
		</tf-portlet>
		<tf-portlet>
			<tf-portlet-body>
				<div class="row">
					<div class="col-12">
						<h5 class="mb-4">Habilitations obligatoires pour accéder au chantier</h5>
					</div>
					<div class="col-12">
						<div class="row my-3 form-row">
							<div class="col-md-12">
								<mat-checkbox (change)="onNoHabCheckChange($event)" formControlName="no_hab_required">Pas d'habilitation Nécessaire</mat-checkbox>
							</div>
						</div>
						<div class="row my-3" *ngFor="let catHab of catHabsList">
							<div class="col-12">
								<h6>{{catHab.libelle}}</h6>
							</div>
							<div class="col-12">
								<div class="row form-row">
									<div class="col-md-3" *ngFor="let hab of catHab.habilitations">
										<mat-checkbox [value]="hab.id"  (change)="onHabCheckChange($event)" [disabled]="chantierForm.get('habilitations').disabled" [checked]="onHabIsChecked(hab.id)">{{hab.libelle}}</mat-checkbox>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tf-portlet-body>
		</tf-portlet>
		<div>
			<button mat-raised-button [disabled]="chantierForm.invalid" color="success" class="pull-right">
				{{'ACTION.SAVE' | translate}}
			</button>
			<button type="button" mat-raised-button color="info" (click)="cancelForm()">
				Cancel
			</button>
		</div>
	</form>
</ng-container>
