<!--begin: Search -->
<div class="tf-header__topbar-item tf-header__topbar-item--search">
	<div class="tf-header__topbar-wrapper">
		<div class="tf-header-toolbar">
			<div ngbDropdown placement="bottom" autoClose="outside" [ngClass]="{'tf-quick-search--has-result': data?.length}" class="tf-quick-search tf-quick-search--inline tf-quick-search--result-compact" id="tf_quick_search_default">
				<form method="get" class="tf-quick-search__form">
					<div ngbDropdownToggle class="input-group" [ngClass]="{'tf-spinner tf-spinner--input tf-spinner--sm tf-spinner--brand tf-spinner--right': loading}">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i *ngIf="!useSVG" [ngClass]="icon"></i>
								<span class="tf-svg-icon" *ngIf="useSVG" [inlineSVG]="icon"></span>
							</span>
						</div>
						<input #searchInput (keyup)="search($event)" type="text" class="form-control tf-quick-search__input" placeholder="Search..." />
						<div class="input-group-append">
							<span class="input-group-text"><i (click)="clear($event)" [ngStyle]="{'display': 'flex'}" [hidden]="!data || !data?.length" class="la la-close tf-quick-search__close"></i></span>
						</div>
					</div>
				</form>
				<div ngbDropdownMenu *ngIf="data?.length" class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">
					<div [perfectScrollbar]="{wheelPropagation: false}" [ngStyle]="{'max-height': '40vh', 'position': 'relative'}" class="tf-quick-search__wrapper">
						<tf-search-result [data]="data"></tf-search-result>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end: Search -->
