<tf-search-list-bar [(ngModel)]="filter" (change)="getActionsDash()" [hasAdvancedSearch]="true" [showFilters]="showFilters" (advancedSearchChange)="advancedSearchChanged($event)" class="row row-filters"></tf-search-list-bar>
<tf-action-filters [hidden]="!showFilters" (change)="udpateFilters($event)" class="row"></tf-action-filters>
<div class="row px-2">
	<div class="col-3">
		<tf-widget-indicator [value]="stats.retard_percent | customPercent" [valueClass]="getClass('down', stats.retard_percent)" [desc]="'Pourcentage de retard'" *ngIf="stats; else loading"></tf-widget-indicator>
	</div>
	<div class="col-3">
		<tf-widget-indicator [value]="stats.to_attribute" [desc]="'Actions à attribuer'"  *ngIf="stats; else loading"></tf-widget-indicator>
	</div>
	<div class="col-3">
		<tf-widget-indicator [value]="stats.finished_percent | customPercent" [valueClass]="getClass('up', stats.finished_percent)" [desc]="'Pourcentage de finission'" *ngIf="stats; else loading"></tf-widget-indicator>
	</div>
	<div class="col-3">
		<tf-widget-indicator [value]="stats.success_percent | customPercent" [valueClass]="getClass('up', stats.success_percent)" [desc]="'Pourcentage de réussite'" *ngIf="stats; else loading"></tf-widget-indicator>
	</div>
	<div class="col-6">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #pieType></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
	<div class="col-6">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #pieStatus></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
	<div class="col-12">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #evolAll></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
</div>

<ng-template #loading>
	<tf-widget-indicator [value]="null" [desc]="null"></tf-widget-indicator>
</ng-template>