<tf-search-list-bar [(ngModel)]="filter" (change)="getActionsDash()" [hasAdvancedSearch]="true" [showFilters]="showFilters" (advancedSearchChange)="advancedSearchChanged($event)" class="row row-filters"></tf-search-list-bar>
<tf-action-filters [hidden]="!showFilters" (change)="udpateFilters($event)" class="row"></tf-action-filters>
<div class="row px-2">
	<div class="col-6">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #pieType></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
	<div class="col-6">
		<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
			<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;">
				<div echarts class="demo-chart" #pieStatus></div>
			</tf-portlet-body>
		</tf-portlet>
	</div>
</div>