.mat-table {
    min-width: auto !important;
    width: 100% !important;    
    tr.mat-header-row{
        height: auto;
        min-height: 30px;
    }
    td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
        padding: 0 12px;
    }
    td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
        padding-left:12px;
    }
    td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
        padding-right:12px;
    }
    th.mat-header-cell{
        vertical-align: bottom;
    }

    
}

.th-order {
    cursor: pointer;
    position: relative;
    i.fa{
        opacity: 0;
        padding-left: 0.5em;
        position: absolute;
        right: 0;
        bottom: 2.5px;
    }

    &:hover {
        i.fa{
            opacity: 0.5;
        }
    }
}
.mat-cell.pointer{
    cursor: pointer;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
    &:hover{
        background: #EEE !important ;
    }
}