.mat-table {
    min-width: auto !important;
    width: 100% !important;    
}

.th-order {
    cursor: pointer;
    i.fa{
        opacity: 0;
        padding-left: 0.5em;
    }

    &:hover {
        i.fa{
            opacity: 0.5;
        }
    }
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}