.ng-select.ng-select-single{ 
    .ng-select-container{
        min-height: auto;
        .ng-clear-wrapper{
            bottom: -1px;
        }
        .ng-value-container, 
        .ng-value-container .ng-value {    
            min-height: auto;
            padding: 0;
            border-top-width: 0;
        } 
        .ng-value-container .ng-input{
            top: -1px;
        }
        
        .ng-arrow-wrapper{
            bottom: 3px;
        }
    }
    .ng-dropdown-panel.ng-select-bottom{
        top: calc(100% - 2px);
    }

}
.ng-select .ng-select-container:after{
    content: none;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 0;
    font-size: 1.1em;
}
*::placeholder{
    font-style: italic;
    opacity: 1;
}
.mat-radio-box{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    .mat-radio-container{
        width: 15px !important;
        height: 15px !important;
        .mat-radio-outer-circle, .mat-radio-inner-circle{
            width: 15px !important;
            height: 15px !important;
        }
        .mat-radio-ripple{
            border-radius: 50%;
            left: calc(50% - 15px) !important;
            top: calc(50% - 15px) !important;
            height: 30px !important;
            width: 30px !important;
        }
    }
}
.row.form-row{
    margin-bottom: 1em;
}
.tf-card-form{
    background: white;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .tf-heading{
        margin-top:0;
    }
}
.mat-select.form-control{
	border: none;
    padding-left: 0;
    font-size: 1em;
}
.mat-input-element{
    font-size: 1em;
}
.mat-expansion-panel{
    border: none;
    background-color: transparent;
    box-shadow: none!important;
    .mat-expansion-panel-header{
        padding: 0 10px 0 0;
        &:hover{
            background: none!important;
        }
    }
    .mat-expansion-panel-body{
        padding: 0;
    }
}
.textarea-viewer{
    border: 1px solid #80808017;
    border-radius: 0.4em;
    padding: 1em!important;
}
.signature-container{
    border: 1px solid #e2e5ec;
    text-align: center;
}