.mat-tooltip-panel {
  .mat-tooltip.custom-tooltip{
    color:black;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  }
}

.popover {
  max-width: 350px !important;
  min-width: 180px;
}