//
// Custom Example 1 Style
// Here you can put your custom sass code, use global SASS mixings and variables to override the theme or add new styles according to your requirements.
// Most of the changes can be achieved via global or layout level sass variable changes.
//


.ng-select.ng-select-single .ng-select-container{
    min-height: auto;

    .ng-value-container, 
    .ng-value-container .ng-value {    
        min-height: auto;
        padding: 0;
        border-top-width: 0.3em;
    } 
    .ng-select-container .ng-arrow-wrapper{
        bottom: 30px;
    }


}
.ng-select .ng-select-container:after{
    content: none;
}

@include tf-tablet-and-mobile {
    .my-custom-style {
        padding: 0.5rem 0.25rem;

        .my-custom-element {
            margin-left: 0.5rem;
        }
    }
}
