<div ngbDropdown placement="bottom" class="tf-header__topbar-item tf-header__topbar-item--langs">
	<div ngbDropdownToggle class="tf-header__topbar-wrapper">
		<span class="tf-header__topbar-icon"
			[ngClass]="{ 'tf-header__topbar-icon--brand' : iconType === 'brand' }">
			<img class="" src="{{language?.flag}}" alt=""/>
		</span>
	</div>
	<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
		<ul class="tf-nav tf-margin-t-10 tf-margin-b-10">
			<ng-container *ngFor="let language of languages">
				<li class="tf-nav__item" [ngClass]="{'tf-nav__item--active': language.active}">
					<a href="javascript:;" (click)="setLanguage(language.lang)" [ngClass]="{'tf-nav__link--active': language.active}" class="tf-nav__link">
						<span class="tf-nav__link-icon">
							<img src="{{language.flag}}">
						</span>
						<span class="tf-nav__link-text">{{language.name}}</span>
					</a>
				</li>
			</ng-container>
		</ul>
	</div>
</div>
