<div class="tf-grid tf-grid--hor tf-grid--root tf-login tf-login--v1" id="tf_login">
	<div class="tf-grid__item tf-grid__item--fluid tf-grid tf-grid--desktop tf-grid--ver-desktop tf-grid--hor-tablet-and-mobile tf-logo__container"  >
		<!--Aside-->
		<div class="tf-grid__item tf-grid__item--order-tablet-and-mobile-2 tf-grid tf-grid--hor tf-login__aside tf-quizz__aside"></div>
		<!--Aside-->

		<!--Content-->
		<div class="tf-grid__item tf-grid__item--fluid  tf-grid__item--order-tablet-and-mobile-1 tf-quizz__wrapper">
			<router-outlet></router-outlet>
		</div>
		<!--Content-->
	</div>
</div>
