//
// Navigation
//



// Base
.tf-nav {
	$tf-nav-padding-x: 1.75rem;
	$tf-nav-padding-y: 0.55rem;

	display: block;
	padding: 1rem 0;
	margin: 0;
	list-style: none;
	border: 0; 
	
	// Item
	.tf-nav__item {
		display: block;

		> .tf-nav__link {
			display: flex;
			flex-grow: 1;
			align-items: center;
			padding: $tf-nav-padding-y $tf-nav-padding-x;
			cursor: pointer;
			@include tf-transition(); // menu item link's text part

			&:disabled {
				cursor:default;
			}
			.tf-nav__link-text {
				flex-grow: 1;
				font-size: 1rem;
				color: tf-base-color(label, 3);
				font-weight: 400;
			} 
			&:enabled{
				color: tf-base-color(label, 3);
			}
			
			// menu item link's icon
			.tf-nav__link-icon {
				flex: 0 0 30px;
				font-size: 1.25rem;
				line-height: 0;
				color: tf-base-color(label, 1);

				&:before {
					line-height: 0;
				}

				&.tf-nav__link-icon--center {
					text-align: center;
					margin-right: 0.25rem;
				}

				// Svg icon
				@include tf-svg-icon-color(tf-base-color(label, 1));
			} 
			
			// menu item link's bullet
			.tf-nav__link-bullet {
				text-align: center;
				flex: 0 0 10px;
				margin-right: 10px;

				> span {
					vertical-align: middle;
					display: inline-block;
				}

				&.tf-nav__link-bullet--dot {
					> span {
						width: 4px;
						height: 4px;
						border-radius: 100%;
					}
				}

				&.tf-nav__link-bullet--line {
					> span {
						width: 8px;
						height: 2px;
						border-radius: 2px;
					}
				}

				&.tf-nav__link-bullet--line,
				&.tf-nav__link-bullet--dot {
					> span {
						background-color: tf-base-color(label, 1);
					}
				}
			} 
			
			// menu item link's icon part
			.tf-nav__link-badge {
				padding: 0px 0px 0px 5px;
			} 
			
			// menu item link's arrow part
			.tf-nav__link-arrow {
				text-align: right;
				flex: 0 0 20px;
				font-size: 0.8rem;
				color: tf-base-color(label, 1);
				@include tf-la-icon( tf-get($tf-action-icons, down));
				&:before {
					display: inline-block;
					transition: all 0.3s ease;
				}
			}

			&.collapsed {
				.tf-nav__link-arrow {
					@include tf-la-icon( tf-get($tf-action-icons, right));
					&:before {
						transition: all 0.3s ease;
					}
				}
			}
		}

		>.tf-nav__sub {
			padding: 0;
			margin: 0;

			.tf-nav__item {
				>.tf-nav__link {
					padding: 0.5rem 1.5rem 0.5rem 2.5rem;
				}
			}
		}

		&.tf-nav__item--last {
			padding-bottom: 0;
		}
		
		// Hover & active state
		&.tf-nav__item--active:enabled,
		&.active:enabled,
		&:hover:not(.tf-nav__item--disabled):not(.tf-nav__item--sub) {
			>.tf-nav__link {
				background-color: tf-base-color(grey, 1);

				@include tf-transition();
				
				.tf-nav__link-icon,
				.tf-nav__link-text,
				.tf-nav__link-arrow {
					color: tf-state-color(brand, base);
				}

				.tf-nav__link-icon {
					@include tf-svg-icon-color(tf-state-color(brand, base));
				}
				
				.tf-nav__link-bullet {
					&.tf-nav__link-bullet--line,
					&.tf-nav__link-bullet--dot {
						>span {
							background-color: tf-state-color(brand, base);
						}
					}
				}
			}
		} 
		
		// Hover state
		&:hover:not(.tf-nav__item--disabled).tf-nav__item--sub {
			>.tf-nav__link.collapsed {
				background-color: tf-base-color(grey, 1);

				@include tf-transition();
				
				.tf-nav__link-icon,
				.tf-nav__link-text,
				.tf-nav__link-arrow {
					color: tf-state-color(brand, base);
				}

				
				
				.tf-nav__link-bullet {
					&.tf-nav__link-bullet--line,
					&.tf-nav__link-bullet--dot {
						>span {
							background-color: tf-state-color(brand, base);
						}
					}
				}
			}
		} 
		
		// Disabled state
		&.tf-nav__item--disabled {
			opacity: 0.6;
		}
	} 

	// Custom
	.tf-nav__custom {
		padding:  $tf-nav-padding-y $tf-nav-padding-x;
	} 
	
	// Section
	.tf-nav__section {
		margin-top: 1rem;
		padding: 0 $tf-nav-padding-x;

		.tf-nav__section-icon {
			color: tf-base-color(label, 1);
		}
		
		&.tf-nav__section--first {
			margin-top: 0.5rem;
		}
		
		.tf-nav__section-text {
			color: tf-state-color(brand, base);
			font-weight: 600;
			font-size: 0.9rem;
			text-transform: uppercase;
		}
	} 
	
	// Separator
	.tf-nav__separator {
		margin: ($tf-nav-padding-y + 0.15rem) 0;
		height: 0;
		display: block;
		border-bottom: 1px solid tf-base-color(grey, 2);

		&.tf-nav__separator--dashed {
			border-bottom: 1px dashed tf-base-color(grey, 2);
		}
	}
	
	// Space
	.tf-nav__space {
		height: 0;
		margin: 0.5rem 0;

		&.tf-nav__space--sm {
			margin: 0.25rem 0;
		}

		&.tf-nav__space--lg {
			margin: 0.75rem 0;
		}

		&.tf-nav__space--xl {
			margin: 1rem 0;
		}
	}
	
	// Head & Foot
	.tf-nav__head,
	.tf-nav__foot {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1rem;
		color: tf-base-color(label, 3);
		font-weight: 500;
		padding: $tf-nav-padding-y $tf-nav-padding-x;

		> i {
			font-size: 1.2rem;
			color: tf-base-color(label, 2);
		}
	}

	.tf-nav__head {
		font-size: 1.1rem;
	}
	
	// Fit
	&.tf-nav--fit {
		padding: 0;
		.tf-nav__item {
			>.tf-nav__link {
				padding-left: 0;
				padding-right: 0;
			}
		}
	} 
	
	// Margins sizing
	&.tf-nav--lg-space {
		.tf-nav__item {
			margin: 0.35rem 0;

			.tf-nav__link {
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
			}
			
			&:first-child {
				margin-top: 0;
			}
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.tf-nav--md-space {
		.tf-nav__item {
			margin: 0.25rem 0;
			
			.tf-nav__link {
				padding-top: 0.75rem;
				padding-bottom: 0.75rem;
			}
			
			&:first-child {
				margin-top: 0;
			}
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	} 
	
	// font weight
	&.tf-nav--bold {
		.tf-nav__item {
			.tf-nav__link {
				.tf-nav__link-text {
					font-weight: 500;
				}
			}
		}
	}

	&.tf-nav--thin {
		.tf-nav__item {
			.tf-nav__link {
				.tf-nav__link-text {
					font-weight: 300;
				}
			}
		}
	} 
	
	// font sizing
	&.tf-nav--lg-font {
		.tf-nav__item {
			.tf-nav__link {
				.tf-nav__link-text {
					font-size: 1.15rem;
				}
			}
		}
	}

	&.tf-nav--xl-font {
		.tf-nav__item {
			.tf-nav__link {
				.tf-nav__link-text {
					font-size: 1.25rem;
				}
			}
		}
	}
} 

// Version 2
.tf-nav {
	&.tf-nav--v2 {
		.tf-nav__item {
			border-radius: 2rem;
			overflow: hidden;

			>.tf-nav__link {
				transition: none;
			} 
			
			// Hover state
			&:hover:not(.tf-nav__item--disabled):not(.tf-nav__item--sub):not(.tf-nav__item--active) {
				>.tf-nav__link {
					background-color: #f4f4f9;
					transition: none;

					.tf-nav__link-icon,
					.tf-nav__link-text,
					.tf-nav__link-arrow {
						color: tf-state-color(brand, base);
					}
					
					.tf-nav__link-bullet {
						&.tf-nav__link-bullet--line,
						&.tf-nav__link-bullet--dot {
							>span {
								background-color: #f4f4f9;
							}
						}
					}
				}
			} 
			
			// Active state
			&.tf-nav__item--active {
				>.tf-nav__link {
					background-color: tf-state-color(brand, base);
					transition: none;

					.tf-nav__link-icon,
					.tf-nav__link-text,
					.tf-nav__link-arrow {
						color: tf-state-color(brand, inverse);
					}
					
					.tf-nav__link-bullet {
						&.tf-nav__link-bullet--line,
						&.tf-nav__link-bullet--dot {
							>span {
								background-color: tf-state-color(brand, inverse);
							}
						}
					}
				}
				&:hover {
					>.tf-nav__link {
						background-color: tf-state-color(brand, base);

						.tf-nav__link-icon,
						.tf-nav__link-text,
						.tf-nav__link-arrow {
							color: tf-state-color(brand, inverse);
						}
						
						.tf-nav__link-bullet {
							&.tf-nav__link-bullet--line,
							&.tf-nav__link-bullet--dot {
								>span {
									background-color: tf-state-color(brand, inverse);
								}
							}
						}
					}
				}
			}
		}
	}
} 

// Version 3
.tf-nav {
	&.tf-nav--v3 {
		.tf-nav__item {
			margin: 0;

			.tf-nav__link {
				@include tf-transition();
				padding-top: 1rem;
				padding-bottom: 1rem;
				border-left: 2px solid transparent;
			}

			&.active,
			&.tf-nav__link--active {
				.tf-nav__link {
					@include tf-transition();
					background-color: tf-base-color(grey, 1);
					border-left: 2px solid tf-state-color(brand);
					
					.tf-nav__link-text {
						color: tf-state-color(brand);
					}
				}
			}
				
			&:hover {
				@include tf-transition();
				background-color: tf-base-color(grey, 1);

				.tf-nav__link {
				   .tf-nav__link-text {
						color: tf-state-color(brand);
					}
				}
			}
		}
	}
}

// Version 4
.tf-nav {
	&.tf-nav--v4 {
		
		.tf-nav__item{
			padding: 0.65rem 0;

			.tf-nav__link{
				background-color: transparent;
				margin-left:3px;
				color: #9492a1;
				font-size: 1.2rem;
				padding: 0 1.1rem;

				.tf-nav__link-text{
					color: #9492a1;
					font-size: 1.2rem;
				}
			}

			&.active{

				.tf-nav__link{
					border-left: 3px solid tf-state-color(brand);  
					color: tf-base-color(label, 4); 
					margin-left:0; 	

					.tf-nav__link-text{
						color: tf-base-color(label, 4);						  
					}
				}				
			}

			&:first-child{
				margin-top: -0.65rem;
			}

			&:hover {
				@include tf-transition();
				background-color: tf-base-color(grey, 1);

				.tf-nav__link {
				   .tf-nav__link-text {
						color: tf-state-color(brand);
					}
				}
			}
		}

		@each $name, $color in $tf-state-colors{

			&--#{$name}{

				.tf-nav__item{
					&.active{
						.tf-nav__link{
							border-left: 3px solid tf-state-color(#{$name}, base);  
						}
					}

					&:hover:not(.tf-nav__item--disabled):not(.tf-nav__item--sub):not(.tf-nav__item--active) {
						>.tf-nav__link{
							.tf-nav__link-text {
								color: tf-state-color(#{$name}, base);
							}
						}
					}
				}
			}
		}
	}
}