<ng-container *ngIf="flashinfoForm; else loading">
    <form [formGroup]="flashinfoForm" autocomplete="off" class="tf-form tf-form--group-seperator-dashed " novalidate (ngSubmit)="flashinfoForm.valid && onSubmit()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        
        <tf-flashinfo-form [flashinfoForm]="flashinfoForm" [formStatus]="formStatus" [edit]="true" ></tf-flashinfo-form>
        <div>
            <button mat-raised-button [ngClass]="{'tf-btn-loading tf-spinner tf-spinner--sm tf-spinner--right tf-spinner--md tf-spinner--light': formloading}" [disabled]="formloading || flashinfoForm.invalid" color="success" class="pull-right">
                {{'ACTION.SAVE' | translate}}
            </button>
            <button type="button" mat-raised-button color="info" (click)="onCancel()">
                {{'ACTION.CANCEL' | translate}}
            </button>
        </div>
    </form>
</ng-container>
<ng-template #loading>
	<tf-widget-indicator [value]="null" [desc]="null"></tf-widget-indicator>
</ng-template>