//
// Mixins
//



@mixin tf-spinner-size($size) {
	&:before {
		width: tf-get($tf-spinner-config, size, $size);
  		height: tf-get($tf-spinner-config, size, $size);
  		margin-top: -(tf-get($tf-spinner-config, size, $size)/2);
  	}

	&.tf-spinner--center {
		&:before {
			left: 50%;
  			margin-left: -(tf-get($tf-spinner-config, size, $size)/2);
		}
	}

	&.tf-spinner--left {
		&:before {
			left: 0;
			right: auto;
		}
	}

	&.tf-spinner--right {
		&:before {
			left: auto;
			right: 0;
		}
	}
}

@mixin tf-spinner-skin($color) {
	&:before {
    	border: 2px solid $color;
		border-right: 2px solid transparent;
    }
}