<!-- <div class="row row-filters" style="height: 69px;">
  
</div> -->
<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-visite" *ngIf="visite">
  <div class="tf-portlet-header ">
    <span class="title">
      <a [routerLink]="['/visites/list']">{{'MENU.SUB_CHANTIER.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{visite.nom}}</span>
    </span>
    <div ngbDropdown placement="bottom-right" class="d-inline-block pull-right">
      <button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions">
        <mat-icon>more_vert</mat-icon>
        <!-- <i class="flaticon-more"></i> -->
      </button>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
        <!-- *ngxPermissionsOnly="['ADMIN']" -->
        <button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editVisite(visite.id)">
          <mat-icon>edit</mat-icon>
          <!-- <i class="flaticon-more"></i> -->
        </button>
        <button mat-icon-button color="accent" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteVisite(visite.id)">
          <mat-icon>delete</mat-icon>
          <!-- <i class="flaticon-more"></i> -->
        </button>
          
      </div>
    </div>
  </div>
  <tf-portlet-body class="tf-portlet__body--fit">
    <div class="row">
      
      
      <div class="col-md-4">
        <div class="card">
          <h3>{{'CHANTIERS.STATUS.TITLE' | translate}}</h3>
          <div class="box box-status">
            <mat-icon svgIcon="{{visite.status?.code == 'ENCOURS' ? 'status-encours':'status-termine'}}" style="width:100px;height:100px"></mat-icon>
            <h2>{{visite.status?.libelle}}</h2>
          </div>
          <div class="tf-divider">
						<span></span>
          </div>
          <div class="box box-coords">
            <h5><b>Coordonnées</b> visite</h5>
            <p><span class="label pull-left mr-2">{{'CHANTIERS.NAME.SHORTTITLE' | translate}}</span><span class="">{{visite.nom}}</span></p>
            <p><span class="label pull-left mr-2">{{'CHANTIERS.ADRESS.SHORTTITLE' | translate}}</span><span class="">{{visite.adresse}}</span></p>
            <p><span class="label pull-left mr-2">{{'COMMON.CITY.SHORTTITLE' | translate}}</span><span class="">{{visite.ville}}</span></p>
            <p><span class="label pull-left mr-2">{{'COMMON.POSTCODE.SHORTTITLE' | translate}}</span><span class="">{{visite.code_postal}}</span></p>
            <p><span class="label pull-left mr-2">{{'COMMON.COUNTRY.SHORTTITLE' | translate}}</span><span class="">{{visite.pays}}</span></p>
          </div>
          <div class="tf-divider">
            <span></span>
          </div>
          <div class="box text-center">
            <small>{{'COMMON.UPDATED_AT.TITLE' | translate}} : {{visite.updated_at | date:'dd/MM/yyyy'}}</small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <h3>Information CVTI</h3>
          <div class="box">
            <p><span class="label pull-left">{{'CHANTIERS.DATE_DEMARRAGE.TITLE' | translate}}</span><br>{{visite.date_demarrage | date:'dd/MM/yyyy'}}</p>
            <p><span class="label pull-left">{{'ARS.REALISATEUR.TITLE' | translate}}</span><br>{{visite.latest_ar?.realisateur}}</p>
          </div>
          <div class="box">
            <h5><b>En cas</b> d'urgence</h5>
            <p><span class="label pull-left mr-2">{{'ARS.NUM_SECOURS.SHORTTITLE' | translate}}</span><br><span class="blue">{{visite.latest_ar?.num_secours}}</span></p>
            <p><span class="label pull-left mr-2">{{'ARS.CONTACT_INTERNE_SECOURS.SHORTTITLE' | translate}}</span><br><span class="blue">{{visite.latest_ar?.contact_interne_secours}}</span></p>
            <p><span class="label pull-left mr-2">{{'ARS.TEL_CONTACT_INTERNE_SECOURS.SHORTTITLE' | translate}}</span><br><span class="blue">{{visite.latest_ar?.tel_contact_interne_secours}}</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <h3>Information générale</h3>
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <h5><b>{{'CHANTIERS.CLIENT.TITLE' | translate}}</b></h5>
                <p><span class="label pull-left mr-2">{{'CHANTIERS.CLIENT.SHORTTITLE' | translate}}</span><span class="">{{visite.client}}</span></p>
              </div>
              <div class="col-md-6">
                <h5><b>{{'CHANTIERS.CHIEF.TITLE' | translate}}</b></h5>
                <p><span class="label pull-left mr-2">{{'CHANTIERS.CHIEF.SHORTTITLE' | translate}}</span><span class="">{{visite.charge_affaire | fullName}}</span></p>
              </div>
            </div>
          </div>
          <div class="box">  
            <div class="row">
              <div class="col-md-6">
                <h5><b>{{'CHANTIERS.BUDGET.TITLE' | translate}}</b></h5>
                <p><span class="label pull-left mr-2">{{'CHANTIERS.BUDGET.SHORTTITLE' | translate}}</span><span class="">{{visite.montant | currency:'EUR':'€'}}</span></p>
              </div>
              <div class="col-md-6">
                <h5><b>{{'CHANTIERS.TYPE.TITLE' | translate}}</b></h5>
                <p><span class="label pull-left mr-2">{{'CHANTIERS.TYPE.SHORTTITLE' | translate}}</span><span class="">{{visite.type?.libelle}}</span></p>
              </div>
            </div>
          </div>
          
          <div class="tf-divider h-5">
            <span></span>
          </div>
          <div class="box box-ar-vs">
            <h5><b>Suivis analyses de risques</b><span class="pull-right">{{'CHANTIERS.ARCOUNT.SHORTTITLE' | translate}} : <span class="blue">{{visite.ars.length}}</span></span></h5>
            <div class="row">
              <div class="col-md-6"><p><span class="label pull-left mr-2">{{'CHANTIERS.NEXTAR.TITLE' | translate}}</span></p></div>
              <div class="col-md-6"><p  class="text-right blue">{{visite.latest_ar?.date_validite | date:'dd/MM/yyyy'}}</p></div>
            </div>
            <div class="row">
              <div class="col-md-6"><p><span class="label pull-left mr-2">{{'CHANTIERS.ARS.TITLE' | translate}}</span></p></div>
              <div class="col-md-6"><p class="text-right" *ngFor="let ar of visite.ars">{{ar.date | date:'dd/MM/yyyy'}}</p></div>
            </div>
          </div>
          <div class="box box-ar-vs">
            <h5><b>Suivis visites de sécurité</b><span class="pull-right">{{'CHANTIERS.VSCOUNT.SHORTTITLE' | translate}} : <span class="blue">{{visite.vss.length}}</span></span></h5>
            <div class="row">
              <div class="col-md-6"><p><span class="label pull-left mr-2">{{'CHANTIERS.NEXTVS.TITLE' | translate}}</span></p></div>
              <div class="col-md-6"><p  class="text-right blue">{{visite.latest_vs?.date_validite | date:'dd/MM/yyyy'}}</p></div>
            </div>
            <div class="row">
              <div class="col-md-6"><p><span class="label pull-left mr-2">{{'CHANTIERS.VSS.TITLE' | translate}}</span></p></div>
              <div class="col-md-6"><p class="text-right" *ngFor="let vs of visite.vss">{{vs.date_visite | date:'dd/MM/yyyy'}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tf-portlet-body>
</tf-portlet>