<!-- <div class="row row-filters" style="height: 69px;">
  
</div> -->
<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-visite" *ngIf="visite">
  <div class="tf-portlet-header ">
    <span class="title">
      <a [routerLink]="['/visites/list']">{{'MENU.SUB_VISITESECURITE.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{visite.code}}</span>
    </span>
    <div ngbDropdown placement="bottom-right" class="d-inline-block pull-right">
      <button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions">
        <mat-icon>more_vert</mat-icon>
        <!-- <i class="flaticon-more"></i> -->
      </button>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
        <!-- *ngxPermissionsOnly="['ADMIN']" -->
        <button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editVisite(visite.id)">
          <mat-icon>edit</mat-icon>
          <!-- <i class="flaticon-more"></i> -->
        </button>
        <button mat-icon-button color="accent" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteVisite(visite.id)">
          <mat-icon>delete</mat-icon>
          <!-- <i class="flaticon-more"></i> -->
        </button>
      </div>
    </div>
  </div>
  <tf-portlet-body class="tf-portlet__body--fit">
    <div class="row">
      <div class="col-12">
        <h5>Blabla</h5>
      </div>
    </div>
  </tf-portlet-body>
</tf-portlet>