<tf-search-list-bar [(ngModel)]="filter" (change)="getVisites()" [hasAdvancedSearch]="true" [showFilters]="showFilters" (advancedSearchChange)="advancedSearchChanged($event)" class="row row-filters"></tf-search-list-bar>
<tf-visite-outillage-filters [hidden]="!showFilters" (change)="udpateFilters($event)" class="row"></tf-visite-outillage-filters>

<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
	<tf-portlet-body class="tf-portlet__body--fit" style="padding: 15px;" *ngIf="visitesList">
    
    <table mat-table [dataSource]="visitesList.data">

      <!-- code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('code')">
          {{'VISITES.CODE.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('code') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('code') && {'opacity': 1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer"> {{visite.code}} </td>
      </ng-container>

      <!-- nom de outillage Column -->
      <ng-container matColumnDef="outillage">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder(['outillages.nom', 'visites_outillage.code'])">
          {{'OUTILLAGE.LABEL.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy(['outillages.nom', 'visites_outillage.code']) && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy(['outillages.nom', 'visites_outillage.code']) && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer"> {{visite.outillage_code | truncate:35}}</td>
      </ng-container>


      <!-- redacteur Column -->
      <ng-container matColumnDef="redacteur">
        <th mat-header-cell *matHeaderCellDef class=" th-order" (click)="setOrder(['redacteurs.nom', 'redacteurs.prenom'])"> 
          {{'VISITES.REDACTEUR.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy(['redacteurs.nom', 'redacteurs.prenom']) && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy(['redacteurs.nom', 'redacteurs.prenom']) && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer" > {{visite.redacteur?.fullname }} </td>
      </ng-container>

      <!-- visite Column -->
      <ng-container matColumnDef="visite">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('visited')">
          {{'OUTILLAGE.PROPRIETAIRE.TITLE' | translate}}
          <i class="fa" [ngClass]="isOrderedBy('visited') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('visited') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer" > 
          <span *ngIf="visite.visited.type != 'societe'; else societe_ee">{{visite.visited?.fullname}}</span>
          <ng-template #societe_ee>
            {{visite.visited}}
          </ng-template>

        </td>
      </ng-container>
      
      <!-- date_visite Column -->
      <ng-container matColumnDef="date_visite">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('visites_outillage.date_visite')"> 
          {{'VISITES.DATE_VISITE.SHORTTITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('visites_outillage.date_visite') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('visites_outillage.date_visite') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer text-center"> {{visite.date_visite | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('status.libelle')"> 
            {{'VISITES.STATUS.SHORTTITLE' | translate}} 
            <i class="fa" [ngClass]="isOrderedBy('status.libelle') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('status.libelle') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer text-center" [ngStyle]="visite.status && visite.status.color && {'color':visite.status.color}"> {{visite.status?.libelle}} </td>
      </ng-container>

      <!-- ko_solved Column -->
      <ng-container matColumnDef="ko_solved_count">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('ko_solved_count')"> 
          {{'VISITES.KO_SOLVED_COUNT.SHORTTITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('ko_solved_count') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('ko_solved_count') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer text-center"> {{visite.ko_solved_count}} </td>
      </ng-container>

      <!-- ko_unsolved Column -->
      <ng-container matColumnDef="ko_unsolved_count">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('ko_unsolved_count')"> 
          {{'VISITES.KO_UNSOLVED_COUNT.SHORTTITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('ko_unsolved_count') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('ko_unsolved_count') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let visite"  (click)="viewVisite(visite.id)" class="pointer text-center"> {{visite.ko_unsolved_count}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let visite" class="text-right"> 
          <button mat-icon-button color="primary" matTooltip="Actions" [matMenuTriggerFor]="actionMenu" (click)="visite_id = visite.id">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container> 
      <tr mat-header-row *matHeaderRowDef="displayedVisiteColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedVisiteColumns;"></tr>
    </table>
  
    <tf-pagination (change)="changePagination()" [(ngModel)]="pagination" ngDefaultControl></tf-pagination>
  
	</tf-portlet-body>
</tf-portlet>

<mat-menu #actionMenu="matMenu" class="action-menu">
  <!-- *ngxPermissionsOnly="['ADMIN']" -->
  <button mat-icon-button color="primary" matTooltip="{{'ACTION.READ' | translate}}" (click)="viewVisite(visite_id)">
    <mat-icon>visibility</mat-icon>
  </button>
  <!-- <button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editVisite(visite_id)">
    <mat-icon>edit</mat-icon>
  </button> -->
  <button mat-icon-button color="warn" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteVisite(visite_id)">
    <mat-icon>delete</mat-icon>
  </button>
</mat-menu>
