<h3 class="dash-title">
    {{'HOME.WELCOME.TITLE' | translate}}
</h3>

<!-- <div class="row mt-4">
    <div class="col-6">
        <tf-dash-materiel [extraParams]="getMaterielParams()"></tf-dash-materiel>
    </div>
    <div class="col-6">
        <tf-salarie-suivi [userId]="user.id"></tf-salarie-suivi>
    </div>
</div> -->
<div class="row mt-4">
    <div class="col-6">
        <tf-last-remontees></tf-last-remontees>
    </div>
    <div class="col-6">
        <tf-flash-infos-top></tf-flash-infos-top>
    </div>
</div>