:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
		.home-title{
			font-size: 1.2rem;
			color: #74788d;
			padding-bottom: 1rem;
			font-weight: 500;
			text-align: center;
		}
		
		.tf-portlet{
			// background-color: #f7f9fc;
			margin-bottom: 0px;
			
		}
		tf-home .tf-portlet{
			height: 100%
		}
	}
}
.dash-title{
	color: white;
}