<h3 class="dash-title">
    Bienvenue sur HSE
</h3>

<div class="row mt-4">
    <div class="col-4">
        <tf-last-remontees></tf-last-remontees>
    </div>
    <div class="col-4">
        <!-- <tf-portlet >
            <tf-portlet-header [title]="'Plan d\'actions'" [stats]="stats ? getHeaderStats() : ''"></tf-portlet-header>
            <tf-portlet-body [class]="'tf-portlet__body--fit'">
                <div class="row" >
                    <div class="col-12" style="padding:1em">
                        <div class="dash-title">Nombre d'actions par mois</div>
                        <div echarts class="demo-chart" #evolActions></div>
                    </div>
                </div>
            </tf-portlet-body>
        </tf-portlet> -->
    </div>
    <div class="col-4">
        <!-- <tf-portlet >
            <tf-portlet-header [title]="'Plan d\'actions'" [stats]="stats ? getHeaderStats() : ''"></tf-portlet-header>
            <tf-portlet-body [class]="'tf-portlet__body--fit'">
                <div class="row">
                    <div class="col-12" style="padding:1em">
                        <div class="dash-title">Nombre d'actions par mois</div>
                        <div echarts class="demo-chart" #evolActions></div>
                    </div>
                </div>
            </tf-portlet-body>
        </tf-portlet> -->
    </div>
</div>