
<tf-chantier-filters [(ngModel)]="filter" (change)="getArs()" class="row row-filters"></tf-chantier-filters>

<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
	<tf-portlet-body class="tf-portlet__body--fit" style="padding: 15px;" *ngIf="arsList">
    
    <table mat-table [dataSource]="arsList.data">

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('code')">
          {{'ARS.NUMBER' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('code') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('code') && {'opacity': 1}"></i>
        </th>
        <td mat-cell *matCellDef="let ar" class="pointer"> {{ar.code}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder(['chantiers.client', 'chantiers.nom'])"> 
          {{'CHANTIERS.CLIENT.TITLE' | translate}} - {{'CHANTIERS.NAME.TITLE' | translate}}
          <i class="fa" [ngClass]="isOrderedBy(['chantiers.client', 'chantiers.nom']) && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy(['chantiers.client', 'chantiers.nom']) && {'opacity': 1}"></i>
        </th>
        <td mat-cell *matCellDef="let ar" class="pointer"> {{ar.chantier.client}} - {{ar.chantier.nom}} </td>
      </ng-container>
      <!-- CA Column -->
      <ng-container matColumnDef="charge_affaire">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder(['users.nom', 'users.prenom'])"> 
          {{'CHANTIERS.CHIEF.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy(['users.nom', 'users.prenom']) && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy(['users.nom', 'users.prenom']) && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let ar" class="text-center pointer"> {{ar.chantier.charge_affaire | initiales}} </td>
      </ng-container>
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('status.libelle')"> 
          {{'ARS.STATUS' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('status.libelle') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('status.libelle') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let ar" class="text-center pointer" [ngStyle]="ar.status && ar.status.color && {'color':ar.status.color}"> {{ar.status?.libelle}} </td>
      </ng-container>
      <!-- Nbr Signatories Column -->
      <ng-container matColumnDef="sign_count" >
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'ARS.SIGNATAIRECOUNT' | translate}} </th>
        <td mat-cell *matCellDef="let ar" class="text-center pointer"> {{ar.signatures_count}} </td>
      </ng-container>
      <!-- Created at Column -->
      <ng-container matColumnDef="created_at" >
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('created_at')"> 
          {{'COMMON.CREATED_AT.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('created_at') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('created_at') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let ar" class="text-center pointer"> {{ar.created_at | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let ar"> 
          
          <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
              <!-- *ngxPermissionsOnly="['ADMIN']" -->
              <button mat-icon-button color="primary" matTooltip="{{'ACTION.READ' | translate}}" (click)="viewAr(ar.id)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editAr(ar.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="accent" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteAr(ar.id)">
                <mat-icon>delete</mat-icon>
              </button>
                
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedArColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedArColumns;"></tr>
    </table>
  
    <tf-pagination (change)="changePagination()" [(ngModel)]="pagination" ngDefaultControl></tf-pagination>
  
	</tf-portlet-body>
</tf-portlet>

