@import "../../../../../assets/sass/pages/quizz/quizz.scss";


.tf-quizz-home {
    &__head {
        color: #308677;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    &__icons {
        margin: 6rem 8rem;
        display: flex;
        justify-content: space-between;
        .mat-icon {
            width: 40px;
            height: 40px;
        }
    }
}

.tf-quizz {
	&__body {
	    align-items: center;
    }
}