<tf-portlet-body>
	<div class="row">
		<div class="col-md-12" *ngIf="origin=='detail'">
			<div class="tf-heading tf-heading--sm">
				<span>{{'ARS.HEAD.DETAIL.LABEL' | translate}}</span>
			</div>
		</div>
		<div class="col-md-12 search-box" *ngIf="origin!='detail'">
			<div class="mr-4">
				<b>{{'ARS.HEAD.SEARCH.LABEL' | translate}}</b>
			</div>
			<div class="search-layout ml-4">
				<div class="form-group form-group-sm row col" >
					<div class="input-group search-input-group">
						<div class="input-group-prepend">
							<span class="input-group-text search-icon-container">
								<mat-icon svgIcon="search"></mat-icon>
							</span>
						</div>
						<input #searchInput type="text" [formControl]="searchControl" class="form-control search-input" name="keyword" placeholder="{{'FILTER.SEARCH_CHANTIER' | translate}}" [matAutocomplete]="auto">
						<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
							<mat-option *ngFor="let chantier of filteredChantiers | async" [value]="chantier" (click)="initFilteredChantiers()" style="height: 2em;line-height: 2em;">
								{{chantier.nom}}
							</mat-option>
						</mat-autocomplete>
					</div>
					<button class="btn btn-brand btn-sm btn-search ml-4" (click)="searchForChantier()">
						{{'FILTER.LAUNCH' | translate}}
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-12 result-msg pb-3 my-3" *ngIf="chantier && origin!='detail'">
			<div>
				<span>{{'ARS.HEAD.NOTIF.CHANTIER_FOUND' | translate}}</span> 
			</div>
		</div>
		<div class="col-md-12 px-5 search-result-block" *ngIf="chantier">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-4 col-xs-6">
					<mat-label>{{'ARS.HEAD.NAME' | translate}}</mat-label>
					<p class="mt-1">
						<a (click)="goToChantier(chantier.id)" alt="Voir le chantier"><strong>{{chantier?.nom}}</strong></a>
					</p>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-xs-6">
					<mat-label>{{'ARS.HEAD.NUMBER' | translate}}</mat-label>
					<p class="mt-1"><strong>{{chantier?.numero}}</strong></p>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-xs-6">
					<mat-label>{{'CHANTIERS.CHIEF.LABEL' | translate}}</mat-label>
					<p class="mt-1"><strong>{{chantier?.charge_affaire?.fullname}}</strong></p>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-xs-6">
					<mat-label>{{'ARS.HEAD.BUDGET' | translate}}</mat-label>
					<p class="mt-1"><strong>{{chantier?.montant | currency:'EUR':'€'}}</strong></p>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-xs-6">
					<mat-label>{{'ARS.HEAD.DATE_DEMARRAGE' | translate}}</mat-label>
					<p class="mt-1"><strong>{{chantier?.date_demarrage | date:'dd/MM/yyyy'}}</strong></p>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-xs-6">
					<mat-label>{{'CHANTIERS.CLIENT.LABEL' | translate}}</mat-label>
					<p class="mt-1"><strong>{{chantier?.client}}</strong></p>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12">
					<mat-label>{{'ARS.HEAD.ADRESS' | translate}}</mat-label>
					<p class="mt-1"><strong>{{chantier?.adresse}}, {{chantier?.code_postal}} {{chantier?.ville}} {{chantier?.pays}}</strong></p>
				</div>
				<div class="col-xl-12 col-lg-12 col-md-12">
					<mat-label>{{'CHANTIERS.HABILITATIONS.TITLE' | translate}}</mat-label>
					<p class="mt-1">
						<strong *ngFor="let hab of chantier.habilitations; let last = last">
							{{hab.libelle}} <span *ngIf="!last" class="mx-2">|</span> 
						</strong>
					</p>
				</div>
			</div>
		</div>
	</div>
</tf-portlet-body>
