<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-chantier" *ngIf="chantier">
  <div class="tf-portlet-header ">
    <span class="title">
      <a [routerLink]="['/chantiers/list']">{{'MENU.SUB_CHANTIER.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{chantier.nom}}</span>
    </span>
    <div ngbDropdown placement="bottom-right" class="d-inline-block pull-right">
      <button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions" style="line-height: 0;height: 0;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
        <button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editChantier(chantier.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteChantier(chantier.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="status-box mx-4 px-2 d-inline-block pull-right" [ngStyle]="chantier.status && chantier.status.color && {'color':chantier.status.color}">
      <mat-icon svgIcon="{{chantier.status?.code == 'ENCOURS' ? 'status-encours':'status-termine'}}" class="status-icon mr-2"></mat-icon>
      {{chantier.status?.libelle}}
    </div>
  </div>
  <tf-portlet-body class="tf-portlet__body--fit">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <h3>Informations générales</h3>
          <div class="box">
            <p><span class="label pull-left mr-2">{{'CHANTIERS.NAME.SHORTTITLE' | translate}}</span><span class="">{{chantier.nom}}</span></p>
            <p><span class="label pull-left mr-2">{{'CHANTIERS.TYPE.SHORTTITLE' | translate}}</span><span class="">{{chantier.type?.libelle}}</span></p>
            <p><span class="label pull-left mr-2">{{'CHANTIERS.DATE_DEMARRAGE.TITLE' | translate}}</span><span class="">{{chantier.date_demarrage | date:'dd/MM/yyyy'}}</span></p>
            <p><span class="label pull-left mr-2">{{'CHANTIERS.CHIEF.TITLE' | translate}}</span><span class="">{{chantier.charge_affaire | fullName}}</span></p>
            <p><span class="label pull-left mr-2">{{'CHANTIERS.BUDGET.SHORTTITLE' | translate}}</span><span class="">{{chantier.montant | currency:'EUR':'€'}}</span></p>
          </div>
          <div class="tf-divider">
            <span></span>
          </div>
          <div class="box box-coords">
            <h5><b>Coordonnées chantier</b></h5>
            <p><span class="label pull-left mr-2">{{'CHANTIERS.CLIENT.SHORTTITLE' | translate}}</span><span class="">{{chantier.client}}</span></p>
            <p><span class="label pull-left mr-2">{{'CHANTIERS.ADRESS.SHORTTITLE' | translate}}</span><span class="">{{chantier.adresse}}</span></p>
            <p><span class="label pull-left mr-2">{{'COMMON.CITY.SHORTTITLE' | translate}}</span><span class="">{{chantier.ville}}</span></p>
            <p><span class="label pull-left mr-2">{{'COMMON.POSTCODE.SHORTTITLE' | translate}}</span><span class="">{{chantier.code_postal}}</span></p>
            <p><span class="label pull-left mr-2">{{'COMMON.COUNTRY.SHORTTITLE' | translate}}</span><span class="">{{chantier.pays}}</span></p>
          </div>
          <div class="tf-divider">
            <span></span>
          </div>
          <div class="box text-center">
            <small>{{'COMMON.CREATED_AT.TITLE' | translate}} : {{chantier.created_at | date:'dd/MM/yyyy'}}</small><br>
            <small>{{'COMMON.UPDATED_AT.TITLE' | translate}} : {{chantier.updated_at | date:'dd/MM/yyyy'}}</small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <h3>Informations sécurité</h3>
          <div *ngIf="chantier.latest_ar; else noAr">
              <div class="box">
                <p><span class="label pull-left">{{'ARS.REALISATEUR.TITLE' | translate}}</span><br>{{chantier.latest_ar?.realisateur}}</p>
                <p><span class="label pull-left">{{'ARS.DATE_ACCUEIL_SECU.TITLE' | translate}}</span><br>{{chantier.latest_ar?.date_accueil_secu | date:'dd/MM/yyyy'}}</p>
                <p><span class="label pull-left">{{'ARS.DATE_VALIDITE.TITLE' | translate}}</span><br>{{chantier.latest_ar?.date_validite | date:'dd/MM/yyyy'}}</p>
              </div>
              <div class="box">
                <h5><b>En cas d'urgence</b></h5>
                <p><span class="label pull-left mr-2">{{'ARS.CONTACT_INTERNE_SECOURS.SHORTTITLE' | translate}}</span><br><span class="blue">{{chantier.latest_ar?.contact_interne_secours}}</span></p>
                <p><span class="label pull-left mr-2">{{'ARS.TEL_CONTACT_INTERNE_SECOURS.SHORTTITLE' | translate}}</span><br><span class="blue">{{chantier.latest_ar?.tel_contact_interne_secours}}</span></p>
              </div>
          </div>
          <ng-template #noAr>
            <div class="box">
              Aucune analyse de risque pour le moment
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <h3>Suivi de chantier</h3>
          <div class="box box-ar-vs">
            <h5><b>Suivis analyses de risques</b><span class="pull-right">{{'CHANTIERS.ARCOUNT.SHORTTITLE' | translate}} : <span class="blue">{{chantier.ars.length}}</span></span></h5>
            <div class="row">
              <div class="col-md-6"><p><span class="label pull-left mr-2">{{'CHANTIERS.NEXTAR.TITLE' | translate}}</span></p></div>
              <div class="col-md-6"><p  class="text-right blue">{{chantier.latest_ar?.date_validite | date:'dd/MM/yyyy'}}</p></div>
            </div>
            <div class="row">
              <div class="col-md-6"><p><span class="label pull-left mr-2">{{'CHANTIERS.ARS.TITLE' | translate}}</span></p></div>
              <div class="col-md-6"><p class="text-right" *ngFor="let ar of chantier.ars">{{ar.date | date:'dd/MM/yyyy'}}</p></div>
            </div>
          </div>
          <div class="box box-ar-vs">
            <h5><b>Suivis visites de sécurité</b><span class="pull-right">{{'CHANTIERS.VSCOUNT.SHORTTITLE' | translate}} : <span class="blue">{{chantier.vss.length}}</span></span></h5>
            <!-- <div class="row">
              <div class="col-md-6"><p><span class="label pull-left mr-2">{{'CHANTIERS.NEXTVS.TITLE' | translate}}</span></p></div>
              <div class="col-md-6"><p  class="text-right blue">{{chantier.latest_vs?.date_validite | date:'dd/MM/yyyy'}}</p></div>
            </div> -->
            <div class="row">
              <div class="col-md-6"><p><span class="label pull-left mr-2">{{'CHANTIERS.VSS.TITLE' | translate}}</span></p></div>
              <div class="col-md-6"><p class="text-right" *ngFor="let vs of chantier.vss">{{vs.date_visite | date:'dd/MM/yyyy'}}</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <div class="card">
          <h5>Habilitations requises</h5>
          <ul>
            <li *ngFor="let hab of chantier.habilitations">
              {{hab.libelle}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-4" *ngIf="chantier.status.code != 'TERMINE'">
      <div class="col-12">
        <button mat-raised-button color="info" (click)="closeChantier(chantier.id)">
          <mat-icon  svgIcon="status-termine" inline="true" style="width: 21px; margin-top: -6px; margin-right: 6px;"></mat-icon>
          Clore le chantier
        </button>
        <span class="pull-right" 
          matTooltip="Le montant du chantier est inférieur à 20K€, vous ne pouvez pas créer d\'analyse de risque" 
          [matTooltipDisabled]="this.chantier.montant >= 20000">
          <button mat-raised-button color="info" (click)="addAr(chantier.id)" [disabled]="this.chantier.montant < 20000">
            <mat-icon inline="true" style="width: 21px; margin-top: -6px; margin-right: 6px;">add</mat-icon>
            Créer Analyse de risque
          </button>
        </span>
      </div>
    </div>
  </tf-portlet-body>
</tf-portlet>