<div class="tf-widget4 " style="height: 100%; padding: 2em 3em">
	<h4 class="mb-5" *ngIf="title">{{title}}</h4>
	<ng-container *ngFor="let item of data">
		<ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
	</ng-container>
</div>

<ng-template #itemTemplate let-item="item">
	<div class="tf-widget4__item">
		<a href="javascript:;" (click)="goTo(item)" class="tf-widget4__title" *ngIf="item[label] && item.id">
			{{item[label]}}
		</a>
		<span class="tf-widget4__title" *ngIf="item[label] && !item.id">
			{{item[label]}}
		</span>
		<ng-container [ngTemplateOutlet]="actionTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
	</div>
</ng-template>
