<!-- begin:: Footer -->
<div class="tf-footer tf-footer--extended tf-grid__item" id="tf_footer" style="background-image: url('./assets/media/hse-png/bkg-header.png');">
	<div class="tf-footer__bottom">
		<div class="tf-container" [ngClass]="{'tf-container--fluid': fluid}">
			<div class="tf-footer__wrapper">
				<div class="tf-footer__logo"></div>
				<div class="tf-footer__logo">
					<div class="tf-footer__copyright">
						{{today | date:'yyyy'}} © Piman. Tout droits réservés
					</div>
				</div>
				<div class="tf-footer__menu">
					<span class="pointer" (click)="openCguModal(cguModal)">CGU</span>
				</div>
			</div>
		</div>
	</div>
</div>


<ng-template #cguModal let-modal>
  <div class="tf-cgu-modal__head">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="tf-cgu-modal__title">Conditions Générales d'Utilisation</h3>
    <div class="divider"></div>
	</div>
	<div class="tf-cgu-modal__body">
		<iframe id="cgu" [src]="cguPath" width="100%" [height]="iframeHeight+'px'"></iframe>
	</div>
</ng-template>

<!-- end:: Footer -->
