<!-- begin:: Content Head -->
<div class="tf-subheader tf-grid__item" [ngClass]="{'tf-container--clear': clear}" [hidden]="subheaderService.disabled$ | async" id="tf_subheader">
	<div class="tf-container" [ngClass]="{'tf-container--fluid': fluid}">
		<h3 *ngIf="title" class="tf-subheader__title">{{title}}</h3>
		<h4 *ngIf="desc" class="tf-subheader__desc">{{desc}}</h4>
		<div class="tf-subheader__breadcrumbs" *ngIf="breadcrumbs.length > 0">
			<span class="tf-subheader__separator" [hidden]="true"></span>
			<a class="tf-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
			<ng-container *ngFor="let item of breadcrumbs">
				<span class="tf-subheader__breadcrumbs-separator"></span>
				<a [routerLink]="item.page" [queryParams]="item.queryParams" class="tf-subheader__breadcrumbs-link">
					{{item.title}}
				</a>
			</ng-container>
			<!-- <span class="tf-subheader__breadcrumbs-link tf-subheader__breadcrumbs-link--active">Active link</span> -->
		</div>
	</div>
	<div class="tf-subheader__toolbar">
		<div class="tf-subheader__wrapper">
			<a class="btn tf-subheader__btn-daterange" id="tf_dashboard_daterangepicker" data-placement="left" ngbTooltip="Select dashboard daterange">
				<span class="tf-subheader__btn-daterange-title" id="tf_dashboard_daterangepicker_title">Today</span>&nbsp;
				<span class="tf-subheader__btn-daterange-date" id="tf_dashboard_daterangepicker_date">{{today | date:'MMM dd'}}</span>
				<span class="tf-svg-icon tf-svg-icon--sm"
					[inlineSVG]="'./assets/media/icons/svg/Communication/Chat-check.svg'"></span>
			</a>
		
			<div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline" data-placement="left" ngbTooltip="Quick actions">
				<a ngbDropdownToggle href="javascript:;" class="btn btn-icon">
					<span class="tf-svg-icon tf-svg-icon--success tf-svg-icon--md" [inlineSVG]="'./assets/media/icons/svg/Files/File-plus.svg'"></span>
				</a>
				<div ngbDropdownMenu class="dropdown-menu">
					<a class="dropdown-item"><i class="la la-plus"></i> New Report</a>
					<a class="dropdown-item"><i class="la la-user"></i> Add Customer</a>
					<a class="dropdown-item"><i class="la la-cloud-download"></i> New Download</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item"><i class="la la-cog"></i> Settings</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end:: Content Head -->
