<!-- begin:: Page -->
<ng-container *ngIf="selfLayout !== 'blank'; else blankLayout">
	<!-- begin:: Header Mobile -->
	<tf-header-mobile></tf-header-mobile>
	<!-- end:: Header Mobile -->

	<div class="tf-grid tf-grid--hor tf-grid--root" >
		<!-- begin::Body -->
		<!-- begin:: Header -->
		<tf-header></tf-header>
		<!-- end:: Header -->
		<div class="tf-grid__item tf-grid__item--fluid tf-grid tf-grid--ver tf-page">
			<!-- begin:: Aside Left -->
			<ng-container *ngIf="asideDisplay">
				<button class="tf-aside-close" id="tf_aside_close_btn"><i class="la la-close"></i></button>
				<tf-aside-left></tf-aside-left>
			</ng-container>
			<!-- end:: Aside Left -->

			<div class="tf-grid__item tf-grid__item--fluid tf-grid tf-grid--hor tf-wrapper" id="tf_wrapper">
				

				<!-- begin:: Content -->
				<div class="tf-content tf-grid__item tf-grid__item--fluid tf-grid tf-grid--hor" id="tf_body">
					<div class="tf-content tf-grid__item tf-grid__item--fluid tf-grid tf-grid--hor" id="tf_content">
						<!-- begin:: Content Head -->
						<!-- <tf-subheader *ngIf="subheaderDisplay"></tf-subheader> -->
						<!-- end:: Content Head -->

						<!-- begin:: Content Body -->
						<div tfContentAnimate class="tf-container tf-grid__item tf-grid__item--fluid" [ngClass]="{'tf-container--fluid': fluid}">
							<router-outlet></router-outlet>
						</div>
						<!-- end:: Content Body -->
					</div>
				</div>
				<!-- end:: Content -->

				<tf-footer></tf-footer>
			</div>
		</div>
		<!-- end:: Body -->

		<tf-quick-panel></tf-quick-panel>
		<tf-scroll-top></tf-scroll-top>
		<tf-sticky-toolbar></tf-sticky-toolbar>
	</div>
</ng-container>
<!-- end:: Page -->

<ng-template #blankLayout>
	<router-outlet></router-outlet>
</ng-template>
