:host::ng-deep {
    .card{
        padding: 2em 2em 0;    
        height: 100%;
        h5{
            align-items: center;
            display: flex;
            b{
                margin-left: 10px;
            }
        }
    }
}

.badge-pill {
    padding-right: 0.7em;
    padding-left: 0.7em;
    border-radius: 10rem;
}