:host {
    ::ng-deep {
        .ck.ck-editor__editable_inline {
            border: none;
        }

        .ck.ck-toolbar {
            border: none;
        }

        .ck.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected, .ck.ck-editor__editable.ck-blurred .ck-widget.ck-widget_selected:hover {
            outline: none;
        }

        .ck-widget__selection-handle {
            display: none;
        }
    }
}