<tf-search-list-bar [(ngModel)]="filter" (change)="getFormations()" [hasAdvancedSearch]="true" [showFilters]="showFilters" (advancedSearchChange)="advancedSearchChanged($event)" class="row row-filters"></tf-search-list-bar>
<tf-formation-filters [hidden]="!showFilters" (change)="udpateFilters($event)" class="row"></tf-formation-filters>

<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
	<tf-portlet-body class="tf-portlet__body--fit" style="padding: 20px 15px;" *ngIf="formationsList">
		<div class="row px-2">
			<div class="col">
				<p>{{pagination.total}} {{'NOTIF.RESULT_FOUND.TITLE' | translate}}</p>
			</div>

			<div class="col">
				<button class="pull-right btn-small mb-4" mat-raised-button color="info" (click)="addFormation()">Nouvelle formation</button>
			</div>
		</div>
		<div class="table-responsive">
			<table mat-table [dataSource]="formationsList.data">
				<!-- libelle Column -->
				<ng-container matColumnDef="libelle" sticky>
					<th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('libelle')">
						{{'FORMATIONS.LABEL.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('libelle') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('libelle') && {'opacity': 1}"></i>
					</th>
					<td mat-cell *matCellDef="let formation" (click)="viewFormation(formation.id)" class="pointer"> {{formation.libelle}} </td>
				</ng-container>

				<!-- organisme_formation Column -->
				<ng-container matColumnDef="organisme_formation">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('organisme_formation')"> 
						{{'FORMATIONS.TRAINING_ORGANIZATION.TITLE' | translate}} 
						<i class="fa" [ngClass]="isOrderedBy('organisme_formation') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('organisme_formation') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let formation"  (click)="viewFormation(formation.id)" class="pointer text-center"> {{formation.organisme_formation}} </td>
				</ng-container>
	
				<!-- habilitation Column -->
				<ng-container matColumnDef="habilitation">
					<th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('to_habilitation')">
						{{'FORMATIONS.HABILITATION.TITLE' | translate}}
						<i class="fa" [ngClass]="isOrderedBy('to_habilitation') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('to_habilitation') && {opacity:1}"></i>
					</th>
					<td mat-cell *matCellDef="let formation" (click)="viewFormation(formation.id)" class="text-center pointer"> {{formation.to_habilitation? 'Oui': 'Non'}} </td>
				</ng-container>

				<ng-container matColumnDef="action" stickyEnd >
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let formation" class="text-right">
						<button mat-icon-button color="primary" matTooltip="Formations" [matMenuTriggerFor]="actionMenu" [matMenuTriggerData]="formation" (click)="selectedFormation = formation">
							<mat-icon>more_vert</mat-icon>
						</button>
					</td>
				</ng-container>	

				<tr mat-header-row *matHeaderRowDef="displayedFormationColumns"></tr>
				<tr mat-row class="highlight-row" *matRowDef="let row; columns: displayedFormationColumns;"></tr>
			</table>

		</div>

		<tf-pagination (change)="changePagination()" [(ngModel)]="pagination" ngDefaultControl></tf-pagination>

	</tf-portlet-body>
</tf-portlet>

<mat-menu #actionMenu="matMenu" class="action-menu">
	<!-- *ngxPermissionsOnly="['ROOT']" -->
	<button mat-icon-button color="primary" matTooltip="{{'ACTION.READ' | translate}}" (click)="viewFormation(selectedFormation.id)">
		<mat-icon>visibility</mat-icon>
	</button>
    <button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editFormation(selectedFormation.id)">
        <mat-icon>edit</mat-icon>
    </button>
	<!-- <button mat-icon-button color="warn" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteFormation(selectedFormation.id)">
		<mat-icon>delete</mat-icon>
	</button> -->
</mat-menu>