
.form-row-flex{
    display: flex;
    flex-direction: row;
}

.no_border{
    border: none;
}

.form-row-flex label{
    line-height: 3;
}

.add-signature-line-btn{
    color:#55cec7;
    font-size: 1em;
    cursor: pointer;
}

.sign-line-options{
    float: right;
    line-height: 3;
}

.full-height{
    min-height: 100px;
}

.mat-row:hover{
    background-color: transparent!important;
}

.mat-table {
    th.mat-header-cell {
        width: 33%;
    }
}
