table {
    width: 100%;
}

.form-row-flex{
    display: flex;
    flex-direction: row;
}

.no_border{
    border: none;
}

.form-row-flex label{
    line-height: 3;
}

.add-signature-line-btn{
    color:#55cec7;
    font-size: 1em;
    cursor: pointer;
}

.sign-line-options{
    float: right;
    line-height: 3;
}