<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8" id="portlet-causerie" *ngIf="causerie">
	<div class="tf-portlet-header ">
		<span class="title">
			<a [routerLink]="['/causeries/list']">{{'MENU.SUB_CAUSERIES.LIST' | translate}}</a><span class="divider">></span><span class="id-item">{{causerie.libelle}}</span>
		</span>
		<div ngbDropdown placement="bottom-right" class="d-inline-block pull-right">
			<button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions" style="line-height: 0;height: 0;">
				<mat-icon>more_vert</mat-icon>
			</button>
			<div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
				
				<button mat-icon-button color="primary" matTooltip="{{'CAUSERIES.ACTION.ADD_PARTICIPANTS' | translate}}" (click)="openAddParticipants()" *ngIf="isUserOrganizer() || hasPermission('causerie_canUpdate')">
					<mat-icon>group_add</mat-icon>
				</button>

				<button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editCauserie(causerie.id)" *ngIf="isUserOrganizer() || hasPermission('causerie_canUpdate')">
					<mat-icon>edit</mat-icon>
				</button>
				
				<button mat-icon-button color="warn" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteCauserie(causerie.id)" *ngxPermissionsOnly="['causerie_canArchieve']">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<tf-portlet-body class="tf-portlet__body--fit">
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<h3>{{'EES.CARD.GENERAL_INFOS.TITLE' | translate}}</h3>
					<div class="box">
						<p><span class="label pull-left mr-2">{{'CAUSERIES.LIBELLE' | translate}}</span><span class="">{{causerie.libelle}}</span></p>
						<p><span class="label pull-left mr-2">{{'CAUSERIES.DATE' | translate}}</span><span class="">{{causerie.date ? (causerie.date | date:'dd/MM/yyyy') : '&nbsp;'}}</span></p>
						<p><span class="label pull-left mr-2">{{'CAUSERIES.LIEU' | translate}}</span><span class="">{{causerie.lieu ? causerie.lieu : '&nbsp;'}}</span></p>
						<p><span class="label pull-left mr-2">{{'CAUSERIES.CREATOR' | translate}}</span><span class="">{{causerie.creator ? causerie.creator.fullname : '&nbsp;'}}</span></p>
						<p><span class="label pull-left mr-2">{{'CAUSERIES.ANIMATOR' | translate}}</span><span class="">{{causerie.organisateur ? causerie.organisateur.fullname : '&nbsp;'}}</span></p>
						<p><span class="label pull-left mr-2">{{'CAUSERIES.PARTICIPANTS' | translate}}</span><span class="">{{causerie.participants_count}}</span></p>
					</div>

					<div class="tf-divider mb-3">
						<span></span>
					</div>
					<h3>{{'CAUSERIES.SUJET' | translate}}</h3>
					<div class="box" style="flex:1">
						<p class="text-justify">{{causerie.sujet}}</p>
					</div>

					<div class="tf-divider">
						<span></span>
					</div>
					<div class="box text-center">
						<small>{{'COMMON.CREATED_AT.TITLE' | translate}} : {{causerie.created_at | date:'dd/MM/yyyy'}}</small><br>
						<small>{{'COMMON.UPDATED_AT.TITLE' | translate}} : {{causerie.updated_at | date:'dd/MM/yyyy'}}</small>
					</div>
				</div>
			</div>

			<div class="col-md-4 d-flex flex-column">
				<div class="row flex-1">
					<div class="col-12 pb-2">
						<div class="card">
							<span class="card-editor">
								<button mat-icon-button matTooltip="{{'ACTION.ADD_DOCUMENT' | translate}}" (click)="openAddImageModal()">
									<mat-icon color="primary">add</mat-icon>
								</button>
							</span>
							<h4>
								{{'CAUSERIES.CARD.IMAGES' | translate}}
							</h4>
							<div class="box" style="flex:1">
								<div class="picsum-img-wrapper pointer d-flex flex-wrap" *ngIf="causerie.images.length; else noImages">
									<ng-container *ngFor="let image of causerie.images; let i = index">
										<div class="img-card m-2 mr-3">
											<img 
												[src]="image.src | safe:'resourceUrl'" 
												(click)="openModal(causerie.images, i); $event.stopPropagation()" 
												[title]="image.libelle">
											<button mat-icon-button matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteImage(image.id)">
												<mat-icon color="primary">close</mat-icon>
											</button>
										</div>
									</ng-container>
								</div>
								<ng-template #noImages>
									<div class="text-center mt-4 font-italic">
										{{'CAUSERIES.NOTIF.NO_IMAGE.TITLE' | translate}}
									</div>
								</ng-template>
							</div>
						</div>
					</div>
				</div>
				<div class="row flex-1">
					<div class="col-12">
						<div class="card pb-2">
							<span class="card-editor">
								<button mat-icon-button matTooltip="{{'ACTION.ADD_DOCUMENT' | translate}}" (click)="openAddDocumentModal()">
									<mat-icon color="primary">add</mat-icon>
								</button>
							</span>
							<h4>
								{{'CAUSERIES.CARD.DOCS' | translate}}
							</h4>
							<div class="box" style="flex:1">
								<div class="picsum-img-wrapper d-flex flex-wrap" *ngIf="causerie.docs.length; else noDocument">
									<ng-container *ngFor="let doc of causerie.docs; let i = index">
										<div class="doc-card m-2 mr-3 pointer" matTooltip="{{doc.libelle}}" (click)="showDocument(doc)">
											<img 
												alt="doc" 
												class="shdw-5" 
												src="./assets/media/hse-svg/picto-file.svg">
											<div class="mt-2">{{doc.libelle | truncate:15}}</div>
											<button mat-icon-button matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteDocument(doc.id)">
												<mat-icon color="primary">close</mat-icon>
											</button>
										</div>
									</ng-container>
								</div>
								<ng-template #noDocument>
									<div class="text-center mt-4 font-italic">
										{{'CAUSERIES.NOTIF.NO_DOCUMENT.TITLE' | translate}}
									</div>
								</ng-template>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<h3>
						{{'CAUSERIES.INSCRIPTIONS' | translate}}
						<button (click)="participate()" class="btn btn-primary btn-elevate pull-right" *ngIf="!isUserOrganizer() && !hasParticipate()">{{'CAUSERIES.ACTION.ADD_SELF_AS_PARTICIPANT' | translate}}</button>
						<button (click)="editFeedBackParticipant()" class="btn btn-primary btn-elevate pull-right" *ngIf="!isUserOrganizer() && hasParticipate()">{{'CAUSERIES.ACTION.EDIT_FEEDBACK_PARTICIPANT' | translate}}</button>
					</h3>
					<div class="box box-chantiers " style="flex: 1;">
						<div class="chat-block" #scrollMe style="flex: 1;" *ngIf="causerie.participants.length > 0; else noParticipants">
							<div class="row chat-row" *ngFor="let participant of causerie.participants">
								<div class="card col-md-12">
									<span class="text-right" *ngIf="isUserOrganizer() || hasPermission('causerie_canUpdate')">
										<button mat-icon-button color="warn" class="btn-small" (click)="removeParticipant(participant.id)">
											<mat-icon>delete</mat-icon>
										</button>
									</span>
									<p class="text-left comment-title"><small>{{participant.fullname}}, {{participant.pivot.updated_at | date:'d MMM y, hh:mm'}}</small></p>
									<p class="text-left">{{participant.pivot.retour_participant ? participant.pivot.retour_participant : 'Aucun retour sur la causerie'}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</tf-portlet-body>
</tf-portlet>


<ng-template #noParticipants>
	<p class="text-left">
		{{'CAUSERIES.CARD.NO_INSCRIPTIONS' | translate}}
	</p>
</ng-template>
