<!-- <div  style="height: 69px;"> -->
  <tf-search-list-bar [(ngModel)]="filter" (change)="getChantiers()" [hasAdvancedSearch]="true" [showFilters]="showFilters" class="row row-filters"></tf-search-list-bar>
  <tf-chantier-filters  *ngIf="showFilters" class="row row-filters"></tf-chantier-filters>
  <div class="row" *ngIf="showFilters">
    <div class="col-xl-12">
      <h1>COucou</h1>
    </div>
  </div>
<!-- </div> -->
<tf-portlet class="tf-portlet--height-fluid mat-elevation-z8">
	<tf-portlet-body class="tf-portlet__body--fit" style="padding: 15px;" *ngIf="chantiersList">
    
    <table mat-table [dataSource]="chantiersList.data" >

      <!-- number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('numero')">
          {{'CHANTIERS.NUMBER.SHORTTITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('numero') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('numero') && {'opacity': 1}"></i>
        </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="pointer"> {{chantier.numero}} </td>
      </ng-container>

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('nom')">
          {{'CHANTIERS.NAME.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('nom') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('nom') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="pointer"> {{chantier.nom}} </td>
      </ng-container>

      <!-- client Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef class="th-order" (click)="setOrder('client')">
          {{'CHANTIERS.CLIENT.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy('client') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('client') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="pointer"> {{chantier.client | truncate:35}} </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('status.libelle')"> 
            {{'CHANTIERS.STATUS.TITLE' | translate}} 
            <i class="fa" [ngClass]="isOrderedBy('status.libelle') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('status.libelle') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="text-center pointer" [ngStyle]="chantier.status && chantier.status.color && {'color':chantier.status.color}"> {{chantier.status?.libelle}} </td>
      </ng-container>

      <!-- charge_affaire Column -->
      <ng-container matColumnDef="charge_affaire">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder(['users.nom', 'users.prenom'])"> 
          {{'CHANTIERS.CHIEF.TITLE' | translate}} 
          <i class="fa" [ngClass]="isOrderedBy(['users.nom', 'users.prenom']) && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy(['users.nom', 'users.prenom']) && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="text-center pointer"> {{chantier.charge_affaire | initiales}} </td>
      </ng-container>
      
      <!-- montant Column -->
      <ng-container matColumnDef="montant">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('montant')">
          {{'CHANTIERS.BUDGET.TITLE' | translate}}
          <i class="fa" [ngClass]="isOrderedBy('montant') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('montant') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="text-center pointer"> {{chantier.montant | currency:'EUR':'€'}} </td>
      </ng-container>

      <!-- date_demarrage Column -->
      <ng-container matColumnDef="date_demarrage">
        <th mat-header-cell *matHeaderCellDef class="text-center th-order" (click)="setOrder('date_demarrage')">
          {{'CHANTIERS.DATE_DEMARRAGE.SHORTTITLE' | translate}}
          <i class="fa" [ngClass]="isOrderedBy('date_demarrage') && filter.order_way == 'desc'?'fa-caret-down':'fa-caret-up'" [ngStyle]="isOrderedBy('date_demarrage') && {opacity:1}"></i>
        </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="text-center pointer"> {{chantier.date_demarrage | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- ars_count Column -->
      <ng-container matColumnDef="ars_count">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'CHANTIERS.ARCOUNT.TITLE' | translate}} </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="text-center pointer"> {{chantier.ars_count}} </td>
      </ng-container>

      <!-- latest_ar Column -->
      <ng-container matColumnDef="latest_ar">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'CHANTIERS.LASTAR.TITLE' | translate}} </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="text-center pointer"> 
          <span *ngIf="chantier.ars_count > 0">{{chantier.latest_ar?.date | date:'dd/MM/yyyy'}}</span> 
          <span *ngIf="chantier.ars_count == 0">-</span> 
        </td>
      </ng-container>

      <!-- vss_count Column -->
      <ng-container matColumnDef="vss_count">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'CHANTIERS.VSCOUNT.TITLE' | translate}} </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="text-center pointer"> {{chantier.vss_count}} </td>
      </ng-container>

      <!-- latest_vs Column -->
      <ng-container matColumnDef="latest_vs">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{'CHANTIERS.LASTVS.TITLE' | translate}} </th>
        <td mat-cell *matCellDef="let chantier" (click)="viewChantier(chantier.id)" class="text-center pointer"> 
          <span *ngIf="chantier.vss_count > 0">{{chantier.latest_vs?.date_visite | date:'dd/MM/yyyy'}}</span> 
          <span *ngIf="chantier.vss_count == 0">-</span> 
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let chantier"> 
          
          <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button ngbDropdownToggle mat-icon-button color="primary" matTooltip="Actions">
              <mat-icon>more_vert</mat-icon>
              <!-- <i class="flaticon-more"></i> -->
            </button>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-anim dropdown-menu-top-unround " style="min-width: max-content; padding: 5px;">
              <!-- *ngxPermissionsOnly="['ADMIN']" -->
              <button mat-icon-button color="primary" matTooltip="{{'ACTION.READ' | translate}}" (click)="viewChantier(chantier.id)">
                <mat-icon>visibility</mat-icon>
                <!-- <i class="flaticon-more"></i> -->
              </button>
              <button mat-icon-button color="info" matTooltip="{{'ACTION.EDIT' | translate}}" (click)="editChantier(chantier.id)">
                <mat-icon>edit</mat-icon>
                <!-- <i class="flaticon-more"></i> -->
              </button>
              <button mat-icon-button color="accent" matTooltip="{{'ACTION.DELETE' | translate}}" (click)="deleteChantier(chantier.id)">
                <mat-icon>delete</mat-icon>
                <!-- <i class="flaticon-more"></i> -->
              </button>
                
            </div>
          </div>
        </td>
      </ng-container>


  
      <tr mat-header-row *matHeaderRowDef="displayedChantierColumns"></tr>
      <tr mat-row class="highlight-row" *matRowDef="let row; columns: displayedChantierColumns;"></tr>
    </table>
  
    <tf-pagination (change)="changePagination()" [(ngModel)]="pagination" ngDefaultControl></tf-pagination>
  
	</tf-portlet-body>
</tf-portlet>
