// import login css
@import "sass/pages/login/login-1";

tf-auth, .tf-login {
    position: fixed;
	height: 100%;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	.mat-form-field {
		width: 100%;
	}

	// add extra right padding when displaying spinner in button
	.tf-spinner {
		padding-right: 3rem !important;
	}
}
