<div class="tf-grid tf-grid--hor tf-grid--root tf-login tf-login--v1" id="tf_login" style="background-image: url(./assets/media/hse-png/elemenyts-design.png) norepeat;">
	<div class="tf-grid__item tf-grid__item--fluid tf-grid tf-grid--desktop tf-grid--ver-desktop tf-grid--hor-tablet-and-mobile">
		<!--begin::Aside-->
		<div class="tf-grid__item tf-grid__item--order-tablet-and-mobile-2 tf-grid tf-grid--hor tf-login__aside">
			<div class="tf-grid__item">
				<!-- <a href="javascript:;" class="tf-login__logo">  -->
					<!-- <img src="./assets/media/hse-png/logo.png" alt=""> -->
				<!-- </a> -->
			</div>
			<!-- <div class="tf-grid__item tf-grid__item--fluid tf-grid tf-grid--ver">
				<div class="tf-grid__item tf-grid__item--middle">
					<h3 class="tf-login__title">Bienvenue sur le site HSE de CVTI !</h3>
					<h4 class="tf-login__subtitle"></h4>
				</div>
			</div> -->
			<div class="tf-grid__item">
				<div class="tf-login__info">
					<div class="tf-login__copyright">
						© {{today|date:'yyyy'}} CVTI - HSE
					</div>
					<div class="tf-login__menu">
						<!-- <a href="javascript:;" class="tf-link">Privacy</a>
						<a href="javascript:;" class="tf-link">Legal</a>
						<a href="javascript:;" class="tf-link">Contact</a> -->
					</div>
				</div>
			</div>
		</div>
		<!--begin::Aside-->

		<!--begin::Content-->
		<div class="tf-grid__item tf-grid__item--fluid  tf-grid__item--order-tablet-and-mobile-1 tf-login__wrapper">
			<router-outlet></router-outlet>
		</div>
		<!--end::Content-->
	</div>
</div>
