// import login css
@import "sass/pages/login/login-1";

tf-auth, .tf-login {
	height: 100%;

	.mat-form-field {
		width: 100%;
	}

	// add extra right padding when displaying spinner in button
	.tf-spinner {
		padding-right: 3rem !important;
	}
}
