<p>
    <span class="label pull-left mr-2">{{metric.libelle}}</span>
    <ng-container *ngIf="!metric.is_bool">
      <span class="" *ngIf="metric.pivot.value != null; else noDataFound">{{metric.pivot.value}} {{metric.unit}}</span>
    </ng-container>
    <ng-container *ngIf="metric.is_bool">
      <span>
        <mat-radio-group [(ngModel)]="metric.pivot.value">
          <mat-radio-button class="metric-radio" [value]="1">{{'COMMON.YES' | translate}}</mat-radio-button>
          <mat-radio-button class="metric-radio" [value]="0">{{'COMMON.NO' | translate}}</mat-radio-button>
        </mat-radio-group>
      </span>
    </ng-container>
</p>

<ng-template #noDataFound>
    <span class="no-data-label">
      {{'COMMON.NO_DATA_FOUND.TITLE' | translate}}
    </span>
</ng-template>