<p>
    <span class="label pull-left mr-2">{{metric.libelle}}</span>
    <ng-container *ngIf="!metric.is_bool">
      <span class="" *ngIf="metric.pivot.value != null; else noDataFound">{{metric.pivot.value}} {{metric.unit}}</span>
    </ng-container>
    <ng-container *ngIf="metric.is_bool">
      <span>
        <mat-radio-group [(ngModel)]="metric.pivot.value">
          <mat-radio-button class="metric-radio" disabled [value]="1">Oui</mat-radio-button>
          <mat-radio-button class="metric-radio" disabled [value]="0">Non</mat-radio-button>
        </mat-radio-group>
      </span>
    </ng-container>
</p>

<ng-template #noDataFound>
    <span class="no-data-label">
      Non renseigné
    </span>
</ng-template>