<div class="tf-grid__item tf-grid__item--fluid">
	<div class="row">
		<div class="col-md-12">

			<!--begin::Portlet-->
			<div class="tf-portlet">
				<div class="tf-portlet__head tf-portlet__head--lg">
					<div class="tf-portlet__head-label">
						<h3 class="tf-portlet__head-title">Change password</h3>
					</div>
					
				</div>

				<!--begin::Form-->
				<form class="tf-form form-card" [formGroup]="changePasswordForm">
					<div class="tf-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>New password :</label>
								<input type="password" class="form-control" [formControl]="password" [ngClass]="{'is-invalid' : (password.value !== confirmPassword.value) && confirmPassword.touched}"placeholder="New password">
								<span class="form-text text-muted">Min : 6 characters</span>
							</div>
							<div class="col-lg-6">
								<label>Confirm password :</label>
								<input type="password" class="form-control" [formControl]="confirmPassword" [ngClass]="{'is-invalid' : (password.value !== confirmPassword.value) && confirmPassword.touched}" placeholder="Confirm password">
							</div>
						</div>
						<div class="row">
							<div class="offset-10 col-2">
								<button type="button" class="btn btn-primary float-right" (click)="onSubmit()">Change</button>
							</div>
						</div>
					</div>
				</form>

				<!--end::Form-->
			</div>

			<!--end::Portlet-->

			<!--end::Portlet-->
		</div>
	</div>
</div>